#maincontent a {
  color: inherit;
  text-decoration: none;
}

#maincontent ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#maincontent .bc-description__content p {
  margin-bottom: 0;
}

#maincontent .bc-description__content h3 {
  text-align: left;
}

#maincontent p {
  margin: 0;
  padding: 0;
  text-align: left;
}

#maincontent h1,
#maincontent h2,
#maincontent h3,
#maincontent h4,
#maincontent h5,
#maincontent h6 {
  padding: 0;
  margin: 0;
  text-align: left;
  text-transform: none;
  font-weight: bold;
}

#maincontent {
  margin: 0 auto;
  overflow: hidden;
  background-color: #ffffff;
}

#maincontent p::first-letter {
  padding-left: 0;
}

[class*=__container] {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

#maincontent img {
  opacity: 1;
  max-width: 100%;
  display: block;
  margin: 0;
}

#maincontent img:hover {
  opacity: 1;
}

#maincontent .box {
  margin-bottom: 90px;
}
#maincontent .box__bg {
  background-image: url(https://cdn.comfy.ua/media/x/img3/1870614/header_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

#maincontent .top-box {
  width: 85%;
  margin: 0 auto;
}
#maincontent .top-box__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
#maincontent .top-box__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 70%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
}
#maincontent .top-box__text {
  max-width: 600px;
  margin-top: 66px;
  margin-right: 200px;
}
#maincontent .top-box__text p {
  font-size: 24px;
  line-height: 1.2;
  color: #BCBBBB;
}
#maincontent .top-box__text img {
  margin-bottom: 20px;
}
#maincontent .top-box__image {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 30%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}
#maincontent .top-box__image img {
  margin: 0 auto;
}
#maincontent .top-box__img {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 70%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
  margin-right: 20px;
}
#maincontent .top-box__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#maincontent .top-box__header {
  font-size: 34px;
  line-height: 50px;
  color: #FFFFFF;
  display: inline-block;
  margin-bottom: 34px;
}
#maincontent .top-box__art {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
  color: #FFFFFF;
  display: inline-block;
  background: #00AFFF;
  padding: 11px 29px;
  -webkit-border-top-left-radius: 44px;
          border-top-left-radius: 44px;
  -webkit-border-bottom-right-radius: 44px;
          border-bottom-right-radius: 44px;
}

#maincontent .row-maincontent__wrapper {
  margin-bottom: 90px;
}
#maincontent .row-maincontent__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#maincontent .row-maincontent__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  z-index: 2;
}
#maincontent .row-maincontent__media {
  position: relative;
}
#maincontent .row-maincontent__image {
  position: relative;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 60%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  z-index: 0;
}
#maincontent .row-maincontent__bg {
  position: absolute;
  top: 43%;
  left: -29%;
  right: 52%;
}
#maincontent .row-maincontent__text {
  padding: 10px 135px 10px 20px;
}
#maincontent .row-maincontent__text h2 {
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #002C5C;
}
#maincontent .row-maincontent__text p {
  font-size: 20px;
  line-height: 1.2;
}
#maincontent .row-maincontent__text span {
  font-weight: 700;
}

#maincontent .letter__box {
  position: relative;
}

#maincontent .box-letter__bg {
  background-image: url(https://cdn.comfy.ua/media/x/img3/1870614/bg_02.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
#maincontent .box-letter__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#maincontent .box-letter__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  width: 85%;
  margin: 75px 0;
  padding: 0 70px;
}
#maincontent .box-letter__text {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 70%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
}
#maincontent .box-letter__text p {
  font-size: 20px;
  line-height: 1.2;
}
#maincontent .box-letter__img {
  position: relative;
}
#maincontent .box-letter__img::before {
  content: "";
  position: absolute;
  background-image: url(https://cdn.comfy.ua/media/x/img3/1870614/plus.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  width: 65px;
  height: 65px;
  top: 45%;
  left: 71%;
  right: 80%;
  bottom: 0;
}
#maincontent .box-letter__img::after {
  content: "";
  position: absolute;
  background-image: url(https://cdn.comfy.ua/media/x/img3/1870614/plus.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  width: 65px;
  height: 65px;
  top: 45%;
  left: 97%;
  right: 85%;
  bottom: 0;
}

#maincontent .antiallergic__box {
  margin-top: 115px;
}

#maincontent .box-antiallergic__wrapper {
  position: relative;
}
#maincontent .box-antiallergic__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
#maincontent .box-antiallergic__image {
  position: relative;
  z-index: 3;
}
#maincontent .box-antiallergic__bg {
  position: absolute;
  left: 14%;
  right: 50%;
  top: 0;
  bottom: 0;
}
#maincontent .box-antiallergic__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 70%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
}
#maincontent .box-antiallergic__text {
  position: relative;
  margin-left: 8%;
  margin-right: 8%;
  z-index: 2;
}
#maincontent .box-antiallergic__text h2 {
  font-size: 32px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #002C5C;
  margin-bottom: 15px;
}
#maincontent .box-antiallergic__text p {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 15px;
}
#maincontent .box-antiallergic__pos::before {
  content: "";
  position: absolute;
  background-image: url(https://cdn.comfy.ua/media/x/img3/1870614/corona_b.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  width: 103px;
  height: 102px;
  top: 93%;
  left: 84%;
  right: 16%;
  bottom: 0;
}
#maincontent .box-antiallergic__pos::after {
  content: "";
  position: absolute;
  background-image: url(https://cdn.comfy.ua/media/x/img3/1870614/corona_s.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  width: 60px;
  height: 51px;
  top: 115%;
  left: 97%;
  right: 5%;
  bottom: 0;
}

#maincontent .box-eco__bg {
  background-image: url(https://cdn.comfy.ua/media/x/img3/1870614/bg_03.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
#maincontent .box-eco__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5%;
  padding-bottom: 5%;
}
#maincontent .box-eco__text {
  width: 75%;
}
#maincontent .box-eco__text h2 {
  font-size: 32px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #00AFFF;
  text-align: center;
  margin-bottom: 15px;
}
#maincontent .box-eco__text p {
  font-size: 20px;
  line-height: 1.2;
  color: #FFFFFF;
  text-align: center;
}
#maincontent .box-eco__img {
  margin-bottom: 15px;
}

#maincontent .antibac__box {
  margin-top: 90px;
}

#maincontent .box-antibac__text {
  padding-right: 10%;
}

#maincontent .box-save__bg {
  background-image: url(https://cdn.comfy.ua/media/x/img3/1870614/footer_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

#maincontent .programs__box {
  margin-bottom: 180px;
}

#maincontent .box-programs__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 121px;
}
#maincontent .box-programs__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
     -moz-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-top: 45px;
}
#maincontent .box-programs__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 40%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  max-height: 140px;
}
#maincontent .box-programs__item h2 {
  font-size: 32px;
  line-height: 1.2;
  color: #002C5C;
  text-transform: uppercase;
  margin-bottom: 6px;
  max-height: 77px;
}
#maincontent .box-programs__item p {
  font-size: 20px;
  line-height: 1.2;
  background: #F0F0F0;
  padding: 5%;
}
#maincontent .box-programs__item hr {
  border-color: #00AFFF;
}
#maincontent .box-programs__media {
  position: relative;
}
#maincontent .box-programs__image {
  position: relative;
}
#maincontent .box-programs__bg_right::before {
  content: "";
  position: absolute;
  border: 2px solid #00AFFF;
  width: 4%;
  height: 18%;
  top: 19%;
  left: 5%;
}
#maincontent .box-programs__bg_right::after {
  content: "";
  position: absolute;
  border: 2px solid #00AFFF;
  width: 8%;
  height: 8%;
  top: 59%;
  left: 4%;
}
#maincontent .box-programs__bg_left::before {
  content: "";
  position: absolute;
  border: 2px solid #00AFFF;
  width: 50%;
  height: 85%;
  top: 13%;
  left: 47.5%;
  right: 0;
  bottom: 0;
}
#maincontent .box-programs__bg_left::after {
  content: "";
  position: absolute;
  border: 2px solid #00AFFF;
  width: 13%;
  height: 29%;
  top: 63%;
  left: 68%;
}
#maincontent .box-programs__arrow-down_left::before {
  content: "";
  position: absolute;
  background-image: url(https://cdn.comfy.ua/media/x/img3/1870614/arrow_down.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  width: 16px;
  height: 290px;
  top: 45px;
  left: -9px;
  right: 88%;
  bottom: 0;
  z-index: 5;
}
#maincontent .box-programs__arrow-down_right::before {
  content: "";
  position: absolute;
  background-image: url(https://cdn.comfy.ua/media/x/img3/1870614/arrow_down.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  width: 16px;
  height: 290px;
  top: 26%;
  left: 98%;
  z-index: 5;
}
#maincontent .box-programs__arrow-up_left::before {
  content: "";
  position: absolute;
  background-image: url(https://cdn.comfy.ua/media/x/img3/1870614/arrow_up.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  width: 16px;
  height: 290px;
  top: -241px;
  left: -13px;
  right: 88%;
  bottom: 0;
}
#maincontent .box-programs__arrow-up_right::before {
  content: "";
  position: absolute;
  background-image: url(https://cdn.comfy.ua/media/x/img3/1870614/arrow_left.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  width: 155px;
  height: 16px;
  top: -213px;
  left: 67%;
  right: 88%;
  bottom: 0;
}
#maincontent .box-programs__arrow-up_right::after {
  content: "";
  position: absolute;
  height: 250px;
  border: 1px solid #00AFFF;
  top: -205px;
  left: 100%;
  right: 0;
}
#maincontent .box-programs__item_down {
  margin-top: 75px;
}

@media screen and (max-width: 1440px) {
  #maincontent .box-programs__arrow-up_right::before {
    width: 10.7638888889vw;
  }
}
@media screen and (max-width: 1240px) {
  #maincontent .box-programs__arrow-down_left::before, #maincontent .box-programs__arrow-down_right::before, #maincontent .box-programs__arrow-up_left::before, #maincontent .box-programs__arrow-up_right::before {
    display: none;
  }
  #maincontent .box-programs__arrow-down_left::after, #maincontent .box-programs__arrow-down_right::after, #maincontent .box-programs__arrow-up_left::after, #maincontent .box-programs__arrow-up_right::after {
    display: none;
  }
}
@media screen and (max-width: 1160px) {
  #maincontent .top-box__header {
    font-size: 25px;
    line-height: 30px;
  }
  #maincontent .top-box__art {
    font-size: 20px;
    line-height: 30px;
  }
  #maincontent .box-antiallergic__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #maincontent .box-antiallergic__media {
    position: relative;
    width: 100%;
  }
  #maincontent .box-antiallergic__text {
    margin-left: 0;
    margin-right: 0;
  }
  #maincontent .box-antiallergic__text h2, #maincontent .box-antiallergic__text p {
    text-align: center;
  }
  #maincontent .box-antiallergic__bg {
    left: 48%;
    right: 17%;
  }
  #maincontent .box-antiallergic__pos::before {
    top: 174%;
    left: 77%;
  }
  #maincontent .box-antiallergic__pos::after {
    top: 220%;
    left: 89%;
  }
}
@media screen and (max-width: 1023.98px) {
  #maincontent .box-letter__img::before {
    width: 50px;
    height: 50px;
  }
  #maincontent .box-letter__img::after {
    width: 50px;
    height: 50px;
  }
  #maincontent .programs__box {
    margin-bottom: 3%;
  }
  #maincontent .box-programs__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
       -moz-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    max-height: 100%;
    margin-bottom: 1%;
  }
  #maincontent .box-programs__item {
    max-height: 100%;
  }
  #maincontent .box-programs__item p {
    padding: 2%;
    background-color: #fff;
  }
  #maincontent .box-programs__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
       -moz-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    max-height: 100%;
    margin-top: 3%;
  }
  #maincontent .box-programs__item_down {
    margin-top: 0;
  }
}
@media screen and (max-width: 991.98px) {
  #maincontent .top-box__text p {
    font-size: 20px;
  }
  #maincontent .top-box__header {
    font-size: 20px;
  }
  #maincontent .top-box__art {
    font-size: 13px;
    line-height: 15px;
  }
  #maincontent .row-maincontent__text {
    padding-left: 5px;
    padding-right: 35px;
  }
  #maincontent .row-maincontent__text h2 {
    font-size: 20px;
  }
  #maincontent .row-maincontent__text p {
    font-size: 15px;
  }
  #maincontent .row-maincontent__bg {
    max-width: 60%;
    top: 58%;
    left: -13%;
  }
  #maincontent .box-letter__inner {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
  }
  #maincontent .box-letter__text {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  #maincontent .box-letter__img {
    max-width: 50%;
  }
  #maincontent .box-programs__item h2 {
    font-size: 20px;
  }
  #maincontent .box-programs__item p {
    font-size: 15px;
  }
  #maincontent .box-programs__arrow-down_left h2, #maincontent .box-programs__arrow-down_left p, #maincontent .box-programs__arrow-down_right h2, #maincontent .box-programs__arrow-down_right p, #maincontent .box-programs__arrow-up_left h2, #maincontent .box-programs__arrow-up_left p, #maincontent .box-programs__arrow-up_right h2, #maincontent .box-programs__arrow-up_right p {
    text-align: center;
  }
}
@media screen and (max-width: 767.98px) {
  #maincontent .box {
    margin-bottom: 3%;
  }
  #maincontent .top-box01 {
    width: auto;
  }
  #maincontent .top-box__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #maincontent .top-box__text {
    margin-top: 20px;
    margin-right: 0;
  }
  #maincontent .top-box__image {
    margin-left: 80%;
  }
  #maincontent .top-box__title {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
       -moz-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #maincontent .top-box__header {
    margin-bottom: 0;
  }
  #maincontent .top-box__img {
    margin-right: 0;
  }
  #maincontent .row-maincontent__wrapper {
    margin-bottom: 5%;
  }
  #maincontent .row-maincontent__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #maincontent .row-maincontent__media {
    margin-bottom: 25px;
  }
  #maincontent .row-maincontent__text {
    padding-left: 10px;
    padding-right: 10px;
  }
  #maincontent .row-maincontent__text h2 {
    font-size: 30px;
    text-align: center;
  }
  #maincontent .row-maincontent__text p {
    font-size: 20px;
    text-align: center;
  }
  #maincontent .row-maincontent__bg {
    left: -9%;
  }
  #maincontent .box-letter__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  #maincontent .box-letter__text p {
    text-align: center;
  }
  #maincontent .antiallergic__box {
    margin-top: 5%;
  }
  #maincontent .box-antiallergic__text {
    font-size: 30px;
  }
  #maincontent .box-antiallergic__pos {
    display: none;
  }
  #maincontent .box-eco__inner {
    padding-left: 15px;
    padding-right: 15px;
  }
  #maincontent .box-eco__text {
    width: 100%;
  }
  #maincontent .antibac__box {
    margin-top: 3%;
  }
}
@media screen and (max-width: 569.98px) {
  #maincontent .box-letter__img::after {
    left: 105%;
  }
}
@media screen and (max-width: 479.98px) {
  #maincontent .top-box__text p {
    font-size: 17px;
  }
  #maincontent .top-box__art {
    padding-left: 17px;
    padding-right: 17px;
  }
  #maincontent .top-box__header {
    font-size: 13px;
  }
  #maincontent .row-maincontent__text h2 {
    font-size: 25px;
  }
  #maincontent .box-letter__img::before {
    max-width: 25%;
    max-height: 25%;
  }
  #maincontent .box-letter__img::after {
    max-width: 25%;
    max-height: 25%;
  }
  #maincontent .box-antiallergic__text h2 {
    font-size: 25px;
  }
  #maincontent .box-eco__text h2 {
    font-size: 25px;
  }
  #maincontent .box-eco__img img {
    max-width: 60px;
    margin: 0 auto;
  }
}/*# sourceMappingURL=style.css.map */