#maincontent a {
  color: inherit;
  text-decoration: none;
}

#maincontent ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#maincontent .bc-description__content p {
  margin-bottom: 0;
}

#maincontent .bc-description__content h3 {
  text-align: left;
}

#maincontent p {
  margin: 0;
  padding: 0;
  text-align: left;
}

#maincontent h1,
#maincontent h2,
#maincontent h3,
#maincontent h4,
#maincontent h5,
#maincontent h6 {
  padding: 0;
  margin: 0;
  text-align: left;
  text-transform: none;
  font-weight: bold;
}

#maincontent {
  margin: 0 auto;
  overflow: hidden;
  background-color: #ffffff;
}

#maincontent p::first-letter {
  padding-left: 0;
}

#maincontent img {
  opacity: 1;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#maincontent img:hover {
  opacity: 1;
}

#maincontent .maincontent__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}
#maincontent .maincontent__container h2 {
  font-size: 50px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: #002C5C;
}
#maincontent .maincontent__container h3 {
  font-size: 32px;
  line-height: 1.3;
  text-transform: uppercase;
  color: #002C5C;
}
#maincontent .maincontent__container p {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 10px;
}

#maincontent .top-box__bg {
  position: relative;
  z-index: 5;
  margin-bottom: 277px;
}
#maincontent .top-box__image-warranty {
  display: none;
}
#maincontent .top-box__header {
  position: absolute;
  z-index: 6;
  top: 46px;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
}
#maincontent .top-box__logo {
  margin-bottom: 15px;
}
#maincontent .top-box__slogan p {
  color: #fff;
  text-align: center;
}
#maincontent .top-box__inner {
  position: absolute;
  z-index: 8;
  top: 225px;
  left: 90px;
  right: 92px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
#maincontent .top-box__img {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
#maincontent .top-box__content {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
#maincontent .top-box__warranty-img {
  margin-bottom: 28px;
}
#maincontent .top-box__warranty-img img {
  margin-left: auto;
  margin-right: 0;
}
#maincontent .top-box__text p {
  font-size: 36px;
  line-height: 1.3;
  color: #002C5C;
}

#maincontent .box-bg__inner {
  position: relative;
  z-index: 5;
}
#maincontent .box-bg__img {
  position: relative;
  z-index: 5;
}
#maincontent .box-bg__img::before {
  content: "";
  position: absolute;
  z-index: 6;
  background-image: url("https://cdn.comfy.ua/media/x/img3/2687999/icon02.png");
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  width: 210px;
  height: 206px;
  top: 41%;
  left: 65%;
}
#maincontent .box-bg__title {
  position: absolute;
  z-index: 6;
  top: 15%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-bottom: 74px;
  padding: 0 10px;
}
#maincontent .box-bg__title p {
  text-align: center;
}
#maincontent .box-bg__content {
  position: absolute;
  z-index: 7;
  max-width: 615px;
  top: 58%;
  left: 91px;
  right: 50%;
  -webkit-transform: translateY(-58%);
      -ms-transform: translateY(-58%);
       -o-transform: translateY(-58%);
          transform: translateY(-58%);
}
#maincontent .box-bg__content h3 {
  margin-bottom: 15px;
}

#maincontent .row-maincontent__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 135px 70px 161px;
}
#maincontent .row-maincontent__inner_rev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
#maincontent .row-maincontent__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
#maincontent .row-maincontent__text {
  padding: 10px 20px;
}
#maincontent .row-maincontent__text h3 {
  margin-bottom: 15px;
}
#maincontent .row-maincontent__image {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

#maincontent .vestfrost-comfort__img::before {
  background-image: url("https://cdn.comfy.ua/media/x/img3/2687999/img04_bg.png");
  width: 54%;
  height: 92%;
  top: 50%;
  left: 46%;
  right: 10px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}
#maincontent .vestfrost-comfort__content {
  left: 50%;
  right: 10px;
}
#maincontent .vestfrost-comfort__content h3 {
  margin-bottom: 15px;
}

#maincontent .vestfrost-engine__img::before {
  position: absolute;
  z-index: 6;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(3deg, #FFF 48%, rgba(255, 255, 255, 0) 97.51%);
  background: -o-linear-gradient(3deg, #FFF 48%, rgba(255, 255, 255, 0) 97.51%);
  background: linear-gradient(87deg, #FFF 48%, rgba(255, 255, 255, 0) 97.51%);
}
#maincontent .vestfrost-engine__content {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 40%;
}

#maincontent .vestfrost-econsumption__inner {
  padding: 35px 91px;
}

#maincontent .vestfrost-functions__inner {
  padding: 10px 91px 75px;
}
#maincontent .vestfrost-functions__item {
  margin-right: 50px;
}
#maincontent .vestfrost-functions__text {
  max-width: 500px;
}
#maincontent .vestfrost-functions__image {
  position: relative;
  z-index: 5;
}
#maincontent .vestfrost-functions__image::before {
  content: "";
  background-image: url("https://cdn.comfy.ua/media/x/img3/2687999/img07_2.png");
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  position: absolute;
  z-index: 6;
  width: 267px;
  height: 267px;
  top: 0;
  left: -75px;
}

@media screen and (max-width: 1350px) {
  #maincontent .vestfrost-functions__item {
    margin-right: 100px;
  }
  #maincontent .vestfrost-functions__image::before {
    top: -50px;
  }
}
@media screen and (max-width: 1300px) {
  #maincontent .maincontent__container h2 {
    font-size: -webkit-calc(24px + 26 * (100vw - 320px) / 980);
    font-size: calc(24px + 26 * (100vw - 320px) / 980);
  }
  #maincontent .maincontent__container h3 {
    font-size: -webkit-calc(20px + 12 * (100vw - 320px) / 980);
    font-size: calc(20px + 12 * (100vw - 320px) / 980);
  }
  #maincontent .maincontent__container p {
    font-size: -webkit-calc(16px + 8 * (100vw - 320px) / 980);
    font-size: calc(16px + 8 * (100vw - 320px) / 980);
  }
  #maincontent .top-box__inner {
    left: 6.25vw;
    right: 6.39vw;
  }
  #maincontent .top-box__text p {
    font-size: -webkit-calc(22px + 14 * (100vw - 320px) / 980);
    font-size: calc(22px + 14 * (100vw - 320px) / 980);
  }
  #maincontent .vestfrost-engine__content {
    right: 35%;
  }
}
@media screen and (max-width: 1250.98px) {
  #maincontent .vestfrost-washing__content {
    top: 63%;
  }
}
@media screen and (max-width: 1200px) {
  #maincontent .box-bg__content {
    left: 50px;
  }
  #maincontent .top-box__warranty-img img {
    width: 35%;
  }
  #maincontent .row-maincontent__inner {
    padding: 75px 30px;
  }
  #maincontent .vestfrost-comfort__img::before {
    left: 45.69%;
  }
  #maincontent .vestfrost-comfort__content {
    left: 50%;
  }
  #maincontent .vestfrost-econsumption__inner {
    padding: 35px 30px;
  }
  #maincontent .vestfrost-functions__image::before {
    top: 0;
    width: 200px;
    height: 200px;
  }
}
@media screen and (max-width: 1100.98px) {
  #maincontent .box-bg__title {
    top: 6%;
  }
  #maincontent .box-bg__title h2 {
    padding: 0 10px;
  }
  #maincontent .box-bg__content {
    top: 60%;
  }
  #maincontent .vestfrost-comfort__content {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  #maincontent .vestfrost-engine__content {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 25%;
  }
}
@media screen and (max-width: 1024.98px) {
  #maincontent .row-maincontent__inner {
    padding: 45px 30px;
  }
  #maincontent .vestfrost-econsumption__inner {
    padding: 35px 30px;
  }
  #maincontent .vestfrost-functions__image::before {
    top: -75px;
  }
}
@media screen and (max-width: 991.98px) {
  #maincontent .box-bg__img::before {
    width: 130px;
    height: 127px;
  }
  #maincontent .box-bg__content {
    left: 25px;
  }
  #maincontent .row-maincontent__inner {
    padding: 25px 5px;
  }
  #maincontent .vestfrost-comfort__box {
    margin-bottom: 20px;
  }
  #maincontent .vestfrost-comfort__img::before {
    width: 54%;
    height: 100%;
    left: 45.85%;
  }
  #maincontent .vestfrost-comfort__content {
    left: 51%;
    top: 55%;
  }
  #maincontent .vestfrost-engine__img::before {
    width: 100%;
    height: 100%;
    left: 0;
  }
  #maincontent .vestfrost-engine__content {
    top: 52%;
    right: 20%;
  }
}
@media screen and (max-width: 890.98px) {
  #maincontent .vestfrost-washing__content {
    right: 48%;
    top: 67%;
  }
  #maincontent .vestfrost-engine__content {
    max-width: 100%;
  }
}
@media screen and (max-width: 825.98px) {
  #maincontent .vestfrost-washing__title {
    top: 4%;
  }
  #maincontent .vestfrost-washing__content {
    top: 69%;
    right: 47%;
  }
}
@media screen and (max-width: 799.98px) {
  #maincontent .box-bg__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #maincontent .box-bg__img::before {
    top: 57%;
    left: 39%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  #maincontent .box-bg__title, #maincontent .box-bg__content {
    position: unset;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
         -o-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  #maincontent .box-bg__title h2, #maincontent .box-bg__title h3, #maincontent .box-bg__title p, #maincontent .box-bg__content h2, #maincontent .box-bg__content h3, #maincontent .box-bg__content p {
    text-align: center;
  }
  #maincontent .box-bg__title {
    margin-right: 0;
    margin-bottom: 0;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
       -moz-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  #maincontent .box-bg__title h2 {
    margin: 10px 0;
  }
  #maincontent .box-bg__content {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
       -moz-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    max-width: 100%;
    padding: 0 5px;
  }
  #maincontent .box-bg__content h3 {
    margin: 10px 0;
  }
  #maincontent .vestfrost-comfort__box {
    margin-bottom: 0;
  }
  #maincontent .vestfrost-comfort__img::before {
    display: none;
  }
  #maincontent .vestfrost-comfort__content h3 {
    text-align: center;
  }
  #maincontent .vestfrost-engine__img::before {
    display: none;
  }
}
@media screen and (max-width: 767.98px) {
  #maincontent .top-box__logo img {
    width: 50%;
  }
  #maincontent .top-box__warranty-img img {
    width: 30%;
  }
  #maincontent .row-maincontent__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  #maincontent .row-maincontent__text {
    padding: 0 5px;
  }
  #maincontent .row-maincontent__text h3 {
    margin: 10px 0;
  }
  #maincontent .row-maincontent__text h3, #maincontent .row-maincontent__text p {
    text-align: center;
  }
  #maincontent .vestfrost-comfort__content h3 {
    margin: 10px 0;
  }
  #maincontent .vestfrost-functions__item {
    margin: 0 auto 50px;
  }
  #maincontent .vestfrost-functions__text {
    max-width: 100%;
  }
  #maincontent .vestfrost-functions__image {
    padding-left: 30px;
  }
  #maincontent .vestfrost-functions__image::before {
    top: 0;
    left: 0;
    width: 34%;
    height: 25%;
  }
}
@media screen and (max-width: 600.98px) {
  #maincontent .top-box__bg {
    margin-bottom: 0;
  }
  #maincontent .top-box__image {
    position: relative;
    z-index: 5;
    margin-bottom: 20px;
  }
  #maincontent .top-box__image-banner {
    position: relative;
    z-index: 3;
  }
  #maincontent .top-box__image-banner::before {
    content: "";
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.262745098);
  }
  #maincontent .top-box__image-warranty {
    display: block;
    position: absolute;
    z-index: 9;
    bottom: 0;
    right: 0;
  }
  #maincontent .top-box__image-warranty img {
    width: 30%;
    margin-left: auto;
    margin-right: 0;
  }
  #maincontent .top-box__header {
    top: 20px;
  }
  #maincontent .top-box__inner {
    position: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #maincontent .top-box__warranty-img {
    display: none;
  }
  #maincontent .top-box__text p {
    text-align: center;
  }
  #maincontent .vestfrost-functions__image::before {
    width: 35%;
    height: 26%;
  }
}
@media screen and (max-width: 479.98px) {
  #maincontent .top-box__image-warranty img {
    width: 20%;
  }
  #maincontent .top-box__header {
    top: 6px;
  }
  #maincontent .top-box__logo {
    margin-bottom: 4px;
  }
  #maincontent .top-box__slogan {
    padding: 0 10px;
  }
  #maincontent .top-box__logo img {
    width: 40%;
  }
  #maincontent .vestfrost-functions__item {
    margin-bottom: 25px;
  }
  #maincontent .vestfrost-functions__image::before {
    width: 36%;
    height: 27%;
  }
}
@media screen and (max-width: 479.98px) {
  #maincontent .vestfrost-functions__image::before {
    width: 35%;
    height: 27%;
  }
}
@media screen and (max-width: 340.98px) {
  #maincontent .vestfrost-functions__image::before {
    width: 36%;
    height: 28%;
  }
}/*# sourceMappingURL=style.css.map */