#vestfrostmoroz ul,
#vestfrostmoroz ol,
#vestfrostmoroz li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#vestfrostmoroz .bc-description__content p {
  margin-bottom: 0;
}

#vestfrostmoroz .bc-description__content h3 {
  text-align: left;
}

#vestfrostmoroz h1, #vestfrostmoroz h2, #vestfrostmoroz h3, #vestfrostmoroz h4, #vestfrostmoroz h5, #vestfrostmoroz h6 {
  text-transform: none;
  font-weight: bold;
}

#vestfrostmoroz {
  margin: 0 auto;
  overflow: hidden;
  background-color: #ffffff;
}
#vestfrostmoroz h1, #vestfrostmoroz h2, #vestfrostmoroz h3, #vestfrostmoroz h4, #vestfrostmoroz h5, #vestfrostmoroz h6, #vestfrostmoroz p {
  margin: 0;
  padding: 0;
  text-align: left;
}

#vestfrostmoroz p::first-letter {
  padding-left: 0;
}

#vestfrostmoroz img {
  opacity: 1;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#vestfrostmoroz img:hover {
  opacity: 1;
}

#vestfrostmoroz .vestfrostmoroz__container {
  max-width: 1440px;
  margin: 0 auto;
}

#vestfrostmoroz h2 {
  font-size: 32px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}
@media (max-width: 1440px) {
  #vestfrostmoroz h2 {
    font-size: -webkit-calc(18px + 14 * ((100vw - 320px) / 1120));
    font-size: calc(18px + 14 * ((100vw - 320px) / 1120));
  }
}
#vestfrostmoroz p {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
}
@media (max-width: 1440px) {
  #vestfrostmoroz p {
    font-size: -webkit-calc(16px + 8 * ((100vw - 320px) / 1120));
    font-size: calc(16px + 8 * ((100vw - 320px) / 1120));
  }
}

#vestfrostmoroz .header-vestfrostmoroz__bg {
  position: relative;
  z-index: 2;
}
#vestfrostmoroz .header-vestfrostmoroz__logo {
  position: absolute;
  z-index: 5;
  top: 2.5%;
  left: 6.1805555556%;
}
#vestfrostmoroz .header-vestfrostmoroz__logo-img img {
  margin: 0;
}
#vestfrostmoroz .header-vestfrostmoroz__logo-text p {
  font-size: 20px;
  line-height: 1.2;
  color: #002C5C;
  padding-top: 20px;
}
@media (max-width: 1440px) {
  #vestfrostmoroz .header-vestfrostmoroz__logo-text p {
    font-size: -webkit-calc(14px + 6 * ((100vw - 320px) / 1120));
    font-size: calc(14px + 6 * ((100vw - 320px) / 1120));
  }
}
#vestfrostmoroz .header-vestfrostmoroz__text {
  position: absolute;
  z-index: 5;
  bottom: 1%;
  width: 32%;
  left: 39.4444444444%;
}
#vestfrostmoroz .header-vestfrostmoroz__text p {
  font-size: 32px;
  color: #002C5C;
}
@media (max-width: 1440px) {
  #vestfrostmoroz .header-vestfrostmoroz__text p {
    font-size: -webkit-calc(14px + 18 * ((100vw - 320px) / 1120));
    font-size: calc(14px + 18 * ((100vw - 320px) / 1120));
  }
}
#vestfrostmoroz .header-vestfrostmoroz__warranty {
  position: absolute;
  z-index: 5;
  bottom: 0;
  right: 6.25%;
  left: 78.9583333333%;
}

#vestfrostmoroz .designe-vestfrostmoroz {
  padding-top: 57px;
  padding-bottom: 43px;
}
@media (max-width: 1440px) {
  #vestfrostmoroz .designe-vestfrostmoroz {
    padding-top: -webkit-calc(20px + 37 * ((100vw - 320px) / 1120));
    padding-top: calc(20px + 37 * ((100vw - 320px) / 1120));
  }
}
@media (max-width: 1440px) {
  #vestfrostmoroz .designe-vestfrostmoroz {
    padding-bottom: -webkit-calc(10px + 33 * ((100vw - 320px) / 1120));
    padding-bottom: calc(10px + 33 * ((100vw - 320px) / 1120));
  }
}
#vestfrostmoroz .designe-vestfrostmoroz__row {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  position: relative;
  z-index: 2;
}
#vestfrostmoroz .designe-vestfrostmoroz__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
#vestfrostmoroz .designe-vestfrostmoroz__text {
  width: 74%;
}
#vestfrostmoroz .designe-vestfrostmoroz__text h2 {
  color: #002C5C;
}
#vestfrostmoroz .designe-vestfrostmoroz__text p {
  color: #010101;
}
#vestfrostmoroz .designe-vestfrostmoroz__image {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
#vestfrostmoroz .designe-vestfrostmoroz__image img {
  margin-right: 0;
}
#vestfrostmoroz .designe-vestfrostmoroz__icon {
  position: absolute;
  z-index: -1;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 33%;
}

#vestfrostmoroz .energy-vestfrostmoroz__bg {
  background: url("https://cdn.comfy.ua/media/x/img3/1056993/img4.png") center no-repeat;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  min-height: 500px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#vestfrostmoroz .energy-vestfrostmoroz__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 0 15px;
}
#vestfrostmoroz .energy-vestfrostmoroz__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
#vestfrostmoroz .energy-vestfrostmoroz__text {
  width: 90%;
  margin: 0 auto;
}
#vestfrostmoroz .energy-vestfrostmoroz__text h2 {
  color: #00AFFF;
}
#vestfrostmoroz .energy-vestfrostmoroz__text p {
  color: #FFFFFF;
}
#vestfrostmoroz .energy-vestfrostmoroz__image {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

#vestfrostmoroz .eco-vestfrostmoroz__bg {
  background: url("https://cdn.comfy.ua/media/x/img3/1056993/img6.png") center no-repeat;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  min-height: 450px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#vestfrostmoroz .eco-vestfrostmoroz__text {
  width: 80%;
  margin: 0 auto;
}
#vestfrostmoroz .eco-vestfrostmoroz__text h2 {
  color: #00AFFF;
  text-align: center;
}
#vestfrostmoroz .eco-vestfrostmoroz__text p {
  color: #FFFFFF;
  text-align: center;
}
#vestfrostmoroz .eco-vestfrostmoroz__text img {
  margin-bottom: 20px;
}

#vestfrostmoroz .safe-vestfrostmoroz__bg {
  background: url("https://cdn.comfy.ua/media/x/img3/1056993/img12.png") center no-repeat;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  min-height: 500px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#vestfrostmoroz .safe-vestfrostmoroz__text {
  width: 80%;
  margin: 0 auto;
}
#vestfrostmoroz .safe-vestfrostmoroz__text h2 {
  color: #00AFFF;
  text-align: center;
}
#vestfrostmoroz .safe-vestfrostmoroz__text p {
  color: #FFFFFF;
  text-align: center;
}
#vestfrostmoroz .safe-vestfrostmoroz__text img {
  margin-bottom: 20px;
}

#vestfrostmoroz .spec-vestfrostmoroz {
  padding-top: 20px;
  padding-bottom: 80px;
  padding-left: 90px;
  padding-right: 90px;
}
@media (max-width: 1440px) {
  #vestfrostmoroz .spec-vestfrostmoroz {
    padding-bottom: -webkit-calc(20px + 60 * ((100vw - 320px) / 1120));
    padding-bottom: calc(20px + 60 * ((100vw - 320px) / 1120));
  }
}
@media (max-width: 1440px) {
  #vestfrostmoroz .spec-vestfrostmoroz {
    padding-left: -webkit-calc(15px + 75 * ((100vw - 320px) / 1120));
    padding-left: calc(15px + 75 * ((100vw - 320px) / 1120));
  }
}
@media (max-width: 1440px) {
  #vestfrostmoroz .spec-vestfrostmoroz {
    padding-right: -webkit-calc(15px + 75 * ((100vw - 320px) / 1120));
    padding-right: calc(15px + 75 * ((100vw - 320px) / 1120));
  }
}
#vestfrostmoroz .spec-vestfrostmoroz__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}
#vestfrostmoroz .spec-vestfrostmoroz__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
#vestfrostmoroz .spec-vestfrostmoroz__inner_rev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
#vestfrostmoroz .spec-vestfrostmoroz__item_1 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 40%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}
#vestfrostmoroz .spec-vestfrostmoroz__item_2 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
#vestfrostmoroz .spec-vestfrostmoroz__item_3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 30%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}
#vestfrostmoroz .spec-vestfrostmoroz__item_4 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 40%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}
#vestfrostmoroz .spec-vestfrostmoroz__text:not(:last-child) {
  margin-bottom: 15px;
}
#vestfrostmoroz .spec-vestfrostmoroz__text img {
  margin: 0 0 15px;
}
#vestfrostmoroz .spec-vestfrostmoroz__text h2 {
  color: #002C5C;
}
#vestfrostmoroz .spec-vestfrostmoroz__text_rt h2 {
  text-align: right;
}
#vestfrostmoroz .spec-vestfrostmoroz__text_rt p {
  text-align: right;
}
#vestfrostmoroz .spec-vestfrostmoroz__image {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 60%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}
#vestfrostmoroz .spec-vestfrostmoroz__media {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  position: relative;
  z-index: 2;
}
#vestfrostmoroz .spec-vestfrostmoroz__media-sm {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 60%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  position: relative;
  z-index: 2;
}
#vestfrostmoroz .spec-vestfrostmoroz__icon-sm {
  position: absolute;
  z-index: 5;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 4%;
}
#vestfrostmoroz .spec-vestfrostmoroz__icon_1 {
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 8%;
}
@media screen and (max-width: 991.98px) {
  #vestfrostmoroz .header-vestfrostmoroz__logo {
    left: 3%;
  }
  #vestfrostmoroz .header-vestfrostmoroz__logo-img img {
    width: 200px;
  }
  #vestfrostmoroz .header-vestfrostmoroz__logo-text p {
    padding-top: 10px;
  }
  #vestfrostmoroz .spec-vestfrostmoroz__inner {
    gap: 20px;
  }
  #vestfrostmoroz .spec-vestfrostmoroz__text h2 {
    font-size: 20px;
  }
  #vestfrostmoroz .designe-vestfrostmoroz__text {
    width: 80%;
  }
}
@media screen and (max-width: 767.98px) {
  #vestfrostmoroz .designe-vestfrostmoroz__icon {
    display: none;
  }
  #vestfrostmoroz .header-vestfrostmoroz__logo {
    width: 40%;
  }
  #vestfrostmoroz .header-vestfrostmoroz__text {
    left: 3%;
    width: 70%;
  }
  #vestfrostmoroz .designe-vestfrostmoroz__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #vestfrostmoroz .designe-vestfrostmoroz__text {
    width: auto;
  }
  #vestfrostmoroz .designe-vestfrostmoroz__text h2, #vestfrostmoroz .designe-vestfrostmoroz__text p {
    text-align: center;
  }
  #vestfrostmoroz .energy-vestfrostmoroz__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 15px 0;
  }
  #vestfrostmoroz .energy-vestfrostmoroz__text {
    width: auto;
  }
  #vestfrostmoroz .energy-vestfrostmoroz__text h2, #vestfrostmoroz .energy-vestfrostmoroz__text p {
    text-align: center;
  }
  #vestfrostmoroz .eco-vestfrostmoroz__text,
  #vestfrostmoroz .safe-vestfrostmoroz__text {
    width: auto;
    padding: 0 15px;
  }
  #vestfrostmoroz .spec-vestfrostmoroz__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #vestfrostmoroz .spec-vestfrostmoroz__text h2, #vestfrostmoroz .spec-vestfrostmoroz__text p {
    text-align: center;
  }
  #vestfrostmoroz .spec-vestfrostmoroz__row {
    gap: 20px;
  }
  #vestfrostmoroz .spec-vestfrostmoroz__text img {
    margin: 0 auto 15px;
  }
}
@media screen and (max-width: 479.98px) {
  #vestfrostmoroz .header-vestfrostmoroz__logo-img img {
    width: 100px;
  }
  #vestfrostmoroz .header-vestfrostmoroz__logo-text p {
    font-size: 14px;
  }
  #vestfrostmoroz .eco-vestfrostmoroz__text img,
  #vestfrostmoroz .safe-vestfrostmoroz__text img {
    width: 80px;
  }
  #vestfrostmoroz .spec-vestfrostmoroz__text h2 {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */