#tefalhb .bc-description__content p {
  margin-bottom: 0;
}

#tefalhb .bc-description__content h3 {
  text-align: left;
}

#tefalhb h1, #tefalhb h2, #tefalhb h3, #tefalhb h4, #tefalhb h5, #tefalhb h6 {
  text-transform: none;
  font-weight: bold;
}

#tefalhb {
  margin: 0 auto;
  overflow: hidden;
  background-color: #ffffff;
}
#tefalhb h1, #tefalhb h2, #tefalhb h3, #tefalhb h4, #tefalhb h5, #tefalhb h6, #tefalhb p {
  margin: 0;
  padding: 0;
  text-align: left;
}

#tefalhb p::first-letter {
  padding-left: 0;
}

#tefalhb img {
  opacity: 1;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#tefalhb img:hover {
  opacity: 1;
}

#tefalhb .tefalhb__container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 15px;
}

#tefalhb .col-tefalhb__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#tefalhb .col-tefalhb__inner_rev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
#tefalhb .col-tefalhb__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 60%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}
#tefalhb .col-tefalhb__text {
  width: 80%;
  margin: 0 auto;
  padding: 10px 0;
}
#tefalhb .col-tefalhb__text:not(:last-child) {
  margin-bottom: 15px;
}
#tefalhb .col-tefalhb__text h2 {
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 10px;
}
@media (max-width: 1500px) {
  #tefalhb .col-tefalhb__text h2 {
    font-size: -webkit-calc(20px + 28 * ((100vw - 320px) / 1180));
    font-size: calc(20px + 28 * ((100vw - 320px) / 1180));
  }
}
#tefalhb .col-tefalhb__text p {
  font-size: 24px;
  line-height: 1.2;
}
@media (max-width: 1500px) {
  #tefalhb .col-tefalhb__text p {
    font-size: -webkit-calc(16px + 8 * ((100vw - 320px) / 1180));
    font-size: calc(16px + 8 * ((100vw - 320px) / 1180));
  }
}
#tefalhb .col-tefalhb__image {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 40%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}
#tefalhb .col-tefalhb__media {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 40%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  position: relative;
  z-index: 2;
}
#tefalhb .col-tefalhb__icon {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 5%;
  right: 50%;
}

@media screen and (max-width: 991.98px) {
  #tefalhb .col-tefalhb__text {
    width: 90%;
  }
}
@media screen and (max-width: 767.98px) {
  #tefalhb .col-tefalhb__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #tefalhb .col-tefalhb__text {
    width: auto;
  }
  #tefalhb .col-tefalhb__text h2, #tefalhb .col-tefalhb__text p {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */