#rowentakarl .bc-description__content p {
  margin-bottom: 0;
}

#rowentakarl .bc-description__content h3 {
  text-align: left;
}

#rowentakarl h1, #rowentakarl h2, #rowentakarl h3, #rowentakarl h4, #rowentakarl h5, #rowentakarl h6 {
  text-transform: none;
  font-weight: bold;
}

#rowentakarl {
  margin: 0 auto;
  overflow: hidden;
  background-color: #ffffff;
}
#rowentakarl h1, #rowentakarl h2, #rowentakarl h3, #rowentakarl h4, #rowentakarl h5, #rowentakarl h6, #rowentakarl p {
  margin: 0;
  padding: 0;
  text-align: left;
}

#rowentakarl p::first-letter {
  padding-left: 0;
}

#rowentakarl img {
  opacity: 1;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#rowentakarl img:hover {
  opacity: 1;
}

#rowentakarl .rowentakarl__container {
  max-width: 1570px;
  margin: 0 auto;
  padding: 0 15px;
}

#rowentakarl .row-rowentakarl {
  max-width: 1520px;
  margin: 0 auto;
}
#rowentakarl .row-rowentakarl__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
#rowentakarl .row-rowentakarl__inner_rev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
#rowentakarl .row-rowentakarl__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 54%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 54%;
          flex: 0 1 54%;
}
#rowentakarl .row-rowentakarl__text h2 {
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 15px;
  text-transform: uppercase;
}
@media (max-width: 1570px) {
  #rowentakarl .row-rowentakarl__text h2 {
    font-size: -webkit-calc(18px + 22 * ((100vw - 320px) / 1250));
    font-size: calc(18px + 22 * ((100vw - 320px) / 1250));
  }
}
#rowentakarl .row-rowentakarl__text p {
  font-size: 26px;
  line-height: 1.2;
}
@media (max-width: 1570px) {
  #rowentakarl .row-rowentakarl__text p {
    font-size: -webkit-calc(16px + 10 * ((100vw - 320px) / 1250));
    font-size: calc(16px + 10 * ((100vw - 320px) / 1250));
  }
}
#rowentakarl .row-rowentakarl__image {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 46%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 46%;
          flex: 0 1 46%;
}

#rowentakarl .column-rowentakarl {
  padding: 40px 0;
}
#rowentakarl .column-rowentakarl__row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px 10px;
}
#rowentakarl .column-rowentakarl__text {
  padding: 30px 15px 0;
}
#rowentakarl .column-rowentakarl__text h2 {
  font-size: 35px;
  line-height: 1.2;
  margin-bottom: 15px;
}
@media (max-width: 1570px) {
  #rowentakarl .column-rowentakarl__text h2 {
    font-size: -webkit-calc(18px + 17 * ((100vw - 320px) / 1250));
    font-size: calc(18px + 17 * ((100vw - 320px) / 1250));
  }
}
#rowentakarl .column-rowentakarl__text p {
  font-size: 24px;
  line-height: 1.2;
}
@media (max-width: 1570px) {
  #rowentakarl .column-rowentakarl__text p {
    font-size: -webkit-calc(16px + 8 * ((100vw - 320px) / 1250));
    font-size: calc(16px + 8 * ((100vw - 320px) / 1250));
  }
}

#rowentakarl .box-rowentakarl {
  padding-top: 20px;
}
#rowentakarl .box-rowentakarl__text {
  width: 80%;
  margin: 0 auto 20px;
}
#rowentakarl .box-rowentakarl__text h2 {
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 15px;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 1570px) {
  #rowentakarl .box-rowentakarl__text h2 {
    font-size: -webkit-calc(18px + 22 * ((100vw - 320px) / 1250));
    font-size: calc(18px + 22 * ((100vw - 320px) / 1250));
  }
}
#rowentakarl .box-rowentakarl__text p {
  font-size: 26px;
  line-height: 1.2;
  text-align: center;
}
@media (max-width: 1570px) {
  #rowentakarl .box-rowentakarl__text p {
    font-size: -webkit-calc(16px + 10 * ((100vw - 320px) / 1250));
    font-size: calc(16px + 10 * ((100vw - 320px) / 1250));
  }
}
#rowentakarl .stylist-rowentakarl {
  padding-top: 40px;
}
#rowentakarl .stylist-rowentakarl__box {
  width: 80%;
  margin: 0 auto 20px;
}
#rowentakarl .stylist-rowentakarl__box h2 {
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 15px;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 1570px) {
  #rowentakarl .stylist-rowentakarl__box h2 {
    font-size: -webkit-calc(18px + 22 * ((100vw - 320px) / 1250));
    font-size: calc(18px + 22 * ((100vw - 320px) / 1250));
  }
}
#rowentakarl .stylist-rowentakarl__box p {
  font-size: 26px;
  line-height: 1.2;
  text-align: center;
}
@media (max-width: 1570px) {
  #rowentakarl .stylist-rowentakarl__box p {
    font-size: -webkit-calc(16px + 10 * ((100vw - 320px) / 1250));
    font-size: calc(16px + 10 * ((100vw - 320px) / 1250));
  }
}
#rowentakarl .stylist-rowentakarl__media {
  position: relative;
  z-index: 2;
  max-width: 1520px;
  margin: 0 auto;
}
#rowentakarl .stylist-rowentakarl__text {
  position: absolute;
  z-index: 5;
}
#rowentakarl .stylist-rowentakarl__text h2 {
  font-size: 26px;
  line-height: 1.2;
}
@media (max-width: 1570px) {
  #rowentakarl .stylist-rowentakarl__text h2 {
    font-size: -webkit-calc(10px + 16 * ((100vw - 320px) / 1250));
    font-size: calc(10px + 16 * ((100vw - 320px) / 1250));
  }
}
#rowentakarl .stylist-rowentakarl__text p {
  font-size: 18px;
  line-height: 1.2;
}
@media (max-width: 1570px) {
  #rowentakarl .stylist-rowentakarl__text p {
    font-size: -webkit-calc(10px + 8 * ((100vw - 320px) / 1250));
    font-size: calc(10px + 8 * ((100vw - 320px) / 1250));
  }
}
#rowentakarl .stylist-rowentakarl__text_1 {
  top: 14.9277688604%;
  right: 78.9473684211%;
}
#rowentakarl .stylist-rowentakarl__text_2 {
  top: 40.1284109149%;
  right: 72.3684210526%;
}
#rowentakarl .stylist-rowentakarl__text_3 {
  top: 64.2054574639%;
  right: 72.3684210526%;
}
#rowentakarl .stylist-rowentakarl__text_4 {
  top: 14.9277688604%;
  left: 75.6578947368%;
}
#rowentakarl .stylist-rowentakarl__text_5 {
  top: 40.1284109149%;
  left: 75.6578947368%;
}
#rowentakarl .stylist-rowentakarl__text_6 {
  top: 64.2054574639%;
  left: 65.7894736842%;
}

@media screen and (max-width: 991.98px) {
  #rowentakarl .row-rowentakarl__inner {
    gap: 20px;
  }
}
@media screen and (min-width: 767.98px) {
  #rowentakarl .row-rowentakarl {
    padding-top: 100px;
  }
}
@media screen and (min-width: 767.98px) and (max-width: 1570px) {
  #rowentakarl .row-rowentakarl {
    padding-top: -webkit-calc(20px + 80 * ((100vw - 320px) / 1250));
    padding-top: calc(20px + 80 * ((100vw - 320px) / 1250));
  }
}
@media screen and (max-width: 767.98px) {
  #rowentakarl .row-rowentakarl__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  #rowentakarl .row-rowentakarl__text {
    padding: 15px 0 10px;
    width: 90%;
    margin: 0 auto;
  }
  #rowentakarl .row-rowentakarl__text h2, #rowentakarl .row-rowentakarl__text p {
    text-align: center;
  }
  #rowentakarl .box-rowentakarl__text,
  #rowentakarl .stylist-rowentakarl__box {
    width: auto;
  }
  #rowentakarl .stylist-rowentakarl__text_1 {
    top: 10%;
  }
  #rowentakarl .stylist-rowentakarl__text_2 {
    top: 38%;
  }
}
@media screen and (max-width: 668px) {
  #rowentakarl .stylist-rowentakarl__text_4 {
    top: 8%;
  }
  #rowentakarl .stylist-rowentakarl__text_5 {
    top: 35%;
  }
}
@media screen and (max-width: 550px) {
  #rowentakarl .stylist-rowentakarl__text_5 {
    top: 32%;
    left: 70%;
  }
  #rowentakarl .stylist-rowentakarl__text_4 {
    top: 4%;
    left: 70%;
  }
  #rowentakarl .column-rowentakarl__text {
    padding-top: 15px;
  }
  #rowentakarl .column-rowentakarl__text h2 {
    font-size: 22px;
    text-align: center;
  }
  #rowentakarl .column-rowentakarl__text p {
    text-align: center;
  }
  #rowentakarl .stylist-rowentakarl__text_1 {
    right: auto;
    left: 0;
    top: 6%;
  }
  #rowentakarl .stylist-rowentakarl__text_2 {
    top: 28%;
    right: 70%;
  }
  #rowentakarl .stylist-rowentakarl__text_3 {
    top: 60%;
  }
}
@media screen and (max-width: 479.98px) {
  #rowentakarl .row-rowentakarl__text {
    width: auto;
  }
  #rowentakarl .row-rowentakarl__text h2 {
    margin-bottom: 10px;
  }
  #rowentakarl .column-rowentakarl__text {
    padding: 15px 0 0;
  }
  #rowentakarl .column-rowentakarl {
    padding-bottom: 0;
  }
  #rowentakarl .stylist-rowentakarl__text h2 {
    font-size: 10px;
  }
  #rowentakarl .stylist-rowentakarl__text p {
    font-size: 10px;
  }
}
@media screen and (max-width: 406px) {
  #rowentakarl .stylist-rowentakarl__text_4 {
    top: 0%;
    left: 69%;
  }
}
@media screen and (max-width: 401px) {
  #rowentakarl .stylist-rowentakarl__text_2 {
    right: 66%;
  }
  #rowentakarl .stylist-rowentakarl__text_3 {
    right: 66%;
    top: 65%;
  }
  #rowentakarl .stylist-rowentakarl__text_6 {
    top: 67%;
    left: 62%;
  }
  #rowentakarl .stylist-rowentakarl__text_5 {
    left: 66%;
  }
  #rowentakarl .stylist-rowentakarl__text_4 {
    left: 66%;
  }
}
@media screen and (max-width: 370px) {
  #rowentakarl .stylist-rowentakarl__text h2 {
    font-size: 8px;
  }
  #rowentakarl .stylist-rowentakarl__text p {
    font-size: 8px;
  }
}/*# sourceMappingURL=style.css.map */