// html,
// body
//     height: 100%
//     min-width: 320px

// button
//     cursor: pointer
//     color: inherit
//     background-color: inherit

//========================================================================================================================================================

#maincontent a
    color: inherit
    text-decoration: none

#maincontent ul,
ol,
li
    list-style: none
    padding: 0
    margin: 0

#maincontent .bc-description__content p
    margin-bottom: 0

#maincontent .bc-description__content h3
    text-align: left

#maincontent p
    margin: 0
    padding: 0
    text-align: left

#maincontent h1,
#maincontent h2,
#maincontent h3,
#maincontent h4,
#maincontent h5,
#maincontent h6
    padding: 0
    margin: 0
    text-align: left
    text-transform: none
    font-weight: bold

#maincontent
    margin: 0 auto
    overflow: hidden
    background-color: #ffffff

#maincontent p::first-letter
    padding-left: 0

#maincontent img
    opacity: 1
    max-width: 100%
    display: block
    margin: 0
    // margin: 0 auto

#maincontent img:hover
    opacity: 1

@mixin fonts($fontSize, $lineHeight)
    font:
        size: $fontSize
    line:
        height: $lineHeight

@mixin flex-box($justifyContent, $alignItems)
    display: flex
    justify-content: $justifyContent
    align-items: $alignItems

@mixin bg-image($url)
    background:
        image: $url
    background:
        repeat: no-repeat
    background:
        position: top center
    background:
        size: cover

@mixin position($position, $zIndex)
    position: $position
    z-index: $zIndex

//========================================================================================================================================================
#maincontent .maincontent
    &__container
        max-width: 1440px
        margin: 0 auto
        padding: 0 15px
        h2
            @include fonts($fontSize: 32px, $lineHeight: 1.2)
            margin: 20px 0px 10px 0px
            text-align: center
        p
            @include fonts($fontSize: 24px, $lineHeight: 1.2)
            margin-bottom: 10px
            text-align: center

#maincontent .box
    &__inner
        @include position($position: relative, $zIndex: 4)
    &__warranty-img
        @include position($position: absolute, $zIndex: 5)
        left: 90px
        right: 78%
        bottom: 0
    &__logo-img
        @include position($position: absolute, $zIndex: 5)
        top: 40px
        left: 74%
        right: 56px
    &__header
        @include position($position: absolute, $zIndex: 5)
        top: 50%
        left: 63%
        right: 69px
        bottom: 445px
        transform: translateY(-50%)
        &-title
            @include fonts($fontSize: 28px, $lineHeight: 1.2)
            font-weight: 700
            color: #FFFFFF
            display: inline-block
            margin-bottom: 11px
        &-art
            @include fonts($fontSize: 32px, $lineHeight: 1.2)
            font-weight: 700
            color: #FFFFFF
            display: inline-block
            background: #00AFFF
            width: 418px
            padding: 17px 0 16px
            border-top-left-radius: 44px
            border-bottom-right-radius: 44px
    &__text
        @include position($position: absolute, $zIndex: 6)
        max-width: 609px
        top: 50%
        left: 90px
        right: 50%
        transform: translateY(-50%)
        h2, p
            text-align: left

#maincontent .vestfrost-compact
    &__box
        margin-bottom: 100px

#maincontent .box-item
    &__container
        max-width: 1260px
        margin: 0 auto
    &__inner
        padding: 0 15px
        margin-bottom: 345px
    &__text
        max-width: 933px
        margin: 0 auto
    &__images
        @include flex-box($justifyContent: center, $alignItems: center)
        gap: 25px
    &__img
        flex: 0 1 50%

#maincontent .col-maincontent
    margin-bottom: 28px
    &__container
        max-width: 1260px
        margin: 0 auto
    &__inner
        display: flex
        @include position($position: relative, $zIndex: 5)
        gap: 10px
    &__item
        flex: 0 1 33%
        display: flex
        flex-direction: column
        justify-content: space-between
    &__text
        @include position($position: relative, $zIndex: 4)

        p
            background: #F3F3F3
            padding-bottom: 10px
            margin-bottom: 0
            span
                display: block
                font-weight: 700
                color: #fff
                background: #1C3B7B
        &_1
            top: -34%
            width: 110%
            p
                &:nth-child(2)
                    padding: 50px 33px
            &::before
                content: ""
                @include position($position: absolute, $zIndex: 5)
                border: 4px solid #F3F3F3
                border-bottom: none
                border-left: none
                width: 40px
                height: 264px
                left: 100%
                top: 100%
                transform: translateY(-50%)
        &_2
            top: -29%
            &::before
                content: ""
                @include position($position: absolute, $zIndex: 5)
                border: 4px solid #F3F3F3
                border-top: none
                border-right: none
                width: 251px
                height: 154px
                left: 50%
                top: 97%
                transform: translateX(0%)
        &_3
            top: -10%
            &::before
                content: ""
                @include position($position: absolute, $zIndex: 5)
                border: 4px solid #F3F3F3
                border-top: none
                border-left: none
                width: 85px
                height: 34px
                left: 100%
                top: 51%
                transform: translateX(0%)
        &_4
            top: -34%
            left: -20%
            width: 120%
            p
                &:nth-child(2)
                    padding: 21px 33px
            &::before
                content: ""
                @include position($position: absolute, $zIndex: 5)
                border: 4px solid #F3F3F3
                border-bottom: none
                border-right: none
                width: 142px
                height: 385px
                left: -27%
                top: 130%
                transform: translateY(-50%)
        &_5
            top: -20%
            &::before
                content: ""
                @include position($position: absolute, $zIndex: 5)
                border: 4px solid #F3F3F3
                border-top: none
                border-left: none
                width: 251px
                height: 154px
                left: -10%
                top: 97%
                transform: translateX(0%)
        &_6
            top: -2%
            &::before
                content: ""
                @include position($position: absolute, $zIndex: 5)
                border: 4px solid #F3F3F3
                border-top: none
                border-right: none
                width: 167px
                height: 100px
                left: -40%
                top: 2vw
                transform: translateX(0%)
    &__image
        flex: 0 1 33%

#maincontent .box-energysave
    &__bg
        @include bg-image($url: url(https://cdn.comfy.ua/media/x/img3/2049519/img04.jpg))
    &__inner
        @include flex-box($justifyContent: center, $alignItems: center)
        flex-direction: column
        padding: 5% 10px
    &__img
        margin-bottom: 15px
    &__text
        width: 75%
        h2
            text-transform: uppercase
            color: #FFFFFF
            text-align: center
            margin-bottom: 15px

        p
            color: #FFFFFF
            text-align: center

//===========MEDIA=============================================================================================================================================
@media screen and (max-width: 1400px)
    #maincontent .box
        &__header
            &-title
                font-size: calc( 18px + (28 - 18) * ((100vw - 320px)/(1400 - 320)))
            &-art
                width: calc( 100px + (418 - 100) * ((100vw - 320px)/(1400 - 320)))
                font-size: calc( 22px + (32 - 22) * ((100vw - 320px)/(1400 - 320)))

@media screen and (max-width: 1300px)
    #maincontent .maincontent
        &__container
            h2
                font-size: calc( 22px + (32 - 22) * ((100vw - 320px)/(1300 - 320)))
            p
                font-size: calc( 16px + (24 - 16) * ((100vw - 320px)/(1300 - 320)))
    #maincontent .box
        &__header
            left: 65%

@media screen and (max-width: 1203.98px)
    #maincontent .col-maincontent
        &__text
            &_1
                top: -38%
                p
                    &:nth-child(2)
                        padding: 40px 20px
            &_2
                &::before
                    height: 100px
                    top: 15vw
            &_4
                top: -38%
                &::before
                    height: 317px
                    top: 25vw
            &_5
                &::before
                    height: 119px

@media screen and (max-width: 1120.98px)
    #maincontent .col-maincontent
        &__text
            &_2
                &::-moz-focus-inner
                    top: 16vw
            &_3
                &::before
                    width: 76px
                    top: 8vw
            &_4
                left: -25%
                width: 125%
            &_5
                &::before
                    height: 85px
            &_6
                &::before
                    width: 149px
                    left: -40%
                    top: 2vw

@media screen and (max-width: 1024.98px)
    #maincontent .vestfrost-compact
        &__box
            margin-bottom: 70px
    #maincontent .col-maincontent
        &__text
            &_1, &_4
                top: -44%
            &_2
                &::before
                    width: 213px
                    top: 17vw
            &_6
                &::before
                    top: 1vw
@media screen and (max-width: 991.98px)
    #maincontent .vestfrost-compact
        &__box
            margin-bottom: 50px
    #maincontent .col-maincontent
        &__text
            &_1, &_2, &_3, &_4, &_5, &_6
                &::before
                    position: unset
                    border: none

@media screen and (max-width: 900.98px)
    #maincontent .box-item
        &__inner
            margin-bottom: 20px
    #maincontent .col-maincontent
        &__inner
            flex-wrap: wrap
            gap: 20px
            justify-content: center
        &__item
            flex: 0 1 45%

        &__image
            flex: 0 1 100%
            order: 1
            img
                margin: 0 auto
        &__text
            position: unset
            margin-bottom: 20px
            p
                &:last-child
                    padding: 5px
            &_1, &_4
                width: 100%
@media screen and (max-width: 767.98px)
    #maincontent .box
        &__warranty-img
            left: 25px
            right: 85%
        &__header
            &-title
                padding-left: 34px
            &-art
                padding: 10px 0
        &__text
            left: 25px
            padding: 0 5px
            h2
                margin-top: 10px
    #maincontent .vestfrost-compact
        &__box
            margin-bottom: 20px
    #maincontent .box-item
        &__text
            h2
                margin-top: 10px
        &__images
            gap: 10px
    #maincontent .col-maincontent
        margin-bottom: 15px
    #maincontent .box-energysave__text
        width: 98%
@media screen and (max-width: 650.98px)
    #maincontent .box
        &__inner
            display: flex
            flex-direction: column
        &__logo-img
            top: 110px
            left: 70%
            right: 25px
            transform: translateY(85%)
        &__header
            position: unset
            transform: translateY(0)
            order: -1
            &-title
                color: #000
                padding-left: 0
                margin-top: 20px
            &-art
                width: 250px
        &__text
            position: unset
            transform: translateY(0)
            order: -1
            h2, p
                text-align: center
    #maincontent .vestfrost-compact
        &__box
            margin-bottom: 10px
    #maincontent .col-maincontent
        &__inner
            gap: 0
        &__item
            flex: 0 1 100%
        &__text
            margin-bottom: 10px

@media screen and (max-width: 550.98px)
    #maincontent .box
        &__warranty-img
            right: 80%
        &__logo-img
            left: 65%
@media screen and (max-width: 479.98px)
    #maincontent .box
        &__logo-img
            top: 90px
        &__header
            &-title
                margin-bottom: 0
            &-art
                padding: 5px 0
                width: 200px
    #maincontent .box-energysave
        &__text
            width: auto
            h2
                font-size: 20px
