//@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')
//Адаптивное свойство
$maxWidth: 1920
$maxWidthContainer: 1440

@mixin adaptiv-value($property, $startSize, $minSize, $type)
    $addSize: $startSize - $minSize
    @if $type==1
        #{$property}: $startSize + px
        @media (max-width: #{$maxWidthContainer + px})
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}))

    @else if $type==2
        #{$property}: $startSize + px
        @media (min-width: #{$maxWidthContainer + px})
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}))

    @else
        #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}))
//========================================================================================================================================================

// html
//     box-sizing: border-box
// html,
// body
//     height: 100%
//     min-width: 320px
//     margin: 0
// *,
// *::before,
// *::after
//     box-sizing: inherit

// button
//     cursor: pointer
//     color: inherit
//     background-color: inherit

//========================================================================================================================================================

// [class*="-ibg"]
//     position: relative

// [class*="-ibg"] img
//     position: absolute
//     width: 100%
//     height: 100%
//     top: 0
//     left: 0
//     -o-object-fit: cover
//     object-fit: cover

// [class*="-ibg_contain"] img
//     -o-object-fit: contain
//     object-fit: contain

// #maincontent a
//     color: inherit
//     text-decoration: none

#maincontent
    ul,
    ol,
    li
        list-style: none
        padding: 0
        margin: 0

#maincontent .bc-description__content p
    margin-bottom: 0

#maincontent .bc-description__content h3
    text-align: left

#maincontent
    h1, h2, h3, h4, h5, h6
        text-transform: none
        // font-weight: bold

#maincontent
    height: auto
    margin: 0 auto
    overflow: hidden
    background-color: #ffffff
    font-family: 'Roboto', sans-serif
    h1, h2, h3, h4, h5, h6, p
        margin: 0
        padding: 0
        text-align: left

#maincontent p::first-letter
    padding-left: 0

#maincontent img
    opacity: 1
    max-width: 100%
    display: block
    margin: 0

#maincontent img:hover
    opacity: 1

#maincontent .maincontent__container
    max-width: 1440px
    margin: 0 auto
    //padding: 0 15px

//========================================================================================================================================================

#maincontent .header-maincontent
    position: relative
    z-index: 2
    &__top
        position: absolute
        z-index: 5
        top: calc(46 / 810 * 100%)
        right: calc(80 / 1440 * 100%)
        left: calc(861 / 1440 * 100%)
    &__logo
        img
            margin-left: auto
    &__text
        padding-top: 14px
        p
            @include adaptiv-value("font-size", 18, 13, 1)
            line-height: 1.2
            color: #ffffff
            text-align: right
            letter-spacing: 1px
        // img
        //     margin-left: auto
    &__icon
        position: absolute
        z-index: 5
        top: calc(342 / 810 * 100%)
        right: calc(96 / 1440 * 100%)
        left: calc(1266 / 1440 * 100%)
    &__title
        position: absolute
        z-index: 5
        top: calc(365 / 810 * 100%)
        right: calc(75 / 1440 * 100%)
        left: calc(740 / 1440 * 100%)
        width: 30%
        h2
            @include adaptiv-value("font-size", 59, 15, 1)
            line-height: 1.2
            color: #ffffff
    &__image

#maincontent .vubor-maincontent
    @include adaptiv-value("padding-top", 88, 20, 1)
    @include adaptiv-value("padding-bottom", 88, 20, 1)
    &__row
        // max-width: 1300px
        padding: 0 15px
        margin: 0 auto
        display: flex
        align-items: center
        justify-content: flex-end
        position: relative
        z-index: 2
    &__item
        position: absolute
        z-index: 5
        top: 9%
        left: 8%
    &__text
        width: 45%
        h2
            @include adaptiv-value("font-size", 40, 20, 1)
            line-height: 1.2
            font-weight: 700
            color: #002E5D
            margin-bottom: 20px
        p
            @include adaptiv-value("font-size", 24, 16, 1)
            line-height: 1.2
            font-weight: 400
    &__image
        flex: 0 1 65%
        img
            margin: 0 auto

#maincontent .function-maincontent
    position: relative
    z-index: 2
    &__bg
        position: relative
        z-index: 2
    &__text
        position: absolute
        z-index: 5
        top: 50%
        transform: translateY(-50%)
        left: 0
        right: 0
        width: 80%
        padding: 0 20px
        margin: 0 auto
        p
            @include adaptiv-value("font-size", 42, 14, 1)
            line-height: 1.2
            font-weight: 400
            text-align: center
            color: #ffffff
    &__image

#maincontent .column-maincontent
    @include adaptiv-value("padding-top", 80, 20, 1)
    @include adaptiv-value("padding-bottom", 80, 20, 1)
    position: relative
    z-index: 5
    &__row
        display: flex
        justify-content: space-between
        gap: 15px
        max-width: 1400px
        padding: 0 15px
        margin: 0 auto
    &__item
        flex: 0 1 30%
    &__text
        //width: 80%
        margin: 0 auto
        &:not(:last-child)
            margin-bottom: 100px
        p
            @include adaptiv-value("font-size", 24, 16, 1)
            line-height: 1.2
            font-weight: 400
        &_rt
            p
                text-align: right
    &__items
        // position: absolute
        // z-index: 5
        // top: -100px
        // left: 0
        // right: 0
        // width: 620px
        // margin: 0 auto
        margin-top: -200px
    &__media
        position: relative
        z-index: 2
    &__image
    &__icon
        position: absolute
        z-index: 5
        &_1
            bottom: 0
            left: 0
            right: 52%
        &_2
            bottom: -100px
            right: 0
            left: 52%

#maincontent .cook-maincontent
    &__bg
        position: relative
        z-index: 2
        padding-top: 100px
    &__text
        position: absolute
        z-index: 5
        top: 0
        right: 3%
        width: 60%
        p
            @include adaptiv-value("font-size", 38, 16, 1)
            line-height: 1.2
            font-weight: 400
            text-align: right
    &__image

//===========MEDIA=============================================================================================================================================

//@media screen and (max-width: 1300px)
@media screen and (max-width: 1125px)
    #maincontent .column-maincontent__items
        margin-top: 0
//@media screen and (max-width: 1024.98px)
@media screen and (max-width: 991.98px)
    #maincontent .vubor-maincontent__item
        position: unset
        flex: 0 1 50%
    #maincontent .vubor-maincontent__text
        width: auto
    #maincontent .vubor-maincontent__image
        flex: 0 1 50%
    #maincontent .column-maincontent__row
        flex-direction: column
        align-items: center
    #maincontent .column-maincontent__text p
        text-align: center
    #maincontent .column-maincontent__items
        margin-bottom: 80px
    #maincontent .column-maincontent__text:not(:last-child)
        margin-bottom: 20px

@media screen and (max-width: 767.98px)
    #maincontent .vubor-maincontent__row
        flex-direction: column
        gap: 20px
    #maincontent .vubor-maincontent__text
        h2,p
            text-align: center
    #maincontent .cook-maincontent__text
        position: unset
        width: auto
        padding: 0 15px
        p
            text-align: center
    #maincontent .cook-maincontent__bg
        padding-top: 0

@media screen and (max-width: 479.98px)
    #maincontent .header-maincontent__top
        left: 40%
    #maincontent .header-maincontent__logo img
        width: 100px
    #maincontent .header-maincontent__text
        padding-top: 8px
    #maincontent .header-maincontent__title
        left: 47%
        width: 40%

@media screen and (max-width: 410px)
    #maincontent .header-maincontent__top
        left: 15%
    #maincontent .column-maincontent__icon_2
        bottom: -60px
    #maincontent .column-maincontent__items
        margin-bottom: 50px
    #maincontent .function-maincontent__text
        width: auto

// @media (max-width: 812px) and (orientation: landscape)
