@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
#layout-template {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  background: #fff;
  font-family: "Roboto", sans-serif;
}
#layout-template h2, #layout-template h3, #layout-template h4, #layout-template h5, #layout-template h6, #layout-template p, #layout-template img {
  padding: 0;
  margin: 0;
  display: block;
}
#layout-template img {
  max-width: 100%;
  margin: 0 auto;
}
#layout-template h2 {
  font-size: 35px;
  line-height: 1.2;
  text-align: left;
}
#layout-template h3 {
  font-size: 25px;
  line-height: 1.2;
  font-weight: 600;
}
#layout-template p {
  font-size: 25px;
  line-height: 1.2;
  text-align: left;
}

.main-container.page {
  padding-left: 0;
  padding-right: 0;
}

.bc-description__content p:first-letter {
  padding-left: 0 !important;
}

body {
  margin: 0;
}

.tefal__container {
  max-width: 1536px;
  margin: 0 auto;
  padding: 0 15px;
}

.tefal__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

.content-revers {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.content__column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tefal__content .content__images {
  width: 100%;
}

.tefal__content .content__title {
  width: 100%;
}

#layout-template .title-center .title__h2 h2 {
  text-align: center;
}

#layout-template .title-center .title__p p {
  text-align: center;
}

.content__images {
  width: 40%;
}

.content__title {
  width: 60%;
  padding: 0 15px;
}

.title__h2 {
  padding: 20px 0;
}

.title__p {
  padding-bottom: 20px;
}

@media (max-width: 1024px) {
  #layout-template h2 {
    font-size: 30px;
  }
  #layout-template p {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .tefal__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .content__images {
    width: 100%;
  }
  .content__title {
    width: 100%;
  }
}
@media (max-width: 480px) {
  #layout-template h2 {
    font-size: 20px;
  }
  #layout-template p {
    font-size: 16px;
  }
}