#daewoocn .bc-description__content p {
  margin-bottom: 0;
}

#daewoocn .bc-description__content h3 {
  text-align: left;
}

#daewoocn h1, #daewoocn h2, #daewoocn h3, #daewoocn h4, #daewoocn h5, #daewoocn h6 {
  text-transform: none;
  font-weight: bold;
}

#daewoocn {
  margin: 0 auto;
  overflow: hidden;
  background-color: #ffffff;
}
#daewoocn h1, #daewoocn h2, #daewoocn h3, #daewoocn h4, #daewoocn h5, #daewoocn h6, #daewoocn p {
  margin: 0;
  padding: 0;
  text-align: left;
}

#daewoocn p::first-letter {
  padding-left: 0;
}

#daewoocn img {
  opacity: 1;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#daewoocn img:hover {
  opacity: 1;
}

#daewoocn .daewoocn__container {
  max-width: 1440px;
  margin: 0 auto;
}

#daewoocn h2 {
  font-size: 32px;
  font-weight: 800;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media (max-width: 1440px) {
  #daewoocn h2 {
    font-size: -webkit-calc(20px + 12 * ((100vw - 320px) / 1120));
    font-size: calc(20px + 12 * ((100vw - 320px) / 1120));
  }
}
#daewoocn p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
}
@media (max-width: 1440px) {
  #daewoocn p {
    font-size: -webkit-calc(16px + 8 * ((100vw - 320px) / 1120));
    font-size: calc(16px + 8 * ((100vw - 320px) / 1120));
  }
}

#daewoocn .header-daewoocn__bg {
  position: relative;
  z-index: 2;
}
#daewoocn .header-daewoocn__logo {
  position: absolute;
  z-index: 5;
  top: 9.375%;
  left: 60.2083333333%;
  right: 6.25%;
}
#daewoocn .shafa-daewoocn__bg {
  background: url("https://cdn.comfy.ua/media/x/img3/2556643/img3.png") 0 0 no-repeat;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  min-height: 505px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#daewoocn .shafa-daewoocn__text {
  width: 80%;
  margin: 0 auto;
  padding: 0 15px;
}
#daewoocn .shafa-daewoocn__text h2 {
  color: #A8741A;
  text-align: center;
}
#daewoocn .shafa-daewoocn__text p {
  color: #FFFFFF;
  text-align: center;
}

#daewoocn .pump-daewoocn {
  padding-top: 70px;
}
#daewoocn .pump-daewoocn__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#daewoocn .pump-daewoocn__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
#daewoocn .pump-daewoocn__text {
  width: 80%;
  margin: 0 auto;
}
#daewoocn .pump-daewoocn__text h2 {
  color: #A8741A;
}
#daewoocn .pump-daewoocn__image {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

#daewoocn .praska-daewoocn__bg {
  background: url("https://cdn.comfy.ua/media/x/img3/2556643/img5.png") 0 0 no-repeat;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  min-height: 680px;
  position: relative;
}
#daewoocn .praska-daewoocn__text {
  position: absolute;
  z-index: 5;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 6.25%;
  width: 40%;
}
#daewoocn .praska-daewoocn__text h2, #daewoocn .praska-daewoocn__text p {
  color: #FFFFFF;
}

#daewoocn .sushka-daewoocn__bg {
  background: url("https://cdn.comfy.ua/media/x/img3/2556643/img12.png") 0 0 no-repeat;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  min-height: 680px;
  position: relative;
}
#daewoocn .sushka-daewoocn__text {
  position: absolute;
  z-index: 5;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 6.25%;
  width: 40%;
}
#daewoocn .sushka-daewoocn__text h2, #daewoocn .sushka-daewoocn__text p {
  color: #FFFFFF;
}
#daewoocn .sushka-daewoocn__text p:not(:last-child) {
  margin-bottom: 15px;
}

#daewoocn .vovna-daewoocn__bg {
  background: url("https://cdn.comfy.ua/media/x/img3/2556643/img13.png") 0 0 no-repeat;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  min-height: 540px;
  position: relative;
}
#daewoocn .vovna-daewoocn__bg::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(112, 112, 112, 0.3647058824);
}
#daewoocn .vovna-daewoocn__text {
  position: absolute;
  z-index: 5;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 52.7777777778%;
  right: 8.0555555556%;
}
#daewoocn .vovna-daewoocn__text h2, #daewoocn .vovna-daewoocn__text p {
  color: #FFFFFF;
}

#daewoocn .energy-daewoocn__bg {
  background: url("https://cdn.comfy.ua/media/x/img3/2556643/img14.png") 0 0 no-repeat;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  min-height: 500px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#daewoocn .energy-daewoocn__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#daewoocn .energy-daewoocn__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
#daewoocn .energy-daewoocn__text {
  width: 80%;
  margin: 0 auto;
}
#daewoocn .energy-daewoocn__text h2 {
  color: #A8741A;
}
#daewoocn .energy-daewoocn__text p {
  color: #FFFFFF;
}
#daewoocn .energy-daewoocn__image {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

#daewoocn .column-daewoocn__bg {
  background: url("https://cdn.comfy.ua/media/x/img3/2556643/img7.png") 0 0 no-repeat;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  padding-top: 37px;
  position: relative;
  z-index: 2;
}
#daewoocn .column-daewoocn__line {
  position: absolute;
  z-index: 3;
}
#daewoocn .column-daewoocn__line_1 {
  top: 24.7689463956%;
  right: 34.7222222222%;
  left: 33.3333333333%;
}
#daewoocn .column-daewoocn__line_2 {
  top: 42.6987060998%;
  right: 31.1805555556%;
  left: 35.7638888889%;
}
#daewoocn .column-daewoocn__line_3 {
  top: 42.6987060998%;
  right: 31.1805555556%;
  left: 31.9444444444%;
}
#daewoocn .column-daewoocn__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
#daewoocn .column-daewoocn__item {
  padding-right: 30px;
  padding-top: 80px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 30%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 1440px) {
  #daewoocn .column-daewoocn__item {
    padding-right: -webkit-calc(15px + 15 * ((100vw - 320px) / 1120));
    padding-right: calc(15px + 15 * ((100vw - 320px) / 1120));
  }
}
@media (max-width: 1440px) {
  #daewoocn .column-daewoocn__item {
    padding-top: -webkit-calc(10px + 70 * ((100vw - 320px) / 1120));
    padding-top: calc(10px + 70 * ((100vw - 320px) / 1120));
  }
}
#daewoocn .column-daewoocn__inner {
  position: relative;
  z-index: 7;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
#daewoocn .column-daewoocn__inner:not(:last-child) {
  margin-bottom: 40px;
}
@media (max-width: 1440px) {
  #daewoocn .column-daewoocn__inner:not(:last-child) {
    margin-bottom: -webkit-calc(10px + 30 * ((100vw - 320px) / 1120));
    margin-bottom: calc(10px + 30 * ((100vw - 320px) / 1120));
  }
}
#daewoocn .column-daewoocn__icon {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 76px;
     -moz-box-flex: 0;
      -ms-flex: 0 0 76px;
          flex: 0 0 76px;
  position: relative;
  z-index: 6;
}
#daewoocn .column-daewoocn__icon::after {
  content: "";
  position: absolute;
  z-index: -1;
  background: url("https://cdn.comfy.ua/media/x/img3/2556643/img11.png") 0 0 no-repeat;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  width: 77px;
  height: 77px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#daewoocn .column-daewoocn__image {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 70%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
}

@media screen and (max-width: 1409px) {
  #daewoocn .column-daewoocn__inner {
    gap: 20px;
  }
  #daewoocn .column-daewoocn__item {
    padding-right: 10px;
  }
}
@media screen and (max-width: 1270px) {
  #daewoocn .column-daewoocn__item {
    padding-top: 32px;
  }
}
@media screen and (max-width: 1139px) {
  #daewoocn .column-daewoocn__item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 40%;
       -moz-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
    padding-top: 47px;
  }
  #daewoocn .column-daewoocn__image {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 60%;
       -moz-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
  }
  #daewoocn .column-daewoocn__icon {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 40px;
       -moz-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
  }
  #daewoocn .column-daewoocn__icon::after {
    width: 63px;
    height: 63px;
  }
  #daewoocn .column-daewoocn__inner {
    gap: 30px;
  }
}
@media screen and (max-width: 991.98px) {
  #daewoocn .column-daewoocn__item {
    padding-top: 30px;
  }
}
@media screen and (max-width: 916px) {
  #daewoocn .column-daewoocn__item {
    padding-top: 8px;
  }
}
@media screen and (max-width: 854px) {
  #daewoocn .column-daewoocn__item {
    padding-top: 30px;
  }
  #daewoocn .column-daewoocn__icon::after {
    width: 53px;
    height: 53px;
  }
  #daewoocn .column-daewoocn__icon {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 30px;
       -moz-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
  }
  #daewoocn .column-daewoocn__inner {
    gap: 20px;
  }
}
@media screen and (max-width: 834px) {
  #daewoocn .column-daewoocn__item {
    padding-top: 10px;
  }
}
@media screen and (max-width: 794px) {
  #daewoocn .column-daewoocn__item {
    padding-top: 0px;
  }
  #daewoocn .column-daewoocn__inner:not(:last-child) {
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 767.98px) {
  #daewoocn .column-daewoocn__inner:not(:last-child) {
    margin-bottom: 40px;
  }
  #daewoocn .column-daewoocn__icon::after {
    width: 75px;
    height: 75px;
  }
  #daewoocn .column-daewoocn__icon {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 70px;
       -moz-box-flex: 0;
        -ms-flex: 0 0 70px;
            flex: 0 0 70px;
  }
  #daewoocn .column-daewoocn__item {
    padding: 0 15px 0;
  }
  #daewoocn .column-daewoocn__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 20px;
  }
  #daewoocn .energy-daewoocn__text h2, #daewoocn .energy-daewoocn__text p {
    text-align: center;
  }
  #daewoocn .energy-daewoocn__row {
    padding: 0 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  #daewoocn .vovna-daewoocn__bg {
    min-height: 460px;
  }
  #daewoocn .praska-daewoocn__text,
  #daewoocn .sushka-daewoocn__text,
  #daewoocn .vovna-daewoocn__text {
    width: 80%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #daewoocn .praska-daewoocn__text h2, #daewoocn .praska-daewoocn__text p,
  #daewoocn .sushka-daewoocn__text h2,
  #daewoocn .sushka-daewoocn__text p,
  #daewoocn .vovna-daewoocn__text h2,
  #daewoocn .vovna-daewoocn__text p {
    text-align: center;
  }
  #daewoocn .praska-daewoocn__bg,
  #daewoocn .sushka-daewoocn__bg {
    min-height: 488px;
  }
  #daewoocn .pump-daewoocn__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  #daewoocn .shafa-daewoocn__bg {
    min-height: 400px;
  }
  #daewoocn .pump-daewoocn {
    padding: 20px 15px 0;
  }
  #daewoocn .pump-daewoocn__text {
    width: auto;
  }
  #daewoocn .pump-daewoocn__text h2, #daewoocn .pump-daewoocn__text p {
    text-align: center;
  }
}
@media screen and (max-width: 479.98px) {
  #daewoocn .shafa-daewoocn__text {
    width: auto;
  }
  #daewoocn .shafa-daewoocn__bg {
    min-height: 380px;
  }
  #daewoocn .praska-daewoocn__bg {
    min-height: 430px;
    background-position-x: 50%;
  }
  #daewoocn .praska-daewoocn__text,
  #daewoocn .sushka-daewoocn__text,
  #daewoocn .vovna-daewoocn__text,
  #daewoocn .energy-daewoocn__text {
    width: 90%;
  }
  #daewoocn .sushka-daewoocn__bg {
    min-height: 430px;
    background-position-x: 70%;
  }
  #daewoocn .vovna-daewoocn__bg {
    min-height: 330px;
  }
}/*# sourceMappingURL=style.css.map */