#maincontent ul,
#maincontent ol,
#maincontent li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#maincontent .bc-description__content p {
  margin-bottom: 0;
}

#maincontent .bc-description__content h3 {
  text-align: left;
}

#maincontent h1, #maincontent h2, #maincontent h3, #maincontent h4, #maincontent h5, #maincontent h6 {
  text-transform: none;
  font-weight: bold;
}

#maincontent {
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  max-width: 1920px;
  font-family: "Roboto", sans-serif;
}
#maincontent h1, #maincontent h2, #maincontent h3, #maincontent h4, #maincontent h5, #maincontent h6, #maincontent p {
  margin: 0;
  padding: 0;
  text-align: left;
}

#maincontent p::first-letter {
  padding-left: 0;
}

#maincontent img {
  opacity: 1;
  max-width: 100%;
  display: block;
  margin: 0;
}

#maincontent img:hover {
  opacity: 1;
}

#maincontent h2, #maincontent h3, #maincontent h4, #maincontent p, #maincontent span {
  color: #ffffff;
}

#maincontent .header-maincontent__bg {
  background-color: #0d0e0e;
  padding-top: 96px;
  padding-left: 140px;
  padding-bottom: 96px;
  padding-right: 0;
  position: relative;
  z-index: 2;
}
@media (max-width: 1800px) {
  #maincontent .header-maincontent__bg {
    padding-left: -webkit-calc(15px + 125 * (100vw - 320px) / 1480);
    padding-left: calc(15px + 125 * (100vw - 320px) / 1480);
  }
}
#maincontent .header-maincontent__logo {
  position: absolute;
  z-index: 5;
  top: 6%;
  left: 7%;
}
#maincontent .header-maincontent__logo img {
  width: 30%;
}
#maincontent .header-maincontent__row {
  padding-top: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  position: relative;
  z-index: 2;
}
#maincontent .header-maincontent__snoska {
  position: absolute;
  z-index: 5;
  top: 20%;
  right: 35%;
  left: 45%;
  background-color: rgba(38, 39, 39, 0.7764705882);
  width: 333px;
  padding: 25px 10px 25px 20px;
  -webkit-border-radius: 15px 0 0 15px;
          border-radius: 15px 0 0 15px;
}
#maincontent .header-maincontent__snoska p {
  font-size: 30px;
  line-height: 1.25;
  color: #ffffff;
}
@media (max-width: 1800px) {
  #maincontent .header-maincontent__snoska p {
    font-size: -webkit-calc(16px + 14 * (100vw - 320px) / 1480);
    font-size: calc(16px + 14 * (100vw - 320px) / 1480);
  }
}
#maincontent .header-maincontent__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
#maincontent .header-maincontent__text h2 {
  font-size: 64px;
  line-height: 1.2;
  margin-bottom: 10px;
  color: #ffffff;
}
@media (max-width: 1800px) {
  #maincontent .header-maincontent__text h2 {
    font-size: -webkit-calc(30px + 34 * (100vw - 320px) / 1480);
    font-size: calc(30px + 34 * (100vw - 320px) / 1480);
  }
}
#maincontent .header-maincontent__text span {
  font-size: 105px;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
  display: block;
}
@media (max-width: 1800px) {
  #maincontent .header-maincontent__text span {
    font-size: -webkit-calc(30px + 75 * (100vw - 320px) / 1480);
    font-size: calc(30px + 75 * (100vw - 320px) / 1480);
  }
}
#maincontent .header-maincontent__text p {
  padding-top: 80px;
  font-size: 30px;
  line-height: 1.25;
  color: #ffffff;
}
@media (max-width: 1800px) {
  #maincontent .header-maincontent__text p {
    font-size: -webkit-calc(16px + 14 * (100vw - 320px) / 1480);
    font-size: calc(16px + 14 * (100vw - 320px) / 1480);
  }
}
#maincontent .header-maincontent__image {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
#maincontent .header-maincontent__image img {
  margin-left: auto;
}

#maincontent .technology-maincontent__bg {
  background-color: #0d0e0e;
  padding-left: 140px;
  padding-top: 160px;
  padding-right: 90px;
  position: relative;
  z-index: 2;
}
@media (max-width: 1800px) {
  #maincontent .technology-maincontent__bg {
    padding-left: -webkit-calc(10px + 130 * (100vw - 320px) / 1480);
    padding-left: calc(10px + 130 * (100vw - 320px) / 1480);
  }
}
@media (max-width: 1800px) {
  #maincontent .technology-maincontent__bg {
    padding-right: -webkit-calc(10px + 80 * (100vw - 320px) / 1480);
    padding-right: calc(10px + 80 * (100vw - 320px) / 1480);
  }
}
#maincontent .technology-maincontent__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}
#maincontent .technology-maincontent__title {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 60%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}
#maincontent .technology-maincontent__title h2 {
  font-size: 60px;
  line-height: 1.2;
  text-transform: uppercase;
}
@media (max-width: 1800px) {
  #maincontent .technology-maincontent__title h2 {
    font-size: -webkit-calc(20px + 40 * (100vw - 320px) / 1480);
    font-size: calc(20px + 40 * (100vw - 320px) / 1480);
  }
}
#maincontent .technology-maincontent__items {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 40%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  background-color: #ffffff;
  padding: 30px 50px;
  -webkit-border-radius: 80px;
          border-radius: 80px;
}
#maincontent .technology-maincontent__number p {
  font-size: 90px;
  line-height: 1.2;
  font-weight: bold;
  color: #ff0000;
}
@media (max-width: 1800px) {
  #maincontent .technology-maincontent__number p {
    font-size: -webkit-calc(20px + 70 * (100vw - 320px) / 1480);
    font-size: calc(20px + 70 * (100vw - 320px) / 1480);
  }
}
#maincontent .technology-maincontent__text p {
  font-size: 26px;
  line-height: 1.2;
  color: #000000;
}
@media (max-width: 1800px) {
  #maincontent .technology-maincontent__text p {
    font-size: -webkit-calc(16px + 10 * (100vw - 320px) / 1480);
    font-size: calc(16px + 10 * (100vw - 320px) / 1480);
  }
}
#maincontent .technology-maincontent__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#maincontent .technology-maincontent__list {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 45%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
}
#maincontent .technology-maincontent__list-item {
  padding-left: 70px;
  position: relative;
  z-index: 2;
}
#maincontent .technology-maincontent__list-item::before {
  content: "";
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  background: url("https://cdn.comfy.ua/media/x/img3/2666847/img7.png") 0 0/cover no-repeat;
  width: 35px;
  height: 33px;
}
#maincontent .technology-maincontent__list-item::after {
  content: "";
  position: absolute;
  z-index: 5;
  top: 15px;
  height: 1px;
  background-color: #ffffff;
}
#maincontent .technology-maincontent__list-item:nth-child(1)::after {
  right: -400px;
  width: 100%;
}
#maincontent .technology-maincontent__list-item:nth-child(2)::after {
  right: -280px;
  width: 80%;
}
#maincontent .technology-maincontent__list-item:nth-child(3)::after {
  right: -190px;
  width: 65%;
}
#maincontent .technology-maincontent__list-item:nth-child(4)::after {
  right: -200px;
  width: 82%;
}
#maincontent .technology-maincontent__list-item:not(:last-child) {
  margin-bottom: 30px;
}
#maincontent .technology-maincontent__list-item h4 {
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 10px;
}
@media (max-width: 1800px) {
  #maincontent .technology-maincontent__list-item h4 {
    font-size: -webkit-calc(18px + 6 * (100vw - 320px) / 1480);
    font-size: calc(18px + 6 * (100vw - 320px) / 1480);
  }
}
#maincontent .technology-maincontent__list-item p {
  font-size: 18px;
  line-height: 1.2;
}
@media (max-width: 1800px) {
  #maincontent .technology-maincontent__list-item p {
    font-size: -webkit-calc(16px + 2 * (100vw - 320px) / 1480);
    font-size: calc(16px + 2 * (100vw - 320px) / 1480);
  }
}
#maincontent .technology-maincontent__image {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 929px;
     -moz-box-flex: 0;
      -ms-flex: 0 0 929px;
          flex: 0 0 929px;
  height: 875px;
  position: relative;
  z-index: 1;
}
#maincontent .technology-maincontent__image img {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#maincontent .complect-maincontent__bg {
  background-color: #0d0e0e;
  padding-top: 130px;
  padding-bottom: 130px;
  padding-left: 160px;
  padding-right: 160px;
  position: relative;
  z-index: 2;
}
@media (max-width: 1800px) {
  #maincontent .complect-maincontent__bg {
    padding-top: -webkit-calc(20px + 110 * (100vw - 320px) / 1480);
    padding-top: calc(20px + 110 * (100vw - 320px) / 1480);
  }
}
@media (max-width: 1800px) {
  #maincontent .complect-maincontent__bg {
    padding-bottom: -webkit-calc(20px + 110 * (100vw - 320px) / 1480);
    padding-bottom: calc(20px + 110 * (100vw - 320px) / 1480);
  }
}
@media (max-width: 1800px) {
  #maincontent .complect-maincontent__bg {
    padding-left: -webkit-calc(20px + 140 * (100vw - 320px) / 1480);
    padding-left: calc(20px + 140 * (100vw - 320px) / 1480);
  }
}
@media (max-width: 1800px) {
  #maincontent .complect-maincontent__bg {
    padding-right: -webkit-calc(20px + 140 * (100vw - 320px) / 1480);
    padding-right: calc(20px + 140 * (100vw - 320px) / 1480);
  }
}
#maincontent .complect-maincontent__bg::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background: url("https://cdn.comfy.ua/media/x/img3/2666847/img6.png") 0 0/cover no-repeat;
}
#maincontent .complect-maincontent__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  margin-bottom: 100px;
}
#maincontent .complect-maincontent__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 1041px;
     -moz-box-flex: 0;
      -ms-flex: 0 1 1041px;
          flex: 0 1 1041px;
}
#maincontent .complect-maincontent__item-text p {
  font-size: 40px;
  line-height: 1.2;
}
@media (max-width: 1800px) {
  #maincontent .complect-maincontent__item-text p {
    font-size: -webkit-calc(18px + 22 * (100vw - 320px) / 1480);
    font-size: calc(18px + 22 * (100vw - 320px) / 1480);
  }
}
#maincontent .complect-maincontent__item-text p:not(:last-child) {
  margin-bottom: 60px;
}
#maincontent .complect-maincontent__row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
}
#maincontent .complect-maincontent__image img {
  margin: 0 auto;
}
#maincontent .complect-maincontent__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  margin-top: -5px;
  position: relative;
  z-index: 2;
}
#maincontent .complect-maincontent__items::after {
  content: "";
  position: absolute;
  z-index: 5;
  bottom: 2px;
  right: 0;
  width: 90%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.48);
}
#maincontent .complect-maincontent__icon {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 130px;
     -moz-box-flex: 0;
      -ms-flex: 0 0 130px;
          flex: 0 0 130px;
  position: relative;
  z-index: 10;
}
#maincontent .complect-maincontent__title h4 {
  font-size: 32px;
  line-height: 1.2;
}
@media (max-width: 1800px) {
  #maincontent .complect-maincontent__title h4 {
    font-size: -webkit-calc(16px + 16 * (100vw - 320px) / 1480);
    font-size: calc(16px + 16 * (100vw - 320px) / 1480);
  }
}
#maincontent .complect-maincontent__text {
  padding-top: 30px;
  width: 90%;
  margin: 0 auto;
}
#maincontent .complect-maincontent__text p {
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
}
@media (max-width: 1800px) {
  #maincontent .complect-maincontent__text p {
    font-size: -webkit-calc(16px + 12 * (100vw - 320px) / 1480);
    font-size: calc(16px + 12 * (100vw - 320px) / 1480);
  }
}

#maincontent .spec-maincontent__bg {
  background-color: #0d0e0e;
  padding-top: 130px;
  padding-bottom: 130px;
  padding-left: 160px;
  padding-right: 120px;
  position: relative;
  z-index: 2;
}
@media (max-width: 1800px) {
  #maincontent .spec-maincontent__bg {
    padding-top: -webkit-calc(20px + 110 * (100vw - 320px) / 1480);
    padding-top: calc(20px + 110 * (100vw - 320px) / 1480);
  }
}
@media (max-width: 1800px) {
  #maincontent .spec-maincontent__bg {
    padding-bottom: -webkit-calc(20px + 110 * (100vw - 320px) / 1480);
    padding-bottom: calc(20px + 110 * (100vw - 320px) / 1480);
  }
}
@media (max-width: 1800px) {
  #maincontent .spec-maincontent__bg {
    padding-left: -webkit-calc(20px + 140 * (100vw - 320px) / 1480);
    padding-left: calc(20px + 140 * (100vw - 320px) / 1480);
  }
}
@media (max-width: 1800px) {
  #maincontent .spec-maincontent__bg {
    padding-right: -webkit-calc(20px + 100 * (100vw - 320px) / 1480);
    padding-right: calc(20px + 100 * (100vw - 320px) / 1480);
  }
}
#maincontent .spec-maincontent__bg::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 15%;
  -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
       -o-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  width: 100%;
  height: 100%;
  background: url("https://cdn.comfy.ua/media/x/img3/2666847/img15-1.png") 0 0 no-repeat;
}
#maincontent .spec-maincontent__media {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
#maincontent .spec-maincontent__line {
  position: absolute;
  z-index: 5;
}
#maincontent .spec-maincontent__line_1 {
  top: 4%;
  left: 24%;
  right: 60%;
}
#maincontent .spec-maincontent__line_2 {
  top: 23%;
  left: 24%;
  right: 60%;
}
#maincontent .spec-maincontent__line_3 {
  top: 52%;
  left: 26%;
  right: 60%;
}
#maincontent .spec-maincontent__line_4 {
  top: 4%;
  right: 30%;
  left: 58%;
}
#maincontent .spec-maincontent__line_5 {
  top: 30%;
  right: 30%;
  left: 58%;
}
#maincontent .spec-maincontent__line_6 {
  top: 60%;
  right: 30%;
  left: 58%;
}
#maincontent .spec-maincontent__item {
  width: 90%;
}
#maincontent .spec-maincontent__item:not(:last-child) {
  margin-bottom: 50px;
}
#maincontent .spec-maincontent__item h4 {
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 10px;
}
@media (max-width: 1800px) {
  #maincontent .spec-maincontent__item h4 {
    font-size: -webkit-calc(16px + 8 * (100vw - 320px) / 1480);
    font-size: calc(16px + 8 * (100vw - 320px) / 1480);
  }
}
#maincontent .spec-maincontent__item p {
  font-size: 24px;
  line-height: 1.2;
}
@media (max-width: 1800px) {
  #maincontent .spec-maincontent__item p {
    font-size: -webkit-calc(16px + 8 * (100vw - 320px) / 1480);
    font-size: calc(16px + 8 * (100vw - 320px) / 1480);
  }
}
#maincontent .spec-maincontent__col {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 33.3333333333%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 33.3333333333%;
          flex: 0 1 33.3333333333%;
}
#maincontent .comfort-maincontent__bg {
  background-color: #0d0e0e;
  padding-top: 130px;
  padding-bottom: 130px;
  padding-left: 50px;
  padding-right: 120px;
  position: relative;
  z-index: 2;
}
@media (max-width: 1800px) {
  #maincontent .comfort-maincontent__bg {
    padding-top: -webkit-calc(20px + 110 * (100vw - 320px) / 1480);
    padding-top: calc(20px + 110 * (100vw - 320px) / 1480);
  }
}
@media (max-width: 1800px) {
  #maincontent .comfort-maincontent__bg {
    padding-bottom: -webkit-calc(20px + 110 * (100vw - 320px) / 1480);
    padding-bottom: calc(20px + 110 * (100vw - 320px) / 1480);
  }
}
@media (max-width: 1800px) {
  #maincontent .comfort-maincontent__bg {
    padding-left: -webkit-calc(20px + 30 * (100vw - 320px) / 1480);
    padding-left: calc(20px + 30 * (100vw - 320px) / 1480);
  }
}
@media (max-width: 1800px) {
  #maincontent .comfort-maincontent__bg {
    padding-right: -webkit-calc(20px + 100 * (100vw - 320px) / 1480);
    padding-right: calc(20px + 100 * (100vw - 320px) / 1480);
  }
}
#maincontent .comfort-maincontent__bg::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: url("https://cdn.comfy.ua/media/x/img3/2666847/img15-1.png") 0 0 no-repeat;
}
#maincontent .comfort-maincontent__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
#maincontent .comfort-maincontent__media {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
#maincontent .comfort-maincontent__image img {
  margin: 0 auto;
}
#maincontent .comfort-maincontent__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
#maincontent .comfort-maincontent__text h2 {
  font-size: 45px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 80px;
}
@media (max-width: 1800px) {
  #maincontent .comfort-maincontent__text h2 {
    font-size: -webkit-calc(18px + 27 * (100vw - 320px) / 1480);
    font-size: calc(18px + 27 * (100vw - 320px) / 1480);
  }
}
#maincontent .comfort-maincontent__text p {
  font-size: 35px;
  line-height: 1.2;
}
@media (max-width: 1800px) {
  #maincontent .comfort-maincontent__text p {
    font-size: -webkit-calc(16px + 19 * (100vw - 320px) / 1480);
    font-size: calc(16px + 19 * (100vw - 320px) / 1480);
  }
}

#maincontent .trainy-maincontent__bg {
  background-color: #0d0e0e;
  padding-top: 130px;
  padding-bottom: 130px;
  padding-left: 100px;
  position: relative;
  z-index: 2;
}
@media (max-width: 1800px) {
  #maincontent .trainy-maincontent__bg {
    padding-top: -webkit-calc(20px + 110 * (100vw - 320px) / 1480);
    padding-top: calc(20px + 110 * (100vw - 320px) / 1480);
  }
}
@media (max-width: 1800px) {
  #maincontent .trainy-maincontent__bg {
    padding-bottom: -webkit-calc(20px + 110 * (100vw - 320px) / 1480);
    padding-bottom: calc(20px + 110 * (100vw - 320px) / 1480);
  }
}
@media (max-width: 1800px) {
  #maincontent .trainy-maincontent__bg {
    padding-left: -webkit-calc(20px + 80 * (100vw - 320px) / 1480);
    padding-left: calc(20px + 80 * (100vw - 320px) / 1480);
  }
}
#maincontent .trainy-maincontent__bg::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background: url("https://cdn.comfy.ua/media/x/img3/2666847/img15-1.png") center/cover no-repeat;
}
#maincontent .trainy-maincontent__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
}
#maincontent .trainy-maincontent__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
#maincontent .trainy-maincontent__text {
  width: 80%;
}
#maincontent .trainy-maincontent__text h2 {
  font-size: 45px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 50px;
}
@media (max-width: 1800px) {
  #maincontent .trainy-maincontent__text h2 {
    font-size: -webkit-calc(18px + 27 * (100vw - 320px) / 1480);
    font-size: calc(18px + 27 * (100vw - 320px) / 1480);
  }
}
#maincontent .trainy-maincontent__text p {
  font-size: 35px;
  line-height: 1.2;
}
@media (max-width: 1800px) {
  #maincontent .trainy-maincontent__text p {
    font-size: -webkit-calc(16px + 19 * (100vw - 320px) / 1480);
    font-size: calc(16px + 19 * (100vw - 320px) / 1480);
  }
}
#maincontent .trainy-maincontent__items {
  width: 475px;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 45%;
}
#maincontent .trainy-maincontent__col {
  padding: 20px 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  background-color: rgba(255, 255, 255, 0.3137254902);
  -webkit-border-radius: 20px;
          border-radius: 20px;
}
#maincontent .trainy-maincontent__col:not(:last-child) {
  margin-bottom: 15px;
}
#maincontent .trainy-maincontent__icon {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 70px;
     -moz-box-flex: 0;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
}
#maincontent .trainy-maincontent__texts p {
  font-size: 25px;
  line-height: 1.2;
}
@media (max-width: 1800px) {
  #maincontent .trainy-maincontent__texts p {
    font-size: -webkit-calc(12px + 13 * (100vw - 320px) / 1480);
    font-size: calc(12px + 13 * (100vw - 320px) / 1480);
  }
}
#maincontent .trainy-maincontent__image {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

#maincontent .touch-maincontent__bg {
  background-color: #0d0e0e;
  padding-top: 130px;
  padding-bottom: 130px;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  z-index: 2;
}
@media (max-width: 1800px) {
  #maincontent .touch-maincontent__bg {
    padding-top: -webkit-calc(20px + 110 * (100vw - 320px) / 1480);
    padding-top: calc(20px + 110 * (100vw - 320px) / 1480);
  }
}
@media (max-width: 1800px) {
  #maincontent .touch-maincontent__bg {
    padding-bottom: -webkit-calc(20px + 110 * (100vw - 320px) / 1480);
    padding-bottom: calc(20px + 110 * (100vw - 320px) / 1480);
  }
}
#maincontent .touch-maincontent__bg::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background: url("https://cdn.comfy.ua/media/x/img3/2666847/img15-1.png") center/cover no-repeat;
}
#maincontent .touch-maincontent__txt-gray {
  position: absolute;
  z-index: -1;
  top: 10%;
  left: 22%;
  background-color: #4e4f4f;
  padding: 30px 20px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
}
#maincontent .touch-maincontent__txt-gray p {
  font-size: 22px;
  line-height: 1.2;
}
@media (max-width: 1800px) {
  #maincontent .touch-maincontent__txt-gray p {
    font-size: -webkit-calc(14px + 8 * (100vw - 320px) / 1480);
    font-size: calc(14px + 8 * (100vw - 320px) / 1480);
  }
}
#maincontent .touch-maincontent__txt-gray p span {
  font-size: 45px;
  line-height: 1;
}
@media (max-width: 1800px) {
  #maincontent .touch-maincontent__txt-gray p span {
    font-size: -webkit-calc(16px + 29 * (100vw - 320px) / 1480);
    font-size: calc(16px + 29 * (100vw - 320px) / 1480);
  }
}
#maincontent .touch-maincontent__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#maincontent .touch-maincontent__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 60%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}
#maincontent .touch-maincontent__title {
  width: 73%;
  margin-left: auto;
}
#maincontent .touch-maincontent__title h2 {
  font-size: 35px;
  line-height: 1.2;
  margin-bottom: 40px;
}
@media (max-width: 1800px) {
  #maincontent .touch-maincontent__title h2 {
    font-size: -webkit-calc(18px + 17 * (100vw - 320px) / 1480);
    font-size: calc(18px + 17 * (100vw - 320px) / 1480);
  }
}
#maincontent .touch-maincontent__col {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5333333333);
  -webkit-border-radius: 35px;
          border-radius: 35px;
  gap: 40px;
  padding-right: 50px;
}
#maincontent .touch-maincontent__col:not(:last-child) {
  margin-bottom: 20px;
}
#maincontent .touch-maincontent__col::after {
  content: "";
  position: absolute;
  z-index: 5;
  top: 50%;
  right: -30px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("https://cdn.comfy.ua/media/x/img3/2666847/img35.png") center/cover no-repeat;
  width: 58px;
  height: 58px;
}
#maincontent .touch-maincontent__media {
  position: relative;
  z-index: 2;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 240px;
     -moz-box-flex: 0;
      -ms-flex: 0 0 240px;
          flex: 0 0 240px;
}
#maincontent .touch-maincontent__icons {
  position: absolute;
  z-index: 5;
  top: 0;
  left: -20px;
}
#maincontent .touch-maincontent__col-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
#maincontent .touch-maincontent__col-title {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 35%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 35%;
          flex: 0 1 35%;
}
#maincontent .touch-maincontent__col-title h2 {
  font-size: 35px;
  line-height: 1.2;
  margin-bottom: 5px;
}
@media (max-width: 1800px) {
  #maincontent .touch-maincontent__col-title h2 {
    font-size: -webkit-calc(16px + 19 * (100vw - 320px) / 1480);
    font-size: calc(16px + 19 * (100vw - 320px) / 1480);
  }
}
#maincontent .touch-maincontent__col-title span {
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
}
@media (max-width: 1800px) {
  #maincontent .touch-maincontent__col-title span {
    font-size: -webkit-calc(15px + 9 * (100vw - 320px) / 1480);
    font-size: calc(15px + 9 * (100vw - 320px) / 1480);
  }
}
#maincontent .touch-maincontent__col-txt {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 65%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 65%;
          flex: 0 1 65%;
}
#maincontent .touch-maincontent__col-txt h4 {
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 5px;
}
@media (max-width: 1800px) {
  #maincontent .touch-maincontent__col-txt h4 {
    font-size: -webkit-calc(16px + 8 * (100vw - 320px) / 1480);
    font-size: calc(16px + 8 * (100vw - 320px) / 1480);
  }
}
#maincontent .touch-maincontent__col-txt p {
  font-size: 23px;
  line-height: 1.2;
}
@media (max-width: 1800px) {
  #maincontent .touch-maincontent__col-txt p {
    font-size: -webkit-calc(15px + 8 * (100vw - 320px) / 1480);
    font-size: calc(15px + 8 * (100vw - 320px) / 1480);
  }
}
#maincontent .touch-maincontent__image {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 40%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

#maincontent .snoska-maincontent {
  padding: 15px;
}
#maincontent .snoska-maincontent p {
  font-size: 15px;
  line-height: 1.2;
  color: #000;
}
#maincontent .snoska-maincontent p:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (max-width: 1580px) {
  #maincontent .header-maincontent__snoska {
    right: 0;
    left: auto;
    top: -webkit-calc(100px + 2%);
    top: calc(100px + 2%);
  }
  #maincontent .technology-maincontent__image {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 819px;
       -moz-box-flex: 0;
        -ms-flex: 0 0 819px;
            flex: 0 0 819px;
    height: 765px;
  }
}
@media screen and (max-width: 1550px) {
  #maincontent .spec-maincontent__line_4 {
    right: 27%;
  }
  #maincontent .spec-maincontent__line_5 {
    right: 27%;
    top: 28%;
  }
  #maincontent .spec-maincontent__line_6 {
    top: 55%;
    right: 28%;
  }
  #maincontent .spec-maincontent__item {
    width: auto;
  }
}
@media screen and (max-width: 1472px) {
  #maincontent .technology-maincontent__image {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 716px;
       -moz-box-flex: 0;
        -ms-flex: 0 0 716px;
            flex: 0 0 716px;
    height: 820px;
  }
}
@media screen and (max-width: 1427px) {
  #maincontent .spec-maincontent__bg {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 1372px) {
  #maincontent .technology-maincontent__image {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 606px;
       -moz-box-flex: 0;
        -ms-flex: 0 0 606px;
            flex: 0 0 606px;
    height: 776px;
  }
  #maincontent .technology-maincontent__items {
    padding: 30px 15px;
    -webkit-border-radius: 50px;
            border-radius: 50px;
  }
}
@media screen and (max-width: 1341px) {
  #maincontent .complect-maincontent__icon {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 105px;
       -moz-box-flex: 0;
        -ms-flex: 0 0 105px;
            flex: 0 0 105px;
  }
  #maincontent .complect-maincontent__items {
    gap: 20px;
  }
}
@media screen and (max-width: 1275px) {
  #maincontent .touch-maincontent__media {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 165px;
       -moz-box-flex: 0;
        -ms-flex: 0 0 165px;
            flex: 0 0 165px;
  }
  #maincontent .touch-maincontent__col {
    gap: 20px;
  }
}
@media screen and (max-width: 1227px) {
  #maincontent .trainy-maincontent__bg::after {
    display: none;
  }
  #maincontent .spec-maincontent__item:not(:last-child) {
    margin-bottom: 32px;
  }
  #maincontent .trainy-maincontent__items {
    width: auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 5%;
    right: 42%;
  }
  #maincontent .trainy-maincontent__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
       -moz-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  #maincontent .trainy-maincontent__image img {
    margin-left: auto;
  }
  #maincontent .trainy-maincontent__text {
    margin: 0 auto;
    padding: 0 20px;
  }
  #maincontent .trainy-maincontent__text h2, #maincontent .trainy-maincontent__text p {
    text-align: center;
  }
  #maincontent .trainy-maincontent__bg {
    padding-left: 0;
    padding-bottom: 0;
  }
  #maincontent .trainy-maincontent__text h2 {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1206px) {
  #maincontent .technology-maincontent__bg {
    padding-bottom: 0;
  }
  #maincontent .technology-maincontent__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #maincontent .technology-maincontent__image {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
       -moz-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    height: auto;
  }
  #maincontent .technology-maincontent__image img {
    position: unset;
  }
  #maincontent .technology-maincontent__inner {
    margin-bottom: 50px;
  }
  #maincontent .technology-maincontent__list-item::after {
    display: none;
  }
  #maincontent .technology-maincontent__items {
    gap: 15px;
    padding: 20px 15px;
  }
  #maincontent .technology-maincontent__text p {
    font-size: 16px;
  }
  #maincontent .spec-maincontent__line {
    display: none;
  }
  #maincontent .spec-maincontent__media {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  #maincontent .spec-maincontent__item {
    width: 80%;
    margin: 0 auto;
  }
  #maincontent .spec-maincontent__item h4, #maincontent .spec-maincontent__item p {
    text-align: center;
  }
  #maincontent .header-maincontent__snoska {
    top: 20%;
  }
}
@media screen and (max-width: 1150px) {
  #maincontent .touch-maincontent__media {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 150px;
       -moz-box-flex: 0;
        -ms-flex: 0 0 150px;
            flex: 0 0 150px;
  }
  #maincontent .touch-maincontent__col-title h2 {
    font-size: 20px;
  }
  #maincontent .touch-maincontent__col-txt h4 {
    font-size: 16px;
  }
  #maincontent .touch-maincontent__col-txt p {
    font-size: 16px;
  }
}
@media screen and (max-width: 1103px) {
  #maincontent .complect-maincontent__icon {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 86px;
       -moz-box-flex: 0;
        -ms-flex: 0 0 86px;
            flex: 0 0 86px;
  }
}
@media screen and (max-width: 1024.98px) {
  #maincontent .header-maincontent__text p {
    padding-top: 30px;
  }
  #maincontent .technology-maincontent__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  #maincontent .technology-maincontent__bg {
    padding-top: 60px;
  }
  #maincontent .technology-maincontent__title h2 {
    text-align: center;
  }
  #maincontent .technology-maincontent__items {
    width: 60%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 991.98px) {
  #maincontent .touch-maincontent__bg::after {
    display: none;
  }
  #maincontent .spec-maincontent__item h4 {
    font-size: 20px;
  }
  #maincontent .trainy-maincontent__text {
    width: auto;
  }
  #maincontent .touch-maincontent__media {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 160px;
       -moz-box-flex: 0;
        -ms-flex: 0 0 160px;
            flex: 0 0 160px;
  }
  #maincontent .touch-maincontent__txt-gray {
    position: unset;
    padding: 15px;
    max-width: 400px;
    margin: 0 auto 20px;
  }
  #maincontent .touch-maincontent__txt-gray p {
    text-align: center;
  }
  #maincontent .touch-maincontent__title {
    width: auto;
  }
  #maincontent .touch-maincontent__title h2 {
    text-align: center;
  }
  #maincontent .touch-maincontent__item {
    width: 80%;
    margin: 0 auto;
  }
  #maincontent .touch-maincontent__bg {
    padding: 20px 20px 10px;
  }
  #maincontent .touch-maincontent__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
  #maincontent .comfort-maincontent__bg {
    padding: 40px 20px;
  }
  #maincontent .comfort-maincontent__text h2, #maincontent .comfort-maincontent__text p {
    text-align: center;
  }
  #maincontent .comfort-maincontent__text h2 {
    margin-bottom: 20px;
  }
  #maincontent .comfort-maincontent__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #maincontent .spec-maincontent__bg {
    padding-left: 20px;
    padding-right: 20px;
  }
  #maincontent .spec-maincontent__item {
    width: auto;
  }
  #maincontent .complect-maincontent__item-text p:not(:last-child) {
    margin-bottom: 30px;
  }
  #maincontent .complect-maincontent__row {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  #maincontent .complect-maincontent__bg {
    padding: 20px 20px;
  }
  #maincontent .complect-maincontent__icon {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 130px;
       -moz-box-flex: 0;
        -ms-flex: 0 0 130px;
            flex: 0 0 130px;
  }
  #maincontent .technology-maincontent__bg {
    padding: 40px 20px 10px;
  }
  #maincontent .header-maincontent__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #maincontent .header-maincontent__snoska {
    top: 0;
  }
  #maincontent .header-maincontent__bg {
    padding: 40px 20px;
  }
  #maincontent .header-maincontent__snoska {
    position: unset;
    -webkit-border-radius: 15px;
            border-radius: 15px;
    padding: 20px;
  }
  #maincontent .header-maincontent__snoska p {
    text-align: center;
  }
  #maincontent .header-maincontent__text {
    width: 90%;
    margin: 0 auto;
  }
  #maincontent .header-maincontent__text h2, #maincontent .header-maincontent__text span, #maincontent .header-maincontent__text p {
    text-align: center;
  }
  #maincontent .header-maincontent__logo {
    top: 3%;
    left: 3%;
  }
}
@media screen and (max-width: 767.98px) {
  #maincontent .trainy-maincontent__items {
    position: unset;
    padding: 20px;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
  #maincontent .touch-maincontent__col {
    padding-right: 12px;
  }
  #maincontent .touch-maincontent__col::after {
    right: -16px;
    width: 28px;
    height: 28px;
  }
  #maincontent .touch-maincontent__icons img {
    width: 60px;
  }
  #maincontent .touch-maincontent__item {
    width: auto;
  }
  #maincontent .touch-maincontent__txt-gray {
    max-width: 300px;
  }
  #maincontent .header-maincontent__row {
    gap: 20px;
    padding-top: 50px;
  }
  #maincontent .complect-maincontent__icon {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100px;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
  }
  #maincontent .complect-maincontent__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px;
  }
  #maincontent .complect-maincontent__item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
       -moz-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}
@media screen and (max-width: 680px) {
  #maincontent .complect-maincontent__row {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  #maincontent .complect-maincontent__icon {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 65px;
       -moz-box-flex: 0;
        -ms-flex: 0 0 65px;
            flex: 0 0 65px;
  }
}
@media screen and (max-width: 600px) {
  #maincontent .touch-maincontent__col-txt h4,
  #maincontent .touch-maincontent__col-txt p {
    font-size: 14px;
  }
  #maincontent .touch-maincontent__media {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 140px;
       -moz-box-flex: 0;
        -ms-flex: 0 0 140px;
            flex: 0 0 140px;
  }
  #maincontent .touch-maincontent__col-title h2,
  #maincontent .touch-maincontent__col-title span {
    font-size: 18px;
  }
}
@media screen and (max-width: 522px) {
  #maincontent .technology-maincontent__items {
    width: auto;
    -webkit-border-radius: 30px;
            border-radius: 30px;
    padding: 20px 15px;
  }
}
@media screen and (max-width: 479.98px) {
  #maincontent .touch-maincontent__col-txt h4,
  #maincontent .touch-maincontent__col-txt p {
    font-size: 10px;
  }
  #maincontent .touch-maincontent__col-title h2,
  #maincontent .touch-maincontent__col-title span {
    font-size: 15px;
  }
  #maincontent .touch-maincontent__icons img {
    width: 40px;
  }
  #maincontent .touch-maincontent__media {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100px;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
  }
  #maincontent .touch-maincontent__txt-gray p {
    font-size: 20px;
  }
  #maincontent .header-maincontent__row {
    padding-top: 30px;
  }
  #maincontent .header-maincontent__text {
    width: auto;
  }
  #maincontent .technology-maincontent__list-item {
    padding-left: 45px;
  }
  #maincontent .complect-maincontent__icon {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100px;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
  }
  #maincontent .complect-maincontent__text {
    padding-top: 15px;
  }
  #maincontent .spec-maincontent__item h4,
  #maincontent .spec-maincontent__item p {
    text-align: left;
  }
  #maincontent .trainy-maincontent__text {
    width: auto;
  }
  #maincontent .trainy-maincontent__texts p {
    font-size: 16px;
  }
  #maincontent .trainy-maincontent__items {
    width: auto;
  }
  #maincontent .trainy-maincontent__col {
    gap: 20px;
  }
  #maincontent .touch-maincontent__title h2 {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 400px) {
  #maincontent .header-maincontent__snoska {
    width: auto;
  }
  #maincontent .touch-maincontent__col::after {
    display: none;
  }
  #maincontent .touch-maincontent__col-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
  #maincontent .touch-maincontent__col-title h2,
  #maincontent .touch-maincontent__col-title span {
    text-align: center;
    display: block;
    font-size: 18px;
  }
  #maincontent .touch-maincontent__col-txt h4,
  #maincontent .touch-maincontent__col-txt p {
    text-align: center;
    display: block;
    font-size: 16px;
  }
  #maincontent .touch-maincontent__col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
    margin-left: 0;
    padding: 0 10px 10px;
  }
  #maincontent .touch-maincontent__icons img {
    width: 60%;
  }
  #maincontent .touch-maincontent__icon img {
    width: 215px;
  }
}/*# sourceMappingURL=style.css.map */