//Адаптивное свойство
$maxWidth: 1920
$maxWidthContainer: 1340

@mixin adaptiv-value($property, $startSize, $minSize, $type)
    $addSize: $startSize - $minSize
    @if $type==1
        #{$property}: $startSize + px
        @media (max-width: #{$maxWidthContainer + px})
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}))

    @else if $type==2
        #{$property}: $startSize + px
        @media (min-width: #{$maxWidthContainer + px})
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}))

    @else
        #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}))

html,
body
    height: 100%
    min-width: 320px

button
    cursor: pointer
    color: inherit
    background-color: inherit

//========================================================================================================================================================

// [class*="-ibg"]
//     position: relative

// [class*="-ibg"] img
//     position: absolute
//     width: 100%
//     height: 100%
//     top: 0
//     left: 0
//     -o-object-fit: cover
//     object-fit: cover

// [class*="-ibg_contain"] img
//     -o-object-fit: contain
//     object-fit: contain

#tefalmaster a
    color: inherit
    text-decoration: none

#tefalmaster
    ul,
    ol,
    li
        list-style: none
        padding: 0
        margin: 0

#tefalmaster .bc-description__content p
    margin-bottom: 0

#tefalmaster .bc-description__content h3
    text-align: left

#tefalmaster
    h1, h2, h3, h4, h5, h6
        text-transform: none
        font-weight: bold

#tefalmaster
    // display: flex
    // flex-direction: column
    margin: 0 auto
    overflow: hidden
    max-width: 1440px
    h1, h2, h3, h4, h5, h6, p
        margin: 0
        padding: 0
        text-align: left

#tefalmaster p::first-letter
    padding-left: 0

#tefalmaster img
    opacity: 1
    max-width: 100%
    display: block
    margin: 0 auto

#tefalmaster img:hover
    opacity: 1

#tefalmaster .tefalmaster__container
    max-width: 1340px
    margin: 0 auto
    padding: 0 15px

//========================================================================================================================================================
#tefalmaster .tefalmaster
    &__bg
        background-color: #afdce5
    &__logo
        background: url('https://cdn.comfy.ua/media/x/img3/2436978/line.png') 0 0 no-repeat
        background-size: cover
        min-height: 219px
        img
            padding-top: 50px
            @include adaptiv-value("padding-left", 50, 15, 1)
            padding-right: 15px
            margin: 0

#tefalmaster .header-tefalmaster
    &__media
        position: relative
        z-index: 2
    &__image
    &__line
        position: absolute
        z-index: 5
        bottom: 3%
        left: 0
        right: 0
        background: url('https://cdn.comfy.ua/media/x/img3/2436978/line1.png') 0 0 no-repeat
        background-size: cover
        min-height: 257px
        display: flex
        align-items: center
        padding: 10px 15px
    &__row
        display: grid
        grid-template-columns: 1.5fr 1fr 1fr
        gap: 15px
        // background-color: #eff8fa9a
        // padding: 30px 15px
    &__item
        display: flex
        gap: 15px
    &__icon
        flex: 0 0 150px
        //flex: 0 0 40%
    &__text
        // flex: 0 1 60%
        h2
            @include adaptiv-value("font-size", 18, 10, 1)
            line-height: 1.2
            margin-bottom: 5px
            text-transform: uppercase
        p
            @include adaptiv-value("font-size", 16, 10, 1)
            line-height: 1.2
            &:not(:last-child)
                margin-bottom: 15px

#tefalmaster .comfort-tefalmaster
    &__bg
        position: relative
        z-index: 2
    &__image
    &__box
    &__top
        position: absolute
        z-index: 5
        top: 10%
        right: 8%
        h2
            @include adaptiv-value("font-size", 30, 12, 1)
            line-height: 1.2
            text-transform: uppercase
            text-align: center
            color: #494848
            position: relative
            z-index: 2
            &::after
                content: ''
                position: absolute
                z-index: 5
                bottom: -21px
                right: -30px
                background: url('https://cdn.comfy.ua/media/x/img3/2436978/img6.png') 0 0 no-repeat
                background-size: cover
                width: 112px
                height: 44px
            &::before
                content: ''
                position: absolute
                z-index: 5
                top: -20px
                left: -30px
                background: url('https://cdn.comfy.ua/media/x/img3/2436978/img5.png') 0 0 no-repeat
                background-size: cover
                width: 112px
                height: 44px
    &__col
        position: absolute
        z-index: 5
        top: 1%
        left: 3%
        right: 60%
    &__col-image
        max-width: 520px
        position: relative
        z-index: 2
    &__text
        position: absolute
        z-index: 5
        p
            @include adaptiv-value("font-size", 18, 8, 1)
            line-height: 1.2
            text-transform: uppercase
            width: 70%
            color: #fff
        &_1
            top: 12%
            left: 30%
            //right: 5%
        &_2
            top: 35%
            left: 30%
        &_3
            top: 55%
            left: 30%
        &_4
            top: 80%
            left: 30%
    &__items
        display: flex
        position: absolute
        z-index: 5
        bottom: 0
        right: 1%
        left: 70%
    &__icon

#tefalmaster .seal-tefalmaster
    &__bg
        position: relative
        z-index: 2
    &__image
    &__icon
        position: absolute
        z-index: 5
        &_1
            top: 50%
            transform: translateY(-50%)
            left: 10%
            right: 60%
        &_2
            top: 5%
            right: 3%
            left: 58%

#tefalmaster .safe-tefalmaster
    &__bg
        position: relative
        z-index: 2
    &__image
    &__icon
        position: absolute
        z-index: 4
        top: 6%
        left: 45%
        right: 40%
    &__left
        position: absolute
        z-index: 5
        top: 3%
        left: 3%
        width: 55%
    &__left-box
        @include adaptiv-value("padding-left", 110, 0, 1)
        padding-top: 15px
        position: absolute
        z-index: 5
        top: 40%
        left: 3%
        width: 55%
        h4
            @include adaptiv-value("font-size", 25, 16, 1)
            line-height: 1.2
            text-transform: uppercase
            color: #494848
            margin-bottom: 15px
        p
            font-size: 16px
            line-height: 1.2
            color: #494848
    &__left-text
        //padding-left: 110px
        margin-bottom: 20px
        @include adaptiv-value("padding-left", 110, 0, 1)
        h2
            @include adaptiv-value("font-size", 35, 13, 1)
            line-height: 1.2
            text-transform: uppercase
            color: #494848
            margin-bottom: 15px
        p
            @include adaptiv-value("font-size", 20, 12, 1)
            line-height: 1.2
            text-transform: uppercase
            color: #494848
    &__left-image
        img
            margin: 0
    &__right
    &__right-text
        position: absolute
        z-index: 5
        top: 3%
        right: 3%
        width: 30%
        p
            @include adaptiv-value("font-size", 25, 12, 1)
            line-height: 1.2
            color: #494848
            text-align: right
            &:not(:last-child)
                margin-bottom: 15px
    &__box
        position: absolute
        z-index: 5
        top: 60%
        left: 10%
        width: 35%
        background: url('https://cdn.comfy.ua/media/x/img3/2436978/line2.png') 0 0 no-repeat
        background-size: cover
        min-height: 370px
        display: flex
        align-items: center
        justify-content: center
    &__box-text
        padding: 20px
        h2
            @include adaptiv-value("font-size", 30, 16, 1)
            line-height: 1.3
            text-transform: uppercase
            color: #494848
            margin-bottom: 15px
        p
            @include adaptiv-value("font-size", 20, 16, 1)
            line-height: 1.2
            color: #494848

//===========MEDIA=============================================================================================================================================

@media screen and (max-width: 1200px)
    #tefalmaster .safe-tefalmaster__box
        top: 62%
        width: 50%
        min-height: 300px
    #tefalmaster .header-tefalmaster__icon
        flex: 0 0 110px

@media screen and (max-width: 1152px)
    #tefalmaster .comfort-tefalmaster__text_1
        top: 8%
    #tefalmaster .comfort-tefalmaster__text_2
        top: 30%
    #tefalmaster .comfort-tefalmaster__text_3
        top: 52%
    #tefalmaster .comfort-tefalmaster__text_4
        top: 77%

@media screen and (max-width: 1024.98px)
    #tefalmaster .comfort-tefalmaster__text p
        width: 80%
    #tefalmaster .safe-tefalmaster__box
        top: 66%
        width: 53%
        min-height: 250px
    #tefalmaster .safe-tefalmaster__left-box
        top: 43%

@media screen and (max-width: 991.98px)
    #tefalmaster .tefalmaster__logo img
        max-width: 400px
    #tefalmaster .header-tefalmaster__line
        position: relative
        z-index: 5
        margin-top: -100px
    #tefalmaster .header-tefalmaster__row
        grid-template-columns: 1fr 1fr
        padding: 10px

@media screen and (max-width: 942px)
    #tefalmaster .safe-tefalmaster__box
        position: relative
        z-index: 2
        width: auto
        left: 0
        right: 0
        margin-top: -80px
    #tefalmaster .safe-tefalmaster__box-text
        h2,p
            text-align: center
    #tefalmaster .safe-tefalmaster__left-box
        top: 38%

@media screen and (max-width: 767.98px)
    #tefalmaster .header-tefalmaster__icon
        flex: 0 0 80px
    #tefalmaster .header-tefalmaster__row
        grid-template-columns: 1fr
    #tefalmaster .comfort-tefalmaster__top h2::after
        width: 66px
        height: 26px
        bottom: -12px
        right: -18px
    #tefalmaster .comfort-tefalmaster__top h2::before
        width: 66px
        height: 26px
        top: -12px
        left: -18px
    #tefalmaster .seal-tefalmaster__icon_1
        left: 2%
        right: 79%

@media screen and (max-width: 699px)
    #tefalmaster .safe-tefalmaster__box
        margin-top: 0
    #tefalmaster .safe-tefalmaster__left-box
        top: 36%

@media screen and (max-width: 650px)
    #tefalmaster .comfort-tefalmaster__text p
        width: 92%
        font-size: 8px
    #tefalmaster .safe-tefalmaster__left-box p
        font-size: 13px
    #tefalmaster .safe-tefalmaster__left-box h4
        margin-bottom: 8px

//@media screen and (max-width: 611px)
    // #tefalmaster .comfort-tefalmaster__top h2::after
    //     width: 66px
    //     height: 26px
    //     bottom: -12px
    //     right: -18px
    // #tefalmaster .comfort-tefalmaster__top h2::before
    //     width: 66px
    //     height: 26px
    //     top: -12px
    //     left: -18px
    // #tefalmaster .comfort-tefalmaster__top 
    //     right: 8%

@media screen and (max-width: 511px)
    #tefalmaster .safe-tefalmaster__left
        width: 58%
    #tefalmaster .safe-tefalmaster__left-box
        width: 80%

@media screen and (max-width: 479.98px)
    #tefalmaster .tefalmaster__logo img
        max-width: 250px
        padding-top: 30px
    #tefalmaster .tefalmaster__logo
        min-height: 130px
    #tefalmaster .header-tefalmaster__line
        margin-top: -45px

@media screen and (max-width: 427px)
    #tefalmaster .comfort-tefalmaster__text p
        font-size: 6px
    #tefalmaster .comfort-tefalmaster__top h2::after,
    #tefalmaster .comfort-tefalmaster__top h2::before
        width: 60px
        height: 22px
    #tefalmaster .safe-tefalmaster__left-box
        position: unset
        padding: 10px
        width: auto
        background: url(https://cdn.comfy.ua/media/x/img3/2436978/line2.png) 0 0 no-repeat
        background-size: cover
        h4,p
            text-align: center
@media screen and (max-width: 366px)
    #tefalmaster .comfort-tefalmaster__text p
        font-size: 6px
