// html,
// body
//     height: 100%
//     min-width: 320px

// button
//     cursor: pointer
//     color: inherit
//     background-color: inherit

//========================================================================================================================================================

#maincontent a
    color: inherit
    text-decoration: none

#maincontent ul,
ol,
li
    list-style: none
    padding: 0
    margin: 0

#maincontent .bc-description__content p
    margin-bottom: 0

#maincontent .bc-description__content h3
    text-align: left

#maincontent p
    margin: 0
    padding: 0
    text-align: left

#maincontent h1,
#maincontent h2,
#maincontent h3,
#maincontent h4,
#maincontent h5,
#maincontent h6
    padding: 0
    margin: 0
    text-align: left
    text-transform: none
    font-weight: bold

#maincontent
    margin: 0 auto
    overflow: hidden
    background-color: #ffffff

#maincontent p::first-letter
    padding-left: 0

#maincontent img
    opacity: 1
    max-width: 100%
    display: block
    margin: 0
    // margin: 0 auto

#maincontent img:hover
    opacity: 1

@mixin fonts($fontSize, $lineHeight)
    font:
        size: $fontSize
    line:
        height: $lineHeight

@mixin flex-box($justifyContent, $alignItems)
    display: flex
    justify-content: $justifyContent
    align-items: $alignItems

@mixin bg-image($url)
    background:
        image: $url
    background:
        repeat: no-repeat
    background:
        position: top center
    background:
        size: cover

@mixin position($position, $zIndex)
    position: $position
    z-index: $zIndex

//========================================================================================================================================================
#maincontent .maincontent
    &__container
        max-width: 1200px
        margin: 0 auto
        padding: 0 15px
        h2
            @include fonts($fontSize: 32px, $lineHeight: 1.2)
            margin: 20px 0px
            text-align: center
        p
            @include fonts($fontSize: 24px, $lineHeight: 1.2)
            margin-bottom: 10px
            text-align: center
            span
                font-weight: 700
            b
                font-weight: 800
    &__box
        margin-bottom: 10px
    &__text
        &_tc
            margin: 0px auto 8% 23%
            width: 50%
        &_c
            margin: 0px auto 28% 40%
            width: 35%
        &_tl
            flex: 0 1 60%
            padding: 14% 22% 20% 11%    
    &__col
        margin-bottom: 10px    
    &__item
        &_br
            flex: 0 1 40%
            padding-top: 35%
    &__table
        margin-bottom: 30px
        

#maincontent .row-maincontent
    &__inner
        @include flex-box($justifyContent: center, $alignItems: center)
        &_rev
            flex-direction: row-reverse
    &__item
        flex: 0 1 50%
    &__text
        padding: 10px 20px
    &__image
        flex: 0 1 50%

#maincontent .flexxo
    &__bg
        @include bg-image($url: url("https://cdn.comfy.ua/media/x/img3/2528976/img02.jpg"))
        padding: 30px
    &__img
        display: none

#maincontent .col-maincontent
    &__wrapper
        @include flex-box($justifyContent: center, $alignItems: center)
        flex-direction: row
        gap: 20px
    &__inner
        &_b
            flex: 0 1 60%
        &_s
            flex: 0 1 40%
    &__bg
        @include bg-image($url: url("https://cdn.comfy.ua/media/x/img3/2528976/img03_1.jpg"))
        background-size: auto 100%
        padding: 15px 0
    &__image
        width: 80%
        margin: 0 auto
        &_s
            display: none
    &__item
        padding: 15px 0
        &_bg
            padding: 0
    &__text
        margin-bottom: 5%
        &:last-child
            margin-bottom: 0
        &_l
            &:first-child
                margin: 0px auto 4% 3%
                width: 70%
            &:last-child
                margin: 0px auto 56% 2%
                width: 75%
        &_r
            width: 90%
            &:first-child
                margin-left: auto
            &:last-child
                margin-right: auto
#maincontent .allFloor
    &__bg
        @include bg-image($url: url("https://cdn.comfy.ua/media/x/img3/2528976/img04.jpg"))      
    
    &__inner
        @include flex-box($justifyContent: center, $alignItems: flex-start)
        gap: 20px
    &__img
        display: none

#maincontent .table-maincontent
    &__wrapper
        display: grid
        grid-template-columns: repeat(3, 1fr)
        align-items: center
        gap: 10px
    &__text
        padding: 0 20px
        &_mob
            display: none

#maincontent .logo
    &__inner
        max-width: 768px   
        margin: 0 auto
    &__img
        margin-bottom: 30px
    &__text
        padding: 0 20px      
        
        
        
//===========MEDIA=============================================================================================================================================
@media screen and (max-width: 1024.98px)
    #maincontent .maincontent
        &__container
            h2
                font-size: calc( 22px + (32 - 22) * ((100vw - 320px)/(1024 - 320)))
            p
                font-size: calc( 16px + (24 - 16) * ((100vw - 320px)/(1024 - 320)))
        &__text
            &_tc
                margin-bottom: 3%
            &_c
                width: 40%
                margin-right: 44%
            &_tl
                padding: 11% 15% 20% 9%
    // #maincontent .col-maincontent
    //     &__wrapper
    //         flex-direction: column
//@media screen and (max-width: 1300px)
//@media screen and (max-width: 1024.98px)
@media screen and (max-width: 991.98px)
    #maincontent .col-maincontent
        &__bg
            background-position: 63% 37%
@media screen and (max-width: 767.98px)
    #maincontent .maincontent
        &__container
            h2
                margin: 10px 0
        &__box
            @include flex-box($justifyContent: center, $alignItems: center)
            flex-direction: column-reverse
            margin-bottom: 0
        &__bg
            background: none
            padding: 10px 5px
        &__text
            margin: 0 auto
            width: auto
            &_tl
                padding: 0
            &_br
                p
                    margin-bottom: 0
        &__img
            display: block
        &__item
            &_br
                padding-top: 0
                margin: 0 auto
                @include flex-box($justifyContent: center, $alignItems: center)
                flex-direction: column-reverse
                p
                    margin-top: 10px
        &__col
            margin-bottom: 0
        &__table
            margin-bottom: 10px
                
    #maincontent .row-maincontent
        &__inner
            flex-direction: column
        &__text
            padding: 0 5px
    #maincontent .flexxo
        &__bg
            background: none
            padding: 10px 5px
        &__img
            display: block
    #maincontent .col-maincontent
        &__wrapper
            flex-direction: column
            gap: 0
        &__inner
            &_s
                @include flex-box($justifyContent: center, $alignItems: center)
                flex-direction: column-reverse
                
        &__bg
            background: none
            @include flex-box($justifyContent: center, $alignItems: center)
            flex-direction: column-reverse
        &__image
            &_s
                display: block
        &__item
            padding: 10px 5px
            
        &__text
            &_l, &_r
                &:first-child, &:last-child                                        
                    margin: 0 auto
                    width: auto
                p
                    margin-bottom: 0
            
    #maincontent .allFloor
        &__inner
            flex-direction: column
            gap: 0
    #maincontent .table-maincontent
        &__wrapper 
            grid-template-columns: 1fr
            gap: 0
        &__inner
            margin: 0 auto             
            &_desc
                display: none
        &__item
            @include flex-box($justifyContent: center, $alignItems: center)
            flex-direction: column
            &_rev
                flex-direction: column-reverse
        &__text
            &_mob
                display: block
                p
                    margin-top: 10px
    #maincontent .logo
        &__img
            margin-bottom: 10px
            img
                width: 80%
                margin: 0 auto
        &__text
            padding: 0 5px

//@media screen and (max-width: 479.98px)
