html,
body {
  height: 100%;
  min-width: 320px;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

#saecoroyal a {
  color: inherit;
  text-decoration: none;
}

#saecoroyal ul,
#saecoroyal ol,
#saecoroyal li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#saecoroyal .bc-description__content p {
  margin-bottom: 0;
}

#saecoroyal .bc-description__content h3 {
  text-align: left;
}

#saecoroyal h1, #saecoroyal h2, #saecoroyal h3, #saecoroyal h4, #saecoroyal h5, #saecoroyal h6 {
  text-transform: none;
  font-weight: bold;
}

#saecoroyal {
  margin: 0 auto;
  overflow: hidden;
  background-color: #ffffff;
}
#saecoroyal h1, #saecoroyal h2, #saecoroyal h3, #saecoroyal h4, #saecoroyal h5, #saecoroyal h6, #saecoroyal p {
  margin: 0;
  padding: 0;
  text-align: left;
}

#saecoroyal p::first-letter {
  padding-left: 0;
}

#saecoroyal img {
  opacity: 1;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#saecoroyal img:hover {
  opacity: 1;
}

#saecoroyal .saecoroyal__container {
  max-width: 1600px;
  margin: 0 auto;
}

#saecoroyal .row-saecoroyal__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000000;
  padding: 20px 15px;
}
#saecoroyal .row-saecoroyal__inner_rev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}
#saecoroyal .row-saecoroyal__inner_pl {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0 20px 15px;
}
#saecoroyal .row-saecoroyal__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
#saecoroyal .row-saecoroyal__text {
  width: 80%;
  margin: 0 auto;
}
#saecoroyal .row-saecoroyal__text h2 {
  font-size: 55px;
  line-height: 1.2;
  color: #fff;
  text-align: center;
  margin-bottom: 100px;
  padding-top: 50px;
}
@media (max-width: 1600px) {
  #saecoroyal .row-saecoroyal__text h2 {
    font-size: -webkit-calc(20px + 35 * ((100vw - 320px) / 1280));
    font-size: calc(20px + 35 * ((100vw - 320px) / 1280));
  }
}
#saecoroyal .row-saecoroyal__text h4 {
  font-size: 48px;
  line-height: 1.2;
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
}
@media (max-width: 1600px) {
  #saecoroyal .row-saecoroyal__text h4 {
    font-size: -webkit-calc(20px + 28 * ((100vw - 320px) / 1280));
    font-size: calc(20px + 28 * ((100vw - 320px) / 1280));
  }
}
#saecoroyal .row-saecoroyal__text p {
  font-size: 30px;
  line-height: 1.2;
  color: #fff;
  text-align: center;
}
@media (max-width: 1600px) {
  #saecoroyal .row-saecoroyal__text p {
    font-size: -webkit-calc(16px + 14 * ((100vw - 320px) / 1280));
    font-size: calc(16px + 14 * ((100vw - 320px) / 1280));
  }
}
#saecoroyal .row-saecoroyal__text_bl h4 {
  color: #000;
}
#saecoroyal .row-saecoroyal__text_bl p {
  color: #000;
}
#saecoroyal .row-saecoroyal__image {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
#saecoroyal .row-saecoroyal__image_pl img {
  margin-right: 0;
}
#saecoroyal .row-saecoroyal__media {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
#saecoroyal .row-saecoroyal__image-sm img {
  margin-right: 0;
}

@media screen and (max-width: 991.98px) {
  #saecoroyal .row-saecoroyal__text h2 {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 767.98px) {
  #saecoroyal .row-saecoroyal__text h2 {
    padding-top: 10px;
  }
  #saecoroyal .row-saecoroyal__text h2 {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 642px) {
  #saecoroyal .row-saecoroyal__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  #saecoroyal .row-saecoroyal__text {
    width: 95%;
  }
}/*# sourceMappingURL=style.css.map */