#maincontent a {
  color: inherit;
  text-decoration: none;
}

#maincontent ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#maincontent .bc-description__content p {
  margin-bottom: 0;
}

#maincontent .bc-description__content h3 {
  text-align: left;
}

#maincontent p {
  margin: 0;
  padding: 0;
  text-align: left;
}

#maincontent h1,
#maincontent h2,
#maincontent h3,
#maincontent h4,
#maincontent h5,
#maincontent h6 {
  padding: 0;
  margin: 0;
  text-align: left;
  text-transform: none;
  font-weight: bold;
}

#maincontent {
  margin: 0 auto;
  overflow: hidden;
  background-color: #ffffff;
}

#maincontent p::first-letter {
  padding-left: 0;
}

#maincontent img {
  opacity: 1;
  max-width: 100%;
  display: block;
  margin: 0;
}

#maincontent img:hover {
  opacity: 1;
}

#maincontent .maincontent__container {
  max-width: 1464px;
  margin: 0 auto;
  padding: 0 15px;
}
#maincontent .maincontent__container h2 {
  font-size: 48px;
  line-height: 1.2;
  margin: 20px 0px 30px;
}
#maincontent .maincontent__container p {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 10px;
}

#maincontent .top-box__inner {
  position: relative;
  z-index: 6;
  padding: 170px 120px;
}
#maincontent .top-box__inner::after {
  content: "";
  position: absolute;
  z-index: 7;
  background-image: url("https://cdn.comfy.ua/media/x/img3/2626507/bg01.png");
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  width: 736px;
  height: 657px;
  top: 0;
  right: 0;
}
#maincontent .top-box__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
#maincontent .top-box__item {
  width: 360px;
}
#maincontent .top-box__text p span {
  color: #007bc2;
  font-size: 24px;
  font-weight: bold;
}
#maincontent .top-box__img {
  position: absolute;
  z-index: 9;
  top: 215px;
  left: 31%;
  right: 30%;
}

#maincontent .row-maincontent__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#maincontent .row-maincontent__inner_rev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
#maincontent .row-maincontent__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
#maincontent .row-maincontent__text {
  padding: 10px 125px;
}
#maincontent .row-maincontent__image {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

#maincontent .logo-image {
  position: relative;
  z-index: 6;
}
#maincontent .logo-image::before {
  content: "";
  position: absolute;
  z-index: 7;
  background-image: url("https://cdn.comfy.ua/media/x/img3/2626507/logo.png");
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  width: 124px;
  height: 225px;
  top: 25px;
  left: 20px;
}

#maincontent .main-box__inner {
  position: relative;
  z-index: 7;
}
#maincontent .main-box__img {
  position: absolute;
  z-index: 8;
  top: -43%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, 3%);
      -ms-transform: translate(-50%, 3%);
       -o-transform: translate(-50%, 3%);
          transform: translate(-50%, 3%);
}
#maincontent .main-box__item {
  padding: 547px 110px 90px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 11;
}
#maincontent .main-box__title {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 15px;
}
#maincontent .main-box__text {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 15px;
}

#maincontent .bottom-box__inner {
  padding-top: 100px;
  position: relative;
  z-index: 6;
}
#maincontent .bottom-box__text {
  max-width: 700px;
  padding: 10px 20px;
  position: absolute;
  z-index: 7;
  top: 100px;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
}
#maincontent .bottom-box__text h2, #maincontent .bottom-box__text p {
  text-align: center;
}
#maincontent .bottom-box__img {
  margin-top: 95px;
}

#maincontent .subtitle-box__text {
  max-width: 700px;
  padding: 70px 20px 30px;
  margin: 0 auto;
}
#maincontent .subtitle-box__text p {
  text-align: center;
}

@media screen and (max-width: 1360px) {
  #maincontent .main-box__img {
    top: -39%;
  }
  #maincontent .main-box__item {
    padding-top: 490px;
  }
}
@media screen and (max-width: 1300px) {
  #maincontent .maincontent__container h2 {
    font-size: -webkit-calc(22px + 26 * (100vw - 320px) / 980);
    font-size: calc(22px + 26 * (100vw - 320px) / 980);
  }
  #maincontent .maincontent__container p {
    font-size: -webkit-calc(16px + 4 * (100vw - 320px) / 980);
    font-size: calc(16px + 4 * (100vw - 320px) / 980);
  }
  #maincontent .top-box__text p span {
    font-size: -webkit-calc(18px + 6 * (100vw - 320px) / 980);
    font-size: calc(18px + 6 * (100vw - 320px) / 980);
  }
  #maincontent .top-box__img {
    top: 250px;
  }
  #maincontent .row-maincontent__text {
    padding: 10px 70px;
  }
  #maincontent .main-box__item {
    padding: 466px 70px 90px;
  }
}
@media screen and (max-width: 1260.98px) {
  #maincontent .top-box__inner::after {
    width: 686px;
    height: 613px;
  }
  #maincontent .logo-image::before {
    width: 84px;
    height: 152px;
  }
  #maincontent .main-box__item {
    padding-top: 440px;
  }
}
@media screen and (max-width: 1100.98px) {
  #maincontent .top-box__inner {
    padding: 100px 70px;
  }
  #maincontent .top-box__inner::after {
    width: 554px;
    height: 497px;
  }
  #maincontent .top-box__img {
    top: 154px;
  }
  #maincontent .main-box__item {
    padding-top: 370px;
    padding-bottom: 60px;
  }
  #maincontent .bottom-box__inner {
    padding-top: 60px;
  }
  #maincontent .bottom-box__text {
    top: 50px;
  }
}
@media screen and (max-width: 1024.98px) {
  #maincontent .top-box__inner {
    padding: 75px 40px;
  }
  #maincontent .top-box__inner::after {
    width: 494px;
    height: 441px;
  }
  #maincontent .top-box__img {
    top: 128px;
  }
  #maincontent .row-maincontent__text {
    padding: 10px 45px;
  }
  #maincontent .main-box__item {
    padding: 355px 45px 45px;
  }
  #maincontent .bottom-box__inner {
    padding-top: 45px;
  }
  #maincontent .bottom-box__text {
    top: 35px;
  }
}
@media screen and (max-width: 991.98px) {
  #maincontent .top-box__inner::after {
    width: 435px;
    height: 389px;
  }
  #maincontent .top-box__item {
    width: 270px;
  }
  #maincontent .top-box__img {
    top: 115px;
  }
  #maincontent .logo-image::before {
    width: 57px;
    height: 109px;
  }
  #maincontent .main-box__item {
    padding-top: 335px;
    padding-bottom: 30px;
  }
  #maincontent .bottom-box__inner {
    padding-top: 30px;
  }
  #maincontent .bottom-box__text {
    top: 25px;
  }
  #maincontent .subtitle-box__text {
    padding: 30px 20px 20px;
  }
}
@media screen and (max-width: 880.98px) {
  #maincontent .row-maincontent__text {
    padding: 10px 20px;
  }
  #maincontent .main-box__item {
    padding-top: 288px;
  }
}
@media screen and (max-width: 767.98px) {
  #maincontent .top-box__inner::after {
    width: 399px;
    height: 356px;
  }
  #maincontent .top-box__img {
    top: 105px;
    left: 42%;
    right: 17%;
  }
  #maincontent .row-maincontent__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #maincontent .row-maincontent__text {
    padding: 0 10px;
  }
  #maincontent .row-maincontent__text h2 {
    margin: 10px 0;
  }
  #maincontent .row-maincontent__text h2, #maincontent .row-maincontent__text p {
    text-align: center;
  }
  #maincontent .main-box__img {
    position: unset;
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
         -o-transform: translate(0);
            transform: translate(0);
    margin: 0 auto;
  }
  #maincontent .main-box__item {
    padding: 0 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #maincontent .main-box__title h2 {
    margin: 10px 0;
    text-align: center;
  }
  #maincontent .main-box__text {
    padding: 0 10px;
  }
  #maincontent .main-box__text p {
    text-align: center;
  }
  #maincontent .bottom-box__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 0;
  }
  #maincontent .bottom-box__text {
    position: unset;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
         -o-transform: translateX(0);
            transform: translateX(0);
    margin: 0 auto;
    padding: 0 10px;
  }
  #maincontent .bottom-box__img {
    margin-top: 0;
  }
  #maincontent .subtitle-box__text {
    padding: 15px 10px;
  }
}
@media screen and (max-width: 665.98px) {
  #maincontent .top-box__inner {
    padding: 70px 25px;
  }
  #maincontent .top-box__inner::after {
    width: 370px;
    height: 333px;
  }
  #maincontent .top-box__item {
    width: 180px;
  }
}
@media screen and (max-width: 580.98px) {
  #maincontent .top-box__inner {
    padding: 45px 25px;
  }
  #maincontent .top-box__inner::after {
    width: 263px;
    height: 237px;
  }
  #maincontent .top-box__item {
    width: 150px;
  }
}
@media screen and (max-width: 479.98px) {
  #maincontent .top-box__inner {
    padding: 30px 20px;
  }
  #maincontent .top-box__inner::after {
    width: 167px;
    height: 152px;
  }
}
@media screen and (max-width: 379.98px) {
  #maincontent .top-box__inner {
    padding: 0 15px;
  }
  #maincontent .top-box__inner::after {
    display: none;
  }
  #maincontent .top-box__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #maincontent .top-box__item {
    width: auto;
  }
  #maincontent .top-box__item h2 {
    margin: 10px 0;
  }
  #maincontent .top-box__item h2, #maincontent .top-box__item p {
    text-align: center;
  }
  #maincontent .top-box__img {
    position: unset;
  }
  #maincontent .row-maincontent__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #maincontent .logo-image::before {
    width: 42px;
    height: 79px;
  }
  #maincontent .main-box__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #maincontent .bottom-box__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */