#philipsbhd ul,
#philipsbhd ol,
#philipsbhd li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#philipsbhd .bc-description__content p {
  margin-bottom: 0;
}

#philipsbhd .bc-description__content h3 {
  text-align: left;
}

#philipsbhd h1, #philipsbhd h2, #philipsbhd h3, #philipsbhd h4, #philipsbhd h5, #philipsbhd h6 {
  text-transform: none;
  font-weight: bold;
}

#philipsbhd {
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}
#philipsbhd h1, #philipsbhd h2, #philipsbhd h3, #philipsbhd h4, #philipsbhd h5, #philipsbhd h6, #philipsbhd p {
  margin: 0;
  padding: 0;
  text-align: left;
}

#philipsbhd p::first-letter {
  padding-left: 0;
}

#philipsbhd img {
  opacity: 1;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#philipsbhd img:hover {
  opacity: 1;
}

#philipsbhd .philipsbhd__container {
  max-width: 1520px;
  margin: 0 auto;
}

#philipsbhd .header-philipsbhd__bg {
  position: relative;
  z-index: 2;
}
#philipsbhd .header-philipsbhd__logo {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 5%;
  right: 75%;
}
#philipsbhd .header-philipsbhd__text {
  position: absolute;
  z-index: 5;
  bottom: 8%;
  left: 5%;
  width: 40%;
}
#philipsbhd .header-philipsbhd__text h2 {
  font-size: 34px;
  line-height: 1.2;
  font-weight: normal;
  color: #ffffff;
}
@media (max-width: 1520px) {
  #philipsbhd .header-philipsbhd__text h2 {
    font-size: -webkit-calc(15px + 19 * (100vw - 320px) / 1200);
    font-size: calc(15px + 19 * (100vw - 320px) / 1200);
  }
}
#philipsbhd .header-philipsbhd__text span {
  font-size: 34px;
  line-height: 1.2;
  font-weight: normal;
  color: #ffffff;
}
@media (max-width: 1520px) {
  #philipsbhd .header-philipsbhd__text span {
    font-size: -webkit-calc(15px + 19 * (100vw - 320px) / 1200);
    font-size: calc(15px + 19 * (100vw - 320px) / 1200);
  }
}
#philipsbhd .header-philipsbhd__text p {
  padding-top: 50px;
  font-size: 44px;
  line-height: 1.2;
  font-weight: bold;
  color: #ffffff;
}
@media (max-width: 1520px) {
  #philipsbhd .header-philipsbhd__text p {
    font-size: -webkit-calc(16px + 28 * (100vw - 320px) / 1200);
    font-size: calc(16px + 28 * (100vw - 320px) / 1200);
  }
}
#philipsbhd .spec-philipsbhd__title {
  background-color: #7e1363;
  padding: 20px 20px 20px 5%;
}
#philipsbhd .spec-philipsbhd__title h2 {
  font-size: 48px;
  line-height: 1.2;
  color: #ffffff;
  font-weight: normal;
}
@media (max-width: 1520px) {
  #philipsbhd .spec-philipsbhd__title h2 {
    font-size: -webkit-calc(20px + 28 * (100vw - 320px) / 1200);
    font-size: calc(20px + 28 * (100vw - 320px) / 1200);
  }
}
#philipsbhd .spec-philipsbhd__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 5%;
}
#philipsbhd .spec-philipsbhd__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
#philipsbhd .spec-philipsbhd__text p {
  padding-left: 30px;
  position: relative;
  font-size: 34px;
  line-height: 1.2;
}
@media (max-width: 1520px) {
  #philipsbhd .spec-philipsbhd__text p {
    font-size: -webkit-calc(16px + 18 * (100vw - 320px) / 1200);
    font-size: calc(16px + 18 * (100vw - 320px) / 1200);
  }
}
#philipsbhd .spec-philipsbhd__text p:not(:last-child) {
  margin-bottom: 40px;
}
#philipsbhd .spec-philipsbhd__text p span {
  color: #7e1363;
  font-weight: bold;
}
#philipsbhd .spec-philipsbhd__text p::before {
  content: "";
  position: absolute;
  z-index: 5;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 13px;
  height: 13px;
  background-color: #7e1363;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
#philipsbhd .spec-philipsbhd__media {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

#philipsbhd .engine-philipsbhd__title {
  background-color: #7e1363;
  padding: 20px 20px 20px 5%;
}
#philipsbhd .engine-philipsbhd__title h2 {
  font-size: 48px;
  line-height: 1.2;
  color: #ffffff;
  font-weight: normal;
}
@media (max-width: 1520px) {
  #philipsbhd .engine-philipsbhd__title h2 {
    font-size: -webkit-calc(20px + 28 * (100vw - 320px) / 1200);
    font-size: calc(20px + 28 * (100vw - 320px) / 1200);
  }
}
#philipsbhd .engine-philipsbhd__bg {
  position: relative;
  z-index: 2;
}
#philipsbhd .engine-philipsbhd__text {
  position: absolute;
  z-index: 5;
  top: 5%;
  left: 5%;
  width: 40%;
}
#philipsbhd .engine-philipsbhd__text p {
  font-size: 34px;
  line-height: 1.2;
  color: #ffffff;
}
@media (max-width: 1520px) {
  #philipsbhd .engine-philipsbhd__text p {
    font-size: -webkit-calc(16px + 18 * (100vw - 320px) / 1200);
    font-size: calc(16px + 18 * (100vw - 320px) / 1200);
  }
}
#philipsbhd .ion-philipsbhd__title {
  background-color: #7e1363;
  padding: 20px 20px 20px 5%;
}
#philipsbhd .ion-philipsbhd__title h2 {
  font-size: 48px;
  line-height: 1.2;
  color: #ffffff;
  font-weight: normal;
}
@media (max-width: 1520px) {
  #philipsbhd .ion-philipsbhd__title h2 {
    font-size: -webkit-calc(20px + 28 * (100vw - 320px) / 1200);
    font-size: calc(20px + 28 * (100vw - 320px) / 1200);
  }
}
#philipsbhd .ion-philipsbhd__bg {
  position: relative;
  z-index: 2;
}
#philipsbhd .ion-philipsbhd__text {
  position: absolute;
  z-index: 5;
  top: 5%;
  right: 5%;
  width: 34%;
}
#philipsbhd .ion-philipsbhd__text p {
  font-size: 34px;
  line-height: 1.2;
  color: #ffffff;
}
@media (max-width: 1520px) {
  #philipsbhd .ion-philipsbhd__text p {
    font-size: -webkit-calc(16px + 18 * (100vw - 320px) / 1200);
    font-size: calc(16px + 18 * (100vw - 320px) / 1200);
  }
}
#philipsbhd .ion-philipsbhd__text p:not(:last-child) {
  margin-bottom: 20px;
}
#philipsbhd .thermo-philipsbhd__title {
  background-color: #7e1363;
  padding: 20px 20px 20px 5%;
}
#philipsbhd .thermo-philipsbhd__title h2 {
  font-size: 48px;
  line-height: 1.2;
  color: #ffffff;
  font-weight: normal;
}
@media (max-width: 1520px) {
  #philipsbhd .thermo-philipsbhd__title h2 {
    font-size: -webkit-calc(20px + 28 * (100vw - 320px) / 1200);
    font-size: calc(20px + 28 * (100vw - 320px) / 1200);
  }
}
#philipsbhd .thermo-philipsbhd__bg {
  position: relative;
  z-index: 2;
}
#philipsbhd .thermo-philipsbhd__text {
  position: absolute;
  z-index: 5;
  top: 5%;
  left: 5%;
  width: 32%;
}
#philipsbhd .thermo-philipsbhd__text p {
  font-size: 34px;
  line-height: 1.2;
  color: #ffffff;
}
@media (max-width: 1520px) {
  #philipsbhd .thermo-philipsbhd__text p {
    font-size: -webkit-calc(16px + 18 * (100vw - 320px) / 1200);
    font-size: calc(16px + 18 * (100vw - 320px) / 1200);
  }
}
#philipsbhd .speed-philipsbhd__title {
  background-color: #7e1363;
  padding: 20px 20px 20px 5%;
}
#philipsbhd .speed-philipsbhd__title h2 {
  font-size: 48px;
  line-height: 1.2;
  color: #ffffff;
  font-weight: normal;
}
@media (max-width: 1520px) {
  #philipsbhd .speed-philipsbhd__title h2 {
    font-size: -webkit-calc(20px + 28 * (100vw - 320px) / 1200);
    font-size: calc(20px + 28 * (100vw - 320px) / 1200);
  }
}
#philipsbhd .speed-philipsbhd__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5%;
}
#philipsbhd .speed-philipsbhd__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 60%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}
#philipsbhd .speed-philipsbhd__text {
  width: 80%;
  margin: 0 auto;
}
#philipsbhd .speed-philipsbhd__text p {
  font-size: 34px;
  line-height: 1.2;
}
@media (max-width: 1520px) {
  #philipsbhd .speed-philipsbhd__text p {
    font-size: -webkit-calc(16px + 18 * (100vw - 320px) / 1200);
    font-size: calc(16px + 18 * (100vw - 320px) / 1200);
  }
}
#philipsbhd .speed-philipsbhd__text p:not(:last-child) {
  margin-bottom: 40px;
}
#philipsbhd .speed-philipsbhd__text p span {
  color: #7e1363;
  font-weight: bold;
}
#philipsbhd .cool-philipsbhd__title {
  background-color: #7e1363;
  padding: 20px 20px 20px 5%;
}
#philipsbhd .cool-philipsbhd__title h2 {
  font-size: 48px;
  line-height: 1.2;
  color: #ffffff;
  font-weight: normal;
}
@media (max-width: 1520px) {
  #philipsbhd .cool-philipsbhd__title h2 {
    font-size: -webkit-calc(20px + 28 * (100vw - 320px) / 1200);
    font-size: calc(20px + 28 * (100vw - 320px) / 1200);
  }
}
#philipsbhd .cool-philipsbhd__bg {
  position: relative;
  z-index: 2;
}
#philipsbhd .cool-philipsbhd__text {
  position: absolute;
  z-index: 5;
  top: 5%;
  right: 5%;
  width: 32%;
}
#philipsbhd .cool-philipsbhd__text p {
  font-size: 34px;
  line-height: 1.2;
  color: #ffffff;
}
@media (max-width: 1520px) {
  #philipsbhd .cool-philipsbhd__text p {
    font-size: -webkit-calc(16px + 18 * (100vw - 320px) / 1200);
    font-size: calc(16px + 18 * (100vw - 320px) / 1200);
  }
}
#philipsbhd .cool-philipsbhd__text p:not(:last-child) {
  margin-bottom: 40px;
}
#philipsbhd .narrow-philipsbhd__title {
  background-color: #7e1363;
  padding: 20px 20px 20px 5%;
}
#philipsbhd .narrow-philipsbhd__title h2 {
  font-size: 48px;
  line-height: 1.2;
  color: #ffffff;
  font-weight: normal;
}
@media (max-width: 1520px) {
  #philipsbhd .narrow-philipsbhd__title h2 {
    font-size: -webkit-calc(20px + 28 * (100vw - 320px) / 1200);
    font-size: calc(20px + 28 * (100vw - 320px) / 1200);
  }
}
#philipsbhd .narrow-philipsbhd__bg {
  position: relative;
  z-index: 2;
}
#philipsbhd .narrow-philipsbhd__text {
  position: absolute;
  z-index: 5;
  bottom: 10%;
  left: 5%;
  width: 32%;
}
#philipsbhd .narrow-philipsbhd__text p {
  font-size: 34px;
  line-height: 1.2;
  color: #ffffff;
}
@media (max-width: 1520px) {
  #philipsbhd .narrow-philipsbhd__text p {
    font-size: -webkit-calc(16px + 18 * (100vw - 320px) / 1200);
    font-size: calc(16px + 18 * (100vw - 320px) / 1200);
  }
}
#philipsbhd .narrow-philipsbhd__text p:not(:last-child) {
  margin-bottom: 40px;
}
#philipsbhd .diffuser-philipsbhd__title {
  background-color: #7e1363;
  padding: 20px 20px 20px 5%;
}
#philipsbhd .diffuser-philipsbhd__title h2 {
  font-size: 48px;
  line-height: 1.2;
  color: #ffffff;
  font-weight: normal;
}
@media (max-width: 1520px) {
  #philipsbhd .diffuser-philipsbhd__title h2 {
    font-size: -webkit-calc(20px + 28 * (100vw - 320px) / 1200);
    font-size: calc(20px + 28 * (100vw - 320px) / 1200);
  }
}
#philipsbhd .diffuser-philipsbhd__bg {
  position: relative;
  z-index: 2;
}
#philipsbhd .diffuser-philipsbhd__text {
  position: absolute;
  z-index: 5;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 5%;
  width: 32%;
}
#philipsbhd .diffuser-philipsbhd__text p {
  font-size: 34px;
  line-height: 1.2;
  color: #ffffff;
}
@media (max-width: 1520px) {
  #philipsbhd .diffuser-philipsbhd__text p {
    font-size: -webkit-calc(16px + 18 * (100vw - 320px) / 1200);
    font-size: calc(16px + 18 * (100vw - 320px) / 1200);
  }
}
#philipsbhd .diffuser-philipsbhd__text p:not(:last-child) {
  margin-bottom: 40px;
}
#philipsbhd .prof-philipsbhd__title {
  background-color: #7e1363;
  padding: 20px 20px 20px 5%;
}
#philipsbhd .prof-philipsbhd__title h2 {
  font-size: 48px;
  line-height: 1.2;
  color: #ffffff;
  font-weight: normal;
}
@media (max-width: 1520px) {
  #philipsbhd .prof-philipsbhd__title h2 {
    font-size: -webkit-calc(20px + 28 * (100vw - 320px) / 1200);
    font-size: calc(20px + 28 * (100vw - 320px) / 1200);
  }
}
#philipsbhd .footer-philipsbhd__bg {
  position: relative;
  z-index: 2;
}
#philipsbhd .footer-philipsbhd__text {
  position: absolute;
  z-index: 5;
  top: 30%;
  left: 5%;
  width: 32%;
}
#philipsbhd .footer-philipsbhd__text h2 {
  font-size: 50px;
  line-height: 1.2;
  margin-bottom: 20px;
  color: #7e1363;
}
@media (max-width: 1520px) {
  #philipsbhd .footer-philipsbhd__text h2 {
    font-size: -webkit-calc(18px + 32 * (100vw - 320px) / 1200);
    font-size: calc(18px + 32 * (100vw - 320px) / 1200);
  }
}
#philipsbhd .footer-philipsbhd__text p {
  font-size: 34px;
  line-height: 1.2;
  color: #7e1363;
}
@media (max-width: 1520px) {
  #philipsbhd .footer-philipsbhd__text p {
    font-size: -webkit-calc(16px + 18 * (100vw - 320px) / 1200);
    font-size: calc(16px + 18 * (100vw - 320px) / 1200);
  }
}
@media screen and (max-width: 1024.98px) {
  #philipsbhd .cool-philipsbhd__text {
    width: 40%;
    right: 2%;
  }
  #philipsbhd .ion-philipsbhd__text {
    width: 40%;
  }
}
@media screen and (max-width: 991.98px) {
  #philipsbhd .narrow-philipsbhd__text,
  #philipsbhd .diffuser-philipsbhd__text {
    width: 40%;
  }
  #philipsbhd .spec-philipsbhd__text p:not(:last-child) {
    margin-bottom: 20px;
  }
  #philipsbhd .ion-philipsbhd__text {
    right: 2%;
    width: 50%;
  }
  #philipsbhd .thermo-philipsbhd__text {
    width: 50%;
  }
}
@media screen and (max-width: 767.98px) {
  #philipsbhd .speed-philipsbhd__image {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 40%;
       -moz-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }
  #philipsbhd .header-philipsbhd__text {
    width: 50%;
    bottom: 5%;
  }
  #philipsbhd .header-philipsbhd__text p {
    padding-top: 20px;
  }
  #philipsbhd .ion-philipsbhd__text,
  #philipsbhd .engine-philipsbhd__text,
  #philipsbhd .cool-philipsbhd__text,
  #philipsbhd .narrow-philipsbhd__text,
  #philipsbhd .diffuser-philipsbhd__text {
    position: unset;
    width: auto;
    padding: 15px 5%;
  }
  #philipsbhd .ion-philipsbhd__text h2, #philipsbhd .ion-philipsbhd__text p,
  #philipsbhd .engine-philipsbhd__text h2,
  #philipsbhd .engine-philipsbhd__text p,
  #philipsbhd .cool-philipsbhd__text h2,
  #philipsbhd .cool-philipsbhd__text p,
  #philipsbhd .narrow-philipsbhd__text h2,
  #philipsbhd .narrow-philipsbhd__text p,
  #philipsbhd .diffuser-philipsbhd__text h2,
  #philipsbhd .diffuser-philipsbhd__text p {
    color: #000;
  }
  #philipsbhd .diffuser-philipsbhd__text {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}
@media screen and (max-width: 600px) {
  #philipsbhd .footer-philipsbhd__text {
    top: 12%;
    width: 50%;
  }
  #philipsbhd .spec-philipsbhd__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 479.98px) {
  #philipsbhd .footer-philipsbhd__text h2 {
    margin-bottom: 10px;
  }
  #philipsbhd .speed-philipsbhd__text p:not(:last-child) {
    margin-bottom: 20px;
  }
  #philipsbhd .speed-philipsbhd__text {
    width: 90%;
  }
  #philipsbhd .thermo-philipsbhd__text {
    position: unset;
    width: auto;
    padding: 15px 5%;
  }
  #philipsbhd .thermo-philipsbhd__text h2, #philipsbhd .thermo-philipsbhd__text p {
    color: #000;
  }
  #philipsbhd .spec-philipsbhd__text p {
    padding-left: 15px;
  }
  #philipsbhd .spec-philipsbhd__text p::before {
    width: 7px;
    height: 7px;
  }
  #philipsbhd .header-philipsbhd__text {
    width: 80%;
  }
  #philipsbhd .cool-philipsbhd__text p:not(:last-child),
  #philipsbhd .narrow-philipsbhd__text p:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 400px) {
  #philipsbhd .speed-philipsbhd__text {
    width: auto;
    padding: 15px 0;
  }
  #philipsbhd .speed-philipsbhd__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */