html,
body {
  height: 100%;
  min-width: 320px;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

#daewoodi a {
  color: inherit;
  text-decoration: none;
}

#daewoodi ul,
#daewoodi ol,
#daewoodi li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#daewoodi .bc-description__content p {
  margin-bottom: 0;
}

#daewoodi .bc-description__content h3 {
  text-align: left;
}

#daewoodi h1, #daewoodi h2, #daewoodi h3, #daewoodi h4, #daewoodi h5, #daewoodi h6 {
  text-transform: none;
  font-weight: bold;
}

#daewoodi {
  margin: 0 auto;
  overflow: hidden;
  background-color: #ffffff;
}
#daewoodi h1, #daewoodi h2, #daewoodi h3, #daewoodi h4, #daewoodi h5, #daewoodi h6, #daewoodi p {
  margin: 0;
  padding: 0;
  text-align: left;
}

#daewoodi p::first-letter {
  padding-left: 0;
}

#daewoodi img {
  opacity: 1;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#daewoodi img:hover {
  opacity: 1;
}

#daewoodi .daewoodi__container {
  max-width: 1440px;
  margin: 0 auto;
}

#daewoodi .header-daewoodi__bg {
  position: relative;
  z-index: 2;
}
#daewoodi .header-daewoodi__logo {
  position: absolute;
  z-index: 5;
  top: 4%;
  left: 6%;
  right: 66%;
}
#daewoodi .queen-daewoodi__bg {
  position: relative;
  z-index: 2;
}
#daewoodi .queen-daewoodi__text {
  position: absolute;
  z-index: 5;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 10%;
  width: 50%;
}
#daewoodi .queen-daewoodi__text p {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.2;
  color: #FFFFFF;
}
@media (max-width: 1440px) {
  #daewoodi .queen-daewoodi__text p {
    font-size: -webkit-calc(16px + 20 * ((100vw - 320px) / 1120));
    font-size: calc(16px + 20 * ((100vw - 320px) / 1120));
  }
}
#daewoodi .queen-daewoodi__text span {
  color: #A8741A;
  font-weight: 800;
}
#daewoodi .master-daewoodi__bg {
  position: relative;
  z-index: 2;
}
#daewoodi .master-daewoodi__text {
  position: absolute;
  z-index: 5;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 5%;
  width: 40%;
}
#daewoodi .master-daewoodi__text h2 {
  font-size: 32px;
  font-weight: 800;
  line-height: 1.2;
  text-transform: uppercase;
  color: #F6C643;
  margin-bottom: 10px;
}
@media (max-width: 1440px) {
  #daewoodi .master-daewoodi__text h2 {
    font-size: -webkit-calc(16px + 16 * ((100vw - 320px) / 1120));
    font-size: calc(16px + 16 * ((100vw - 320px) / 1120));
  }
}
#daewoodi .master-daewoodi__text p {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
}
@media (max-width: 1440px) {
  #daewoodi .master-daewoodi__text p {
    font-size: -webkit-calc(16px + 8 * ((100vw - 320px) / 1120));
    font-size: calc(16px + 8 * ((100vw - 320px) / 1120));
  }
}
#daewoodi .silent-daewoodi__bg {
  position: relative;
  z-index: 2;
}
#daewoodi .silent-daewoodi__text {
  position: absolute;
  z-index: 5;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 10%;
  width: 40%;
}
#daewoodi .silent-daewoodi__text h2 {
  font-size: 32px;
  font-weight: 800;
  line-height: 1.2;
  text-transform: uppercase;
  color: #A8741A;
  margin-bottom: 10px;
}
@media (max-width: 1440px) {
  #daewoodi .silent-daewoodi__text h2 {
    font-size: -webkit-calc(16px + 16 * ((100vw - 320px) / 1120));
    font-size: calc(16px + 16 * ((100vw - 320px) / 1120));
  }
}
#daewoodi .silent-daewoodi__text p {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
}
@media (max-width: 1440px) {
  #daewoodi .silent-daewoodi__text p {
    font-size: -webkit-calc(16px + 8 * ((100vw - 320px) / 1120));
    font-size: calc(16px + 8 * ((100vw - 320px) / 1120));
  }
}
#daewoodi .door-daewoodi__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#daewoodi .door-daewoodi__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
#daewoodi .door-daewoodi__text {
  width: 80%;
  margin: 0 auto;
}
#daewoodi .door-daewoodi__text h2 {
  font-size: 32px;
  font-weight: 800;
  line-height: 1.2;
  text-transform: uppercase;
  color: #A8741A;
  margin-bottom: 10px;
}
@media (max-width: 1440px) {
  #daewoodi .door-daewoodi__text h2 {
    font-size: -webkit-calc(16px + 16 * ((100vw - 320px) / 1120));
    font-size: calc(16px + 16 * ((100vw - 320px) / 1120));
  }
}
#daewoodi .door-daewoodi__text p {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
}
@media (max-width: 1440px) {
  #daewoodi .door-daewoodi__text p {
    font-size: -webkit-calc(16px + 8 * ((100vw - 320px) / 1120));
    font-size: calc(16px + 8 * ((100vw - 320px) / 1120));
  }
}
#daewoodi .door-daewoodi__image {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

#daewoodi .infoled-daewoodi__bg {
  position: relative;
  z-index: 2;
  background: url("https://cdn.comfy.ua/media/x/img3/2569611/img6.png") 0 0 no-repeat;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  min-height: 514px;
}
#daewoodi .infoled-daewoodi__text {
  position: absolute;
  z-index: 5;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  width: 55%;
  margin: 0 auto;
}
#daewoodi .infoled-daewoodi__text h2 {
  font-size: 32px;
  font-weight: 800;
  line-height: 1.2;
  text-transform: uppercase;
  color: #A8741A;
  margin-bottom: 10px;
  text-align: center;
}
@media (max-width: 1440px) {
  #daewoodi .infoled-daewoodi__text h2 {
    font-size: -webkit-calc(16px + 16 * ((100vw - 320px) / 1120));
    font-size: calc(16px + 16 * ((100vw - 320px) / 1120));
  }
}
#daewoodi .infoled-daewoodi__text p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
}
@media (max-width: 1440px) {
  #daewoodi .infoled-daewoodi__text p {
    font-size: -webkit-calc(16px + 8 * ((100vw - 320px) / 1120));
    font-size: calc(16px + 8 * ((100vw - 320px) / 1120));
  }
}
#daewoodi .column-daewoodi__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
#daewoodi .column-daewoodi__box {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 50px 80px 20px;
  min-height: 500px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
#daewoodi .column-daewoodi__box_bg {
  background-color: #000000;
}
#daewoodi .column-daewoodi__title h2 {
  font-size: 32px;
  font-weight: 800;
  line-height: 1.2;
  text-transform: uppercase;
  color: #A8741A;
  margin-bottom: 10px;
}
@media (max-width: 1440px) {
  #daewoodi .column-daewoodi__title h2 {
    font-size: -webkit-calc(16px + 16 * ((100vw - 320px) / 1120));
    font-size: calc(16px + 16 * ((100vw - 320px) / 1120));
  }
}
#daewoodi .column-daewoodi__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#daewoodi .column-daewoodi__icon {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 60px;
     -moz-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
}
#daewoodi .column-daewoodi__text {
  position: relative;
  z-index: 2;
  padding-left: 15px;
  margin-left: 15px;
}
#daewoodi .column-daewoodi__text::before {
  content: "";
  position: absolute;
  z-index: 5;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  height: 50%;
  width: 1px;
  background-color: #A8741A;
}
#daewoodi .column-daewoodi__text p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
}
@media (max-width: 1440px) {
  #daewoodi .column-daewoodi__text p {
    font-size: -webkit-calc(16px + 8 * ((100vw - 320px) / 1120));
    font-size: calc(16px + 8 * ((100vw - 320px) / 1120));
  }
}
#daewoodi .column-daewoodi__text_wh {
  color: #ffffff;
}
#daewoodi .column-daewoodi__text_wh::before {
  background-color: #ffffff;
}

#daewoodi .energy-daewoodi__bg {
  position: relative;
  z-index: 2;
  background: url("https://cdn.comfy.ua/media/x/img3/2569611/img16.png") 0 0 no-repeat;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  min-height: 505px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#daewoodi .energy-daewoodi__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#daewoodi .energy-daewoodi__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 60%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}
#daewoodi .energy-daewoodi__text {
  width: 80%;
  margin: 0 auto;
}
#daewoodi .energy-daewoodi__text h2 {
  font-size: 32px;
  font-weight: 800;
  line-height: 1.2;
  text-transform: uppercase;
  color: #A8741A;
  margin-bottom: 10px;
}
@media (max-width: 1440px) {
  #daewoodi .energy-daewoodi__text h2 {
    font-size: -webkit-calc(16px + 16 * ((100vw - 320px) / 1120));
    font-size: calc(16px + 16 * ((100vw - 320px) / 1120));
  }
}
#daewoodi .energy-daewoodi__text p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
  color: #ffffff;
}
@media (max-width: 1440px) {
  #daewoodi .energy-daewoodi__text p {
    font-size: -webkit-calc(16px + 8 * ((100vw - 320px) / 1120));
    font-size: calc(16px + 8 * ((100vw - 320px) / 1120));
  }
}
#daewoodi .energy-daewoodi__image {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 40%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

@media screen and (max-width: 1100px) {
  #daewoodi .column-daewoodi__box {
    padding: 50px 40px 20px;
  }
}
@media screen and (max-width: 991.98px) {
  #daewoodi .master-daewoodi__text {
    width: 45%;
    right: 2%;
  }
  #daewoodi .infoled-daewoodi__bg {
    min-height: 400px;
  }
  #daewoodi .column-daewoodi__box {
    padding: 50px 15px 15px;
  }
}
@media screen and (max-width: 767.98px) {
  #daewoodi .master-daewoodi__text {
    position: unset;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
    width: auto;
    padding: 20px 15px;
    background: #6f6b6c;
  }
  #daewoodi .master-daewoodi__text h2, #daewoodi .master-daewoodi__text p {
    text-align: center;
  }
  #daewoodi .silent-daewoodi__text {
    left: 3%;
    width: 52%;
  }
  #daewoodi .door-daewoodi__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #daewoodi .door-daewoodi__text {
    width: auto;
    padding: 20px 15px;
  }
  #daewoodi .door-daewoodi__text h2, #daewoodi .door-daewoodi__text p {
    text-align: center;
  }
  #daewoodi .infoled-daewoodi__text {
    width: 90%;
  }
  #daewoodi .column-daewoodi__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #daewoodi .column-daewoodi__box {
    min-height: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 40px 15px;
  }
  #daewoodi .column-daewoodi__row_rev {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #daewoodi .column-daewoodi__title h2 {
    text-align: center;
  }
  #daewoodi .column-daewoodi__inner {
    max-width: 500px;
  }
  #daewoodi .energy-daewoodi__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    padding: 0 15px;
  }
  #daewoodi .energy-daewoodi__bg {
    min-height: 450px;
  }
  #daewoodi .energy-daewoodi__text {
    width: auto;
  }
  #daewoodi .energy-daewoodi__text h2, #daewoodi .energy-daewoodi__text p {
    text-align: center;
  }
}
@media screen and (max-width: 479.98px) {
  #daewoodi .silent-daewoodi__text {
    position: unset;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
    width: auto;
    padding: 20px 15px;
    background: #fffeff;
  }
  #daewoodi .silent-daewoodi__text h2, #daewoodi .silent-daewoodi__text p {
    text-align: center;
  }
  #daewoodi .infoled-daewoodi__bg {
    min-height: 298px;
  }
  #daewoodi .energy-daewoodi__bg {
    min-height: 400px;
  }
}/*# sourceMappingURL=style.css.map */