//Адаптивное свойство
$maxWidth: 1920
$maxWidthContainer: 1200

@mixin adaptiv-value($property, $startSize, $minSize, $type)
    $addSize: $startSize - $minSize
    @if $type==1
        #{$property}: $startSize + px
        @media (max-width: #{$maxWidthContainer + px})
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}))

    @else if $type==2
        #{$property}: $startSize + px
        @media (min-width: #{$maxWidthContainer + px})
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}))

    @else
        #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}))

html,
body
    height: 100%
    min-width: 320px

button
    cursor: pointer
    color: inherit
    background-color: inherit

//========================================================================================================================================================

// [class*="-ibg"]
//     position: relative

// [class*="-ibg"] img
//     position: absolute
//     width: 100%
//     height: 100%
//     top: 0
//     left: 0
//     -o-object-fit: cover
//     object-fit: cover

// [class*="-ibg_contain"] img
//     -o-object-fit: contain
//     object-fit: contain

#applepro15 a
    color: inherit
    text-decoration: none

#applepro15
    ul,
    ol,
    li
        list-style: none
        padding: 0
        margin: 0

#applepro15 .bc-description__content p
    margin-bottom: 0

#applepro15 .bc-description__content h3
    text-align: left

#applepro15
    h1, h2, h3, h4, h5, h6
        text-transform: none
        font-weight: bold

#applepro15
    // display: flex
    // flex-direction: column
    margin: 0 auto
    overflow: hidden
    // background-color: #ffffff
    h1, h2, h3, h4, h5, h6, p
        margin: 0
        padding: 0
        text-align: left

#applepro15 p::first-letter
    padding-left: 0

#applepro15 img
    opacity: 1
    max-width: 100%
    display: block
    margin: 0 auto

#applepro15 img:hover
    opacity: 1

#applepro15 .applepro15__container
    max-width: 1200px
    margin: 0 auto
    background-color: #ffffff
    // padding: 0 15px

//========================================================================================================================================================

#applepro15 .header-applepro15
    padding-top: 50px
    &__title
        h2
            @include adaptiv-value("font-size", 92, 30, 1)
            line-height: 1.2
            text-align: center
            color: #86868b
            margin-bottom: 20px
    &__logo
        padding: 0 0px 100px
        //padding-bottom: 100px
    &__image
        padding-bottom: 50px
        margin: 0 40px
    &__box
        display: flex
        flex-direction: column
        align-items: center
        padding: 0 15px
        h2
            @include adaptiv-value("font-size", 50, 25, 1)
            line-height: 1.2
            text-align: center
            color: #000000
            margin-bottom: 20px
        a
            display: inline-block
            p
                @include adaptiv-value("font-size", 33, 20, 1)
                line-height: 1.2
                text-align: center
                color: #86868b
                padding: 17px 44px
                border: 1px solid #86868b
                border-radius: 50px
                transition: all 0.3s ease 0s
                @media (any-hover: hover)
                    &:hover
                        background-color: #0000006e
                        color: #ffffff
    &__link

#applepro15 .corpus-applepro15
    padding-top: 100px
    &__box
        max-width: 900px
        margin: 0 auto
        padding: 0 15px
    &__text
        margin-bottom: 0px
        p
            @include adaptiv-value("font-size", 36, 20, 1)
            line-height: 1.2
            font-weight: 400
            text-align: center
            color: #000000
    &__image

#applepro15 .spec-applepro15
    padding-top: 0px
    &__title
        padding: 0 15px
        margin-bottom: 50px
        h2
            @include adaptiv-value("font-size", 64, 34, 1)
            line-height: 1.2
            font-weight: 600
            text-align: center
            color: #000000
    &__row
        padding: 0 15px
        display: flex
        max-width: 995px
        margin: 0 auto
        gap: 50px
    &__col
        flex: 0 1 50%
    &__item
        &:not(:last-child)
            margin-bottom: 60px
    &__text
        h4
            font-size: 19px
            line-height: 1.2
            margin-bottom: 10px
            text-transform: uppercase
            color: #000000
        p
            font-size: 19px
            line-height: 1.2
            color: #000000

#applepro15 .inform-applepro15
    padding-top: 100px
    padding-bottom: 80px
    &__image
        padding: 0 15px
    &__box
        padding: 0 15px
        max-width: 995px
        margin: 0 auto
    &__top
        padding-top: 100px
        margin-bottom: 30px
        h2
            font-size: 19px
            line-height: 1.2
            margin-bottom: 10px
            color: #000000
        p
            font-size: 18px
            line-height: 1.2
            color: #000000
    &__row
        display: flex
        gap: 30px
    &__col
        flex: 0 1 50%
    &__item
        &:not(:last-child)
            margin-bottom: 20px
    &__text
        p
            font-size: 18px
            line-height: 1.2
            color: #000000

//===========MEDIA=============================================================================================================================================

    //@media screen and (max-width: 1300px)
    //@media screen and (max-width: 1024.98px)
    //@media screen and (max-width: 991.98px)
@media screen and (max-width: 767.98px)
    #applepro15 .header-applepro15
        padding-top: 80px
    #applepro15 .header-applepro15__logo
        padding-bottom: 50px
        img
            width: 300px
    #applepro15 .header-applepro15__image
        padding-bottom: 30px
    // #applepro15 .corpus-applepro15__text
    //     margin-bottom: 70px
    #applepro15 .spec-applepro15__row
        gap: 30px

@media screen and (max-width: 600px)
    #applepro15 .spec-applepro15__row
        flex-direction: column
        gap: 20px
    #applepro15 .spec-applepro15__item:not(:last-child)
        margin-bottom: 20px
    #applepro15 .inform-applepro15__row
        flex-direction: column
        gap: 15px
    #applepro15 .inform-applepro15__item:not(:last-child),
    #applepro15 .inform-applepro15__top
        margin-bottom: 15px
    #applepro15 .inform-applepro15
        padding-top: 50px
        padding-bottom: 50px
    #applepro15 .inform-applepro15__top
        padding-top: 50px

@media screen and (max-width: 479.98px)
    #applepro15 .header-applepro15__logo img
        width: 210px
    #applepro15 .header-applepro15
        padding-top: 50px
    #applepro15 .header-applepro15__box a p
        padding: 15px 30px
    #applepro15 .corpus-applepro15
        padding-top: 60px
    #applepro15 .spec-applepro15__text h4,
    #applepro15 .spec-applepro15__text p,
    #applepro15 .inform-applepro15__top h2,
    #applepro15 .inform-applepro15__top p,
    #applepro15 .inform-applepro15__text p
        font-size: 16px
    #applepro15 .spec-applepro15__title
        margin-bottom: 30px
    // #applepro15 .spec-applepro15
    //     padding-top: 50px

@media screen and (max-width: 401px)
    #applepro15 .header-applepro15__logo
        padding-bottom: 25px
        img
            width: 160px
    // #applepro15 .corpus-applepro15__text
    //     margin-bottom: 50px
