// html,
// body
//     height: 100%
//     min-width: 320px

// button
//     cursor: pointer
//     color: inherit
//     background-color: inherit

//========================================================================================================================================================

#maincontent a
    color: inherit
    text-decoration: none

#maincontent ul,
ol,
li
    list-style: none
    padding: 0
    margin: 0

#maincontent .bc-description__content p
    margin-bottom: 0

#maincontent .bc-description__content h3
    text-align: left

#maincontent p
    margin: 0
    padding: 0
    text-align: left

#maincontent h1,
#maincontent h2,
#maincontent h3,
#maincontent h4,
#maincontent h5,
#maincontent h6
    padding: 0
    margin: 0
    text-align: left
    text-transform: none
    font-weight: bold

#maincontent
    margin: 0 auto
    overflow: hidden
    background-color: #ffffff

#maincontent p::first-letter
    padding-left: 0

// [class*="__container"]
//     max-width: 1440px
//     margin: 0 auto
//     padding: 0 15px

#maincontent img
    opacity: 1
    max-width: 100%
    display: block
    margin: 0
    // margin: 0 auto

#maincontent img:hover
    opacity: 1

@mixin fonts($fontSize, $lineHeight)
    font:
        size: $fontSize
    line:
        height: $lineHeight

@mixin flex-box($justifyContent, $alignItems)
    display: flex
    justify-content: $justifyContent
    align-items: $alignItems

@mixin bg-image($url, $bgSize)
    background:
        image: $url
        repeat: no-repeat
        position: top center
        size: $bgSize

@mixin position($position, $zIndex)
    position: $position
    z-index: $zIndex

//========================================================================================================================================================
#maincontent .maincontent
    &__container
        max-width: 1440px
        margin: 0 auto
        padding: 0 15px
        h2
            @include fonts($fontSize: 36px, $lineHeight: 1.2)
            color: #002C5C
        h3
            @include fonts($fontSize: 32px, $lineHeight: 1.2)
            margin: 20px 0px
            text-transform: uppercase
        p
            @include fonts($fontSize: 24px, $lineHeight: 1.2)
            margin-bottom: 20px
            &:last-child
                margin-bottom: 0

#maincontent .box
    &__bg
        @include bg-image($url: url(https://cdn.comfy.ua/media/x/img3/2211954/bg01.png), $bgSize: cover)
#maincontent .top-box
    width: 85%
    margin: 0 auto
    &__inner
        @include flex-box($justifyContent: center, $alignItems: flex-start)
        flex-direction: row
        gap: 20px
        padding-top: 25px
    &__item
        flex: 0 1 60%
    &__image
        img
            vertical-align: top
    &__item_row
        @include flex-box($justifyContent: center, $alignItems: flex-end)
        flex-direction: row
    &__image_sm
        img
            vertical-align: bottom
    &__image_b
        margin-left: 19px
    &__item_col
        @include flex-box($justifyContent: flex-start, $alignItems: flex-end)
        flex-direction: column
    &__title
        margin-top: 20%
        display: flex
        flex-direction: column
        align-items: flex-end
        justify-content: center
        span:first-child
            @include fonts($fontSize: 50px, $lineHeight: 1.2)
            color: #FFFFFF
            display: inline-block
            margin-bottom: 34px
        span:last-child
            @include fonts($fontSize: 48px, $lineHeight: 1.2)
            font-weight: 700
            color: #FFFFFF
            display: inline-block
            background: #00AFFF
            padding: 11px 29px
            border-top-left-radius: 44px
            border-bottom-right-radius: 44px
#maincontent .box-text
    max-width: 1024px
    margin: 4% auto
    h2
        text-align: center

#maincontent .letter__box
    position: relative
#maincontent .box-letter
    &__bg
        @include bg-image($url: url(https://cdn.comfy.ua/media/x/img3/2211954/bg02.png), $bgSize: cover)
    &__wrapper
        @include flex-box($justifyContent: center, $alignItems: center)
    &__inner
        @include flex-box($justifyContent: flex-start, $alignItems: center)
        width: 100%
        margin: 75px 0
    &__text
        flex: 0 1 50%
        h3
            color: #00AFFF
        p
            color: #fff
    &__img
        flex: 0 1 50%

#maincontent .steam
    &__box
        margin-bottom: 4%
    &__wrapper
        @include position($position: relative, $zIndex: 6)
    &__img_desctop
        display: block
    &__img_tablet
        display: none
    &__inner
        @include position($position: absolute, $zIndex: 7)
        top: 0
        max-width: 1310px
        margin: 0 auto
        padding-top: 5%
        padding-bottom: 5%
    &__text
        max-width: 40%
        margin: 21% 50px 8% auto
        h3
            color: #002C5C
            margin-bottom: 15px
        p

            color: #002C5C

#maincontent .row-maincontent
    width: 90%
    margin: 0 auto 4%
    &__inner
        display: flex
        align-items: center
        gap: 7%
        margin-bottom: 25px
        &_rev
            flex-direction: row-reverse
    &__item
        flex: 0 1 50%
    &__image
        img
            margin: 0 auto
    &__text
        padding: 10px 20px
        h3, p
            color: #002C5C

    &__image
        flex: 0 1 50%

#maincontent .box-save
    margin-bottom: 4%
    &__bg
        @include bg-image($url: url(https://cdn.comfy.ua/media/x/img3/2211954/bg04.png), $bgSize: cover)
    &__inner
        @include flex-box($justifyContent: center, $alignItems: center)
        flex-direction: column
        padding-top: 5%
        padding-bottom: 5%
    &__img
        margin-bottom: 15px
    &__text
        width: 75%
    &__text
        h3
            text-transform: uppercase
            color: #00AFFF
            text-align: center
            margin-bottom: 15px
        p
            color: #FFFFFF
            text-align: center

#maincontent .additional-fn

    &__images
        @include position($position: relative, $zIndex: 5)
        margin-bottom: 20%
    &__img01
        @include position($position: relative, $zIndex: 6)
        left: -15px
        top: -75px
    &__img02
        @include position($position: absolute, $zIndex: 7)
        right: 0
        top: -589px
    &__img03
        @include position($position: absolute, $zIndex: 5)
        top: 70%

#maincontent .text
    &__item01
        max-width: 800px
        border-top: 2px solid #002C5C
        border-left: 2px solid #002C5C
        margin-left: auto
        padding: 45px 55px
        h3
            color: #002C5C
        p
            max-width: 458px
    &__item02
        background: #002C5C
        max-width: 1050px
        margin-left: auto
        padding: 45px 55px
        h3, p
            color: #fff
        p
            max-width: 460px
            position: relative
            z-index: 10            
    &__item03
        max-width: 1250px
        border-top: 2px solid #002C5C
        border-left: 2px solid #002C5C
        margin-left: auto
        padding: 45px 55px 120px
        p
            max-width: 617px

//===========MEDIA=============================================================================================================================================
// @media screen and (max-width: 1435.98px)
//     #maincontent .box-programs
//         &__line-up_left
//             &::before
//                 height: 214px
//                 top: -75%

@media screen and (max-width: 1400.98px)
    #maincontent .maincontent
        &__container
            h2
                font-size: calc( 22px + (36 - 22) * ((100vw - 320px)/(1400 - 320)))
            h3
                font-size: calc( 20px + (32 - 20) * ((100vw - 320px)/(1400 - 320)))
            p
                font-size: calc( 14px + (24 - 14) * ((100vw - 320px)/(1400 - 320)))
@media screen and (max-width: 1300px)
    #maincontent .top-box
        &__title
            span:first-child
                @include fonts($fontSize: 40px, $lineHeight: 1.2)
            span:last-child
                @include fonts($fontSize: 28px, $lineHeight: 1.2)

@media screen and (max-width: 1200.98px)
    #maincontent .additional-fn
        &__img01
            max-width: 60%
        &__img02
            max-width: 85%
    #maincontent .text
        &__item03
            p
                max-width: 400px

@media screen and (max-width: 1140.98px)
    #maincontent .additional-fn
        &__img01
            top: -121px
        &__img02
            right: -5%
        &__img03
            top: 65%

@media screen and (max-width: 1024.98px)
    #maincontent .box-letter
        &__inner
            margin: 25px 0
    #maincontent .steam__text
        margin: 18% 50px 5% auto
    #maincontent .additional-fn
        &__img03
            top: 55%

@media screen and (max-width: 991.98px)
    #maincontent .top-box
        &__inner
            flex-direction: column-reverse
            align-items: center
        &__img
            margin: 0 auto
        &__title
            align-items: center
    #maincontent .steam__text
        margin: 14% 50px 2% auto
    #maincontent .additional-fn
        &__img01
            max-width: 40%
        &__img02
            max-width: 50%
            top: -114%
            right: 0
        &__img03
            top: 39%
    

@media screen and (max-width: 767.98px)
    #maincontent .top-box
        width: 95%
        &__image_b
            margin-left: 8px
    #maincontent .top-box01
        width: auto
    #maincontent .box-text
        margin: 5% 2%
        p
            font-size: 25px
    #maincontent .box-letter
        &__inner
            flex-direction: column-reverse
        &__text
            h3, p
                text-align: center
    #maincontent .steam
        &__box
            margin-bottom: 0
        &__wrapper
            position: unset
            display: flex
            flex-direction: column
        &__img_desctop
            display: none
        &__img_tablet
            display: block
        &__inner
            position: unset
            padding: 0
        &__bg
            @include bg-image($url: url(https://cdn.comfy.ua/media/x/img3/2211954/bg03_2.png), $bgSize: cover)
        &__text
            margin: 0 auto 25px
            max-width: 95%
            h3, p
                text-align: center
    #maincontent .row-maincontent
        width: 95%
        &__inner
            flex-direction: column
            margin-bottom: 0
        &__text
            padding: 0
            h3, p
                text-align: center
    #maincontent .maincontent__container .row-maincontent
        p
            margin-bottom: 20px

    #maincontent .box-save
        &__inner
            padding-left: 15px
            padding-right: 15px
        &__text
            width: 100%
    #maincontent .additional-fn
        &__images
            margin-bottom: 40%
        &__img01
            top: 114px
            max-width: 55%
        &__img02
            top: -15%
            max-width: 60%
        &__img03
            top: 116%
    #maincontent .text
        &__item01
            border: none
            padding: 0 0 25px
            h3, p
                text-align: center
            p
                max-width: 95%
                margin: 0 auto
        &__item02
            padding: 25px 0
            h3, p
                text-align: center
            h3
                margin-top: 0
            p
                max-width: 95%
                margin: 0 auto
        &__item03
            border: none
            padding: 0 0 25px
            h3, p
                text-align: center
            p
                max-width: 95%
                margin: 0 auto

@media screen and (max-width: 700px)
    #maincontent .additional-fn
        &__img01
           max-width: 50%
           top: 79px

@media screen and (max-width: 479.98px)
    #maincontent .top-box
        &__image_sm
            flex: 0 1 30%
        &__title
            span:first-child
                font-size: 25px
            span:last-child
                font-size: 16px
    #maincontent .box-text
        p
            font-size: 16px
    #maincontent .box-save
        &__img
            img
                max-width: 60px
                margin: 0 auto
    #maincontent .additional-fn
        &__img01
            top: 70px
        &__img03
            top: 133%

@media screen and (max-width: 375.98px)
    #maincontent .additional-fn
        &__img01
            top: 55px

