#maincontent a {
  color: inherit;
  text-decoration: none;
}

#maincontent ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#maincontent .bc-description__content p {
  margin-bottom: 0;
}

#maincontent .bc-description__content h3 {
  text-align: left;
}

#maincontent p {
  margin: 0;
  padding: 0;
  text-align: left;
}

#maincontent h1,
#maincontent h2,
#maincontent h3,
#maincontent h4,
#maincontent h5,
#maincontent h6 {
  padding: 0;
  margin: 0;
  text-align: left;
  text-transform: none;
  font-weight: bold;
}

#maincontent {
  margin: 0 auto;
  overflow: hidden;
  background-color: #ffffff;
}

#maincontent p::first-letter {
  padding-left: 0;
}

#maincontent img {
  opacity: 1;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#maincontent img:hover {
  opacity: 1;
}

#maincontent .maincontent__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}
#maincontent .maincontent__container h2 {
  font-size: 46px;
  line-height: 1.2;
  margin: 30px 0px;
  text-align: center;
}
#maincontent .maincontent__container h3 {
  font-size: 38px;
  line-height: 1.2;
  margin: 30px 0px;
  text-align: center;
}
#maincontent .maincontent__container h4 {
  font-size: 24px;
  line-height: 1.33;
  margin: 20px 0px;
  text-align: center;
}
#maincontent .maincontent__container h5 {
  font-size: 20px;
  line-height: 1.33;
  margin: 20px 0px;
  text-align: center;
}
#maincontent .maincontent__container p {
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 20px;
  text-align: center;
}
#maincontent .maincontent__box {
  margin-bottom: 50px;
}
#maincontent .maincontent__text {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
#maincontent .maincontent__col {
  margin-bottom: 50px;
}

#maincontent .smsngvr3mb77312k-pos__box {
  position: relative;
  z-index: 4;
}
#maincontent .smsngvr3mb77312k-pos__text {
  position: absolute;
  z-index: 5;
  top: 17%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -60%);
      -ms-transform: translate(-50%, -60%);
       -o-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%);
}
#maincontent .smsngvr3mb77312k-pos__col {
  position: absolute;
  z-index: 5;
  top: 87%;
  -webkit-transform: translateY(-20%);
      -ms-transform: translateY(-20%);
       -o-transform: translateY(-20%);
          transform: translateY(-20%);
  background-color: #000;
  width: 28vw;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  padding: 7px 10px;
}
#maincontent .smsngvr3mb77312k-pos__col-top p {
  font-size: 24px;
  color: #fff;
  text-shadow: 3px -1px 1px #000;
  background: -webkit-gradient(linear, left top, right top, from(#09cb3a), color-stop(#af9a2a), color-stop(#cf7a1f), to(#dd250a));
  background: -webkit-linear-gradient(left, #09cb3a, #af9a2a, #cf7a1f, #dd250a);
  background: -o-linear-gradient(left, #09cb3a, #af9a2a, #cf7a1f, #dd250a);
  background: linear-gradient(to right, #09cb3a, #af9a2a, #cf7a1f, #dd250a);
  border: 2px solid #fff;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  text-align: left;
  margin: 7px 15px;
  padding-left: 10px;
}
#maincontent .smsngvr3mb77312k-pos__col-top01 p {
  background: -webkit-gradient(linear, left top, right top, from(#09cb3a), color-stop(#af9a2a), color-stop(#cf7a1f), to(#dd250a));
  background: -webkit-linear-gradient(left, #09cb3a, #af9a2a, #cf7a1f, #dd250a);
  background: -o-linear-gradient(left, #09cb3a, #af9a2a, #cf7a1f, #dd250a);
  background: linear-gradient(to right, #09cb3a, #af9a2a, #cf7a1f, #dd250a);
}
#maincontent .smsngvr3mb77312k-pos__col-top02 p {
  background: -webkit-gradient(linear, left top, right top, from(#09cb3a), color-stop(#35b046), color-stop(#4d7c49), to(#313132));
  background: -webkit-linear-gradient(left, #09cb3a, #35b046, #4d7c49, #313132);
  background: -o-linear-gradient(left, #09cb3a, #35b046, #4d7c49, #313132);
  background: linear-gradient(to right, #09cb3a, #35b046, #4d7c49, #313132);
}
#maincontent .smsngvr3mb77312k-pos__col-bottom p {
  font-size: 26px;
  position: relative;
  color: #fff;
  -webkit-text-stroke: 0.04em #fff;
}
#maincontent .smsngvr3mb77312k-pos__col-bottom p::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  right: 0;
  -webkit-text-stroke: 0.02em #fff;
}
#maincontent .smsngvr3mb77312k-pos__col_left {
  left: 23px;
  right: 80%;
}
#maincontent .smsngvr3mb77312k-pos__col_right {
  right: 23px;
  left: 70%;
}

#maincontent .smsngvr3mb77312k__img_bg {
  background-color: #000;
}

#maincontent .col-maincontent__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
     -moz-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
#maincontent .col-maincontent__inner_rev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
#maincontent .col-maincontent__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
#maincontent .col-maincontent__text {
  padding: 10px 20px;
  max-width: 580px;
  margin: 0 auto;
}
#maincontent .col-maincontent__image {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

#maincontent .smsngvr3mb77312k-slider__text {
  margin-bottom: 50px;
}
#maincontent .smsngvr3mb77312k-slider__img {
  padding-top: 200px;
}

#maincontent .smsngvr3mb77312k-slider__pagination, #maincontent .swiper-pagination {
  top: 0;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
     -moz-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#maincontent .swiper-pagination {
  padding: 30px 0;
}

#maincontent .smsngvr3mb77312k-slider__pagination .swiper-pagination-bullet {
  position: relative;
  z-index: 4;
  width: 87px;
  height: 87px;
}
#maincontent .smsngvr3mb77312k-slider__pagination .swiper-pagination-bullet:nth-child(1) {
  background-image: url(https://cdn.comfy.ua/media/x/img3/2597715/icon09_1.png);
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-color: transparent;
}
#maincontent .smsngvr3mb77312k-slider__pagination .swiper-pagination-bullet:nth-child(2) {
  background-image: url(https://cdn.comfy.ua/media/x/img3/2597715/icon09_2.png);
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-color: transparent;
}

#maincontent .smsngvr3mb77312k-slider__pagination .swiper-pagination-bullet-active:nth-child(1) {
  background-image: url(https://cdn.comfy.ua/media/x/img3/2597715/icon09_1_bl.png);
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-color: transparent;
}
#maincontent .smsngvr3mb77312k-slider__pagination .swiper-pagination-bullet-active:nth-child(2) {
  background-image: url(https://cdn.comfy.ua/media/x/img3/2597715/icon09_2_bl.png);
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-color: transparent;
}

@media screen and (max-width: 1270.98px) {
  #maincontent .smsngvr3mb77312k-pos__col {
    width: 30vw;
  }
  #maincontent .smsngvr3mb77312k-pos__col-top p {
    margin: 7px 5px;
  }
  #maincontent .smsngvr3mb77312k-pos__col_right {
    left: 68%;
  }
}
@media screen and (max-width: 1200px) {
  #maincontent .maincontent__container h2 {
    font-size: -webkit-calc(28px + 18 * (100vw - 320px) / 880);
    font-size: calc(28px + 18 * (100vw - 320px) / 880);
  }
  #maincontent .maincontent__container h3 {
    font-size: -webkit-calc(24px + 14 * (100vw - 320px) / 880);
    font-size: calc(24px + 14 * (100vw - 320px) / 880);
  }
  #maincontent .maincontent__container h4 {
    font-size: -webkit-calc(20px + 4 * (100vw - 320px) / 880);
    font-size: calc(20px + 4 * (100vw - 320px) / 880);
  }
  #maincontent .maincontent__container h5 {
    font-size: -webkit-calc(18px + 2 * (100vw - 320px) / 880);
    font-size: calc(18px + 2 * (100vw - 320px) / 880);
  }
  #maincontent .maincontent__container p {
    font-size: -webkit-calc(14px + 4 * (100vw - 320px) / 880);
    font-size: calc(14px + 4 * (100vw - 320px) / 880);
  }
  #maincontent .smsngvr3mb77312k-pos__col-top p {
    font-size: -webkit-calc(6px + 18 * (100vw - 320px) / 880);
    font-size: calc(6px + 18 * (100vw - 320px) / 880);
  }
  #maincontent .smsngvr3mb77312k-pos__col-bottom p {
    font-size: -webkit-calc(8px + 18 * (100vw - 320px) / 880);
    font-size: calc(8px + 18 * (100vw - 320px) / 880);
  }
}
@media screen and (max-width: 1155.98px) {
  #maincontent .smsngvr3mb77312k-pos__col {
    -webkit-transform: translateY(-25%);
        -ms-transform: translateY(-25%);
         -o-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  #maincontent .smsngvr3mb77312k-pos__col_left {
    left: 21px;
  }
}
@media screen and (max-width: 1024.98px) {
  #maincontent .smsngvr3mb77312k-pos__col_left {
    left: 10px;
  }
  #maincontent .smsngvr3mb77312k-pos__col_right {
    left: 68%;
  }
}
@media screen and (max-width: 991.98px) {
  #maincontent .smsngvr3mb77312k-pos__col {
    width: 30vw;
  }
  #maincontent .smsngvr3mb77312k-pos__col_right {
    left: 68%;
  }
}
@media screen and (max-width: 855.98px) {
  #maincontent .smsngvr3mb77312k-pos__col {
    top: 88%;
    bottom: -10px;
  }
  #maincontent .smsngvr3mb77312k-pos__col_right {
    left: 68%;
  }
}
@media screen and (max-width: 767.98px) {
  #maincontent .maincontent__container h2, #maincontent .maincontent__container h3, #maincontent .maincontent__container h4, #maincontent .maincontent__container p {
    margin: 10px 0;
  }
  #maincontent .maincontent__box, #maincontent .maincontent__col {
    margin-bottom: 0;
  }
  #maincontent .maincontent__text {
    padding: 0 5px;
  }
  #maincontent .smsngvr3mb77312k-pos__col-top p, #maincontent .smsngvr3mb77312k-pos__col-bottom p {
    margin: 5px 0;
  }
  #maincontent .smsngvr3mb77312k-pos__col_right {
    left: 68%;
  }
  #maincontent .col-maincontent__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #maincontent .col-maincontent__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #maincontent .col-maincontent__text {
    padding: 0 5px;
  }
  #maincontent .smsngvr3mb77312k-slider__text {
    margin-bottom: 0px;
  }
  #maincontent .smsngvr3mb77312k-slider__img {
    padding-top: 150px;
  }
  #maincontent .smsngvr3mb77312k-slider__pagination .swiper-pagination-bullet {
    width: 10vw;
    height: 10vw;
  }
}
@media screen and (max-width: 600.98px) {
  #maincontent .smsngvr3mb77312k-pos__col {
    -webkit-border-radius: 7px;
            border-radius: 7px;
  }
  #maincontent .smsngvr3mb77312k-pos__col_right {
    left: 67%;
  }
  #maincontent .smsngvr3mb77312k-slider__img {
    padding-top: 120px;
  }
}
@media screen and (max-width: 550.98px) {
  #maincontent .smsngvr3mb77312k-pos__col {
    width: 31vw;
  }
  #maincontent .smsngvr3mb77312k-pos__col_right {
    left: 66%;
  }
}
@media screen and (max-width: 479.98px) {
  #maincontent .smsngvr3mb77312k-pos__text {
    position: unset;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
         -o-transform: translate(0, 0);
            transform: translate(0, 0);
    margin: 0 auto;
  }
  #maincontent .smsngvr3mb77312k-pos__col {
    width: 32vw;
    padding: 4px 10px;
    top: 90%;
    bottom: -8px;
  }
  #maincontent .smsngvr3mb77312k-pos__col-bottom p {
    margin-bottom: 0;
  }
  #maincontent .smsngvr3mb77312k-pos__col_left {
    left: 7px;
  }
  #maincontent .smsngvr3mb77312k-pos__col_right {
    left: 64%;
  }
  #maincontent .swiper-pagination {
    padding: 15px 0;
  }
  #maincontent .smsngvr3mb77312k-slider__img {
    padding-top: 85px;
  }
}
@media screen and (max-width: 400.98px) {
  #maincontent .smsngvr3mb77312k-pos__col {
    padding: 0 4px;
    top: 92%;
  }
  #maincontent .smsngvr3mb77312k-pos__col-top p {
    padding-left: 5px;
  }
  #maincontent .smsngvr3mb77312k-pos__col_left {
    left: 5px;
  }
  #maincontent .smsngvr3mb77312k-slider__img {
    padding-top: 70px;
  }
}/*# sourceMappingURL=style.css.map */