// html,
// body
//     height: 100%
//     min-width: 320px

// button
//     cursor: pointer
//     color: inherit
//     background-color: inherit

//========================================================================================================================================================

#maincontent a
    color: inherit
    text-decoration: none

#maincontent ul,
ol,
li
    list-style: none
    padding: 0
    margin: 0

#maincontent .bc-description__content p
    margin-bottom: 0

#maincontent .bc-description__content h3
    text-align: left

#maincontent p
    margin: 0
    padding: 0
    text-align: left

#maincontent h1,
#maincontent h2,
#maincontent h3,
#maincontent h4,
#maincontent h5,
#maincontent h6
    padding: 0
    margin: 0
    text-align: left
    text-transform: none
    font-weight: bold

#maincontent
    margin: 0 auto
    overflow: hidden
    background-color: #ffffff

#maincontent p::first-letter
    padding-left: 0

#maincontent img
    opacity: 1
    max-width: 100%
    display: block
    // margin: 0
    margin: 0 auto

#maincontent img:hover
    opacity: 1

@mixin fonts($fontSize, $lineHeight)
    font:
        size: $fontSize
    line:
        height: $lineHeight

@mixin flex-box($justifyContent, $alignItems)
    display: flex
    justify-content: $justifyContent
    align-items: $alignItems

@mixin bg-image($url)
    background:
        image: $url
    background:
        repeat: no-repeat
    background:
        position: top center
    background:
        size: cover

@mixin position($position, $zIndex)
    position: $position
    z-index: $zIndex

//========================================================================================================================================================
#maincontent .maincontent
    &__container
        max-width: 1920px
        margin: 0 auto
        padding: 0 15px
        h2
            @include fonts($fontSize: 46px, $lineHeight: 1.2)
            text-transform: uppercase
            color: #1d1d1b
            margin: 130px 0px 30px 0px
        h3
            @include fonts($fontSize: 26px, $lineHeight: 1.2)
            text-transform: uppercase
            margin: 20px 0
            color: #1d1d1b
        p
            @include fonts($fontSize: 26px, $lineHeight: 1.2)
            color: #2c2c2a
            margin-bottom: 10px
        ul, li
            @include fonts($fontSize: 20px, $lineHeight: 1.5)
            color: #2c2c2a
            margin-bottom: 3.8em
            text-transform: uppercase
    &__box
        @include position($position: relative, $zIndex: 3)
        &_img
            margin-bottom: 10px
    &__title
        @include position($position: absolute, $zIndex: 4)
#maincontent .img-box
    &__box
        margin-bottom: 10px
#maincontent .style, #maincontent .characteristics, #maincontent .storage
    &__title
        top: 5%
        left: 50%
        margin-right: -50%
        transform: translate(-50%, -50%)
        h2, p
            text-align: center
        p
            margin-bottom: 50px
        img
            margin: 0 auto

#maincontent .connect
    &__box
        margin-bottom: 10px
    &__title
        top: 18%
        left: 50%
        margin-right: -50%
        transform: translate(-50%, -50%)
        h2, p
            text-align: center
        p
            margin-bottom: 50px
        img
            margin: 0 auto
#maincontent .plug-play
    &__box
        margin-bottom: 10px
    &__title
        top: 0
        right: 120px
        left: 70%
        bottom: 0
        padding-bottom: 120px
        h2, p
            text-align: right

#maincontent .smart-whell
    &__title
        top: 58%
        left: 120px
        right: 66%
        h2
            margin-top: 15px
#maincontent .storage
    &__title
        top: 0
#maincontent .features
    &__list
        @include position($position: absolute, $zIndex: 5)
        left: 73%
        right: 120px
        top: 16%

#maincontent .comfort
    &__title
        top: 0
        left: 120px
        right: 120px
        h2, p
            text-align: center
        p
            margin-bottom: 50px

#maincontent .power
    &__title
        top: 50%
        left: 50%
        margin-right: -50%
        transform: translate(-50%, -50%)
        h3, p
            text-align: center
        p
            margin-bottom: 50px


//===========MEDIA=============================================================================================================================================
@media screen and (max-width: 1900px)
    #maincontent .maincontent
        &__container
            h2
                font-size: calc( 20px + (46 - 20) * ((100vw - 320px)/(1900 - 320)))
            h3
                font-size: calc( 18px + (28 - 18) * ((100vw - 320px)/(1900 - 320)))
            p
                font-size: calc( 16px + (26 - 16) * ((100vw - 320px)/(1900 - 320)))
            ul, li
                font-size: calc( 6px + (20 - 6) * ((100vw - 320px)/(1900 - 320)))
@media screen and (max-width: 1830.98px)
    #maincontent .connect
        &__title
            top: 15%
    #maincontent .features
        &__list
            top: 15%
    #maincontent .comfort
        &__title
            top: -5%
// @media screen and (max-width: 1750.98px)
@media screen and (max-width: 1600.98px)
    #maincontent .maincontent
        &__container
            ul, li
                margin-bottom: 3.7em    
    #maincontent .plug-play
        &__title
            left: 65%
    #maincontent .comfort
        &__title
            top: -10%
@media screen and (max-width: 1500.98px)
    #maincontent .img-box
        &__box
            &_mb
                margin-bottom: 100px
    #maincontent .style
        &__title
            top: 0
    #maincontent .connect
        &__title
            top: 7%
    #maincontent .plug-play
        &__title
            right: 60px
    #maincontent .smart-whell
        &__title
            left: 60px    
    #maincontent .features
        &__list
            right: 60px
    #maincontent .comfort
        &__title
            top: -20%
            left: 60px
            right: 60px
@media screen and (max-width: 1390.98px)
    #maincontent .maincontent
        &__container
            ul, li
                margin-bottom: 3.4em    
    #maincontent .comfort
        &__title
            top: -25%
    #maincontent .features
        &__list
            top: 16%
@media screen and (max-width: 1250px)
    #maincontent .connect
        &__title
            top: 5%
@media screen and (max-width: 1200px)
    #maincontent .maincontent
        &__container
            ul, li
                margin-bottom: 3.2em
    #maincontent .plug-play
        &__title
            h2
                margin-top: 25px
    #maincontent .comfort
        &__title
            top: -30%
@media screen and (max-width: 1150.98px)
    #maincontent .plug-play
        &__title
            right: 20px
    #maincontent .smart-whell
        &__title
            left: 20px
    #maincontent .comfort
        &__title
            left: 20px
            right: 20px
            img
                width: 45%
    #maincontent .features
        &__list
            right: 20px
@media screen and (max-width: 1024.98px)
    #maincontent .style, #maincontent .storage
        &__title
            top: -11%
    #maincontent .connect
        &__title
            top: 0    
    #maincontent .comfort
        &__title
            top: -40%

@media screen and (max-width: 991.98px)
    #maincontent .maincontent
        &__box
            &_img
                margin-bottom: 0
        &__container
            ul, li
                margin-bottom: 3em
    #maincontent .style, #maincontent .connect, #maincontent .plug-play, #maincontent .smart-whell, #maincontent .comfort, #maincontent .storage
        &__title
            h2, p
                margin-bottom: 20px
    #maincontent .characteristics
        &__title
            top: 0%
    #maincontent .plug-play
        &__title
            position: unset
            padding-bottom: 0
            h2, p
                text-align: center
    #maincontent .smart-whell
        &__title
            padding-bottom: 0
            h2, p
                text-align: left
    #maincontent .power
        &__title
            p
                margin-bottom: 20px
@media screen and (max-width: 900.98px)
    #maincontent .smart-whell
        &__box
            margin-bottom: 30px
@media screen and (max-width: 867.98px)
    #maincontent .maincontent
        &__container
            ul, li
                margin-bottom: 2.5em
    #maincontent .connect
        &__title
            top: -5%    
    #maincontent .comfort
        &__title
            top: -40%
    #maincontent .features
        &__list
            width: 25%
    #maincontent .power
        &__box
            margin-bottom: 0
        &__title
            position: unset
            margin: 0 auto
            transform: translate(0, 0)
            h3, p
                text-align: center
            p
                &:last-child
                    margin-bottom: 0
@media screen and (max-width: 767.98px)
    #maincontent .maincontent
        &__container
            h2
                margin: 10px 0
            p
                margin-bottom: 10px
            ul, li
                margin-bottom: 2.3em
        &__title
            padding: 0 7px
    #maincontent .style
        &__title
            top: -5%
    #maincontent .connect, #maincontent .storage
        &__title
            top: 5%
            p
                margin-bottom: 20px
    #maincontent .characteristics
        &__box
            margin-bottom: 0
        &__title
            top: 10%       
    #maincontent .comfort
        &__box
            margin-bottom: 10px
        &__title
            top: -20%
            p
                margin-bottom: 10px
    #maincontent .power
        &__title
            h3
                margin: 10px 0
@media screen and (max-width: 700.98px)
    #maincontent .maincontent
        &__container
            ul, li
                margin-bottom: 2.2em
    #maincontent .connect
        &__title
            img
                width: 10%
@media screen and (max-width: 650.98px)
    #maincontent .maincontent
        &__container
            ul, li
                margin-bottom: 2.1em
    #maincontent .smart-whell
        &__title
            right: 50%
@media screen and (max-width: 600.98px)
    #maincontent .maincontent
        &__container
            ul, li
                margin-bottom: 2em
    #maincontent .smart-whell
        &__box
            margin-bottom: 50px
@media screen and (max-width: 555.98px)
    #maincontent .maincontent
        &__container
            ul, li
                font-size: 14px
                line-height: 1.1
                list-style: disc
                margin-bottom: 5px
                text-transform: lowercase
                &::first-letter
                    text-transform: uppercase
                &:last-child
                    margin-bottom: 0
    #maincontent .style
        &__title
            top: -10%
    #maincontent .smart-whell
        &__box
            margin-bottom: 55px
        &__title
            right: 60%
            left: 10px
            padding: 0
    #maincontent .connect
        &__title
            p
                margin-bottom: 10px
    #maincontent .comfort
        &__title
            top: -35%
    #maincontent .features
        &__list
            position: unset
            padding: 0 15px
            width: auto
@media screen and (max-width: 479.98px)
    #maincontent .style
        &__title
            img
                width: 40%
    #maincontent .connect
        &__title
            top: -5%    
    #maincontent .comfort
        &__title
            top: -45%
@media screen and (max-width: 450.98px)
    #maincontent .smart-whell
        &__box
            margin-bottom: 110px
    #maincontent .power__box
        margin-bottom: 40px
    #maincontent .storage
        &__title
            top: -4%
@media screen and (max-width: 420.98px)
    #maincontent .comfort
        &__title
            top: -50%
            img
                width: 40%
@media screen and (max-width: 400.98px)
    #maincontent .img-box
        &__box
            &_mb
                margin-bottom: 130px
    #maincontent .style
        &__title
            top: -40%
    #maincontent .connect
        &__title
            top: -24%
            img
                width: 8%
    #maincontent .smart-whell
        &__title
            top: 63%
            right: 51%
            left: 2px
    #maincontent .comfort
        &__title
            top: -65%    
@media screen and (max-width: 360.98px)
    #maincontent .smart-whell
        &__box
            margin-bottom: 128px
    #maincontent .comfort
        &__title
            top: -80%
@media screen and (max-width: 330.98px)
    #maincontent .comfort
        &__title
            top: -85%

