#maincontent a {
  color: inherit;
  text-decoration: none;
}

#maincontent ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#maincontent .bc-description__content p {
  margin-bottom: 0;
}

#maincontent .bc-description__content h3 {
  text-align: left;
}

#maincontent p {
  margin: 0;
  padding: 0;
  text-align: left;
}

#maincontent h1,
#maincontent h2,
#maincontent h3,
#maincontent h4,
#maincontent h5,
#maincontent h6 {
  padding: 0;
  margin: 0;
  text-align: left;
  text-transform: none;
  font-weight: bold;
}

#maincontent {
  margin: 0 auto;
  overflow: hidden;
  background-color: #ffffff;
}

#maincontent p::first-letter {
  padding-left: 0;
}

#maincontent img {
  opacity: 1;
  max-width: 100%;
  display: block;
  margin: 0;
}

#maincontent img:hover {
  opacity: 1;
}

#maincontent .maincontent__container {
  max-width: 1536px;
  margin: 0 auto;
  padding: 0 15px;
}
#maincontent .maincontent__container h2 {
  font-size: 36px;
  line-height: 1.05;
  margin: 20px 0px;
}
#maincontent .maincontent__container p {
  font-size: 24px;
  line-height: 1.05;
  margin-bottom: 10px;
}

#maincontent .top-box__text {
  max-width: 1204px;
  margin: 0 auto;
  padding: 60px 10px;
}
#maincontent .top-box__text p {
  font-size: 36px;
  line-height: 1.05;
  text-align: center;
}

#maincontent .row-philips2667114__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 58px 25px;
}
#maincontent .row-philips2667114__inner_rev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
#maincontent .row-philips2667114__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
#maincontent .row-philips2667114__text {
  padding: 10px 0px 10px 131px;
}
#maincontent .row-philips2667114__text_left {
  padding: 10px 131px 10px 0px;
}
#maincontent .row-philips2667114__images, #maincontent .row-philips2667114__image {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  position: relative;
  z-index: 5;
}
#maincontent .row-philips2667114__image_pos {
  position: absolute;
  z-index: 6;
  left: 349px;
  right: 112px;
  bottom: 85px;
}
#maincontent .row-philips2667114__image_right img {
  margin-left: auto;
}

#maincontent .col-philips2667114__inner {
  padding: 25px 10px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 14px;
}
#maincontent .col-philips2667114__text {
  padding: 0 10px;
}

#maincontent .bottom-box__inner {
  position: relative;
  z-index: 4;
  margin-top: 12px;
}
#maincontent .bottom-box__logo {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 119px;
  right: 55%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}
#maincontent .bottom-box__logo img {
  margin-bottom: 42px;
}
#maincontent .bottom-box__logo img:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1350px) {
  #maincontent .maincontent__container h2 {
    font-size: -webkit-calc(22px + 14 * (100vw - 320px) / 980);
    font-size: calc(22px + 14 * (100vw - 320px) / 980);
  }
  #maincontent .maincontent__container p {
    font-size: -webkit-calc(16px + 8 * (100vw - 320px) / 980);
    font-size: calc(16px + 8 * (100vw - 320px) / 980);
  }
  #maincontent .top-box__text p {
    font-size: -webkit-calc(22px + 14 * (100vw - 320px) / 980);
    font-size: calc(22px + 14 * (100vw - 320px) / 980);
  }
  #maincontent .row-philips2667114__image_pos {
    left: 55%;
    right: 70px;
  }
}
@media screen and (max-width: 1250px) {
  #maincontent .row-philips2667114__text {
    padding: 10px 0px 10px 100px;
  }
  #maincontent .row-philips2667114__text_left {
    padding: 10px 100px 10px 0px;
  }
}
@media screen and (max-width: 1200px) {
  #maincontent .top-box__text {
    padding: 30px 10px;
  }
  #maincontent .row-philips2667114__text {
    padding: 10px 0px 10px 60px;
  }
  #maincontent .row-philips2667114__text_left {
    padding: 10px 60px 10px 0px;
  }
}
@media screen and (max-width: 1100px) {
  #maincontent .row-philips2667114__image_pos {
    right: 40px;
  }
}
@media screen and (max-width: 1024.98px) {
  #maincontent .top-box__text {
    padding: 15px 10px 5px;
  }
  #maincontent .row-philips2667114__inner {
    padding: 25px 28px 12px;
  }
  #maincontent .col-philips2667114__inner {
    grid-template-columns: repeat(2, 1fr);
  }
  #maincontent .bottom-box__logo {
    left: 50px;
  }
}
@media screen and (max-width: 991.98px) {
  #maincontent .row-philips2667114__text {
    padding: 10px 0px 10px 30px;
  }
  #maincontent .row-philips2667114__text_left {
    padding: 10px 30px 10px 0px;
  }
  #maincontent .col-philips2667114__inner {
    padding: 15px 10px 0;
  }
}
@media screen and (max-width: 767.98px) {
  #maincontent .maincontent__container h2 {
    margin: 15px 0;
  }
  #maincontent .row-philips2667114__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0;
  }
  #maincontent .row-philips2667114__text {
    padding: 0 10px;
  }
  #maincontent .row-philips2667114__text h2, #maincontent .row-philips2667114__text p {
    text-align: center;
  }
  #maincontent .col-philips2667114__inner {
    grid-template-columns: 1fr;
    padding: 0;
    gap: 0;
  }
  #maincontent .col-philips2667114__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #maincontent .col-philips2667114__text h2, #maincontent .col-philips2667114__text p {
    text-align: center;
  }
}
@media screen and (max-width: 479.98px) {
  #maincontent .maincontent__container h2 {
    margin: 10px 0;
  }
  #maincontent .row-philips2667114__image_pos {
    bottom: 45px;
  }
  #maincontent .bottom-box__logo {
    left: 25px;
  }
  #maincontent .bottom-box__logo img {
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=style.css.map */