//Адаптивное свойство
$maxWidth: 1920
$maxWidthContainer: 1410

@mixin adaptiv-value($property, $startSize, $minSize, $type)
    $addSize: $startSize - $minSize
    @if $type==1
        #{$property}: $startSize + px
        @media (max-width: #{$maxWidthContainer + px})
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}))

    @else if $type==2
        #{$property}: $startSize + px
        @media (min-width: #{$maxWidthContainer + px})
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}))

    @else
        #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}))

html,
body
    height: 100%
    min-width: 320px

button
    cursor: pointer
    color: inherit
    background-color: inherit

//========================================================================================================================================================

[class*="-ibg"]
    position: relative

[class*="-ibg"] img
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    -o-object-fit: cover
    object-fit: cover

[class*="-ibg_contain"] img
    -o-object-fit: contain
    object-fit: contain

#scandiluxsc a
    color: inherit
    text-decoration: none

#scandiluxsc
    ul,
    ol,
    li
        list-style: none
        padding: 0
        margin: 0

#scandiluxsc .bc-description__content p
    margin-bottom: 0

#scandiluxsc .bc-description__content h3
    text-align: left

#scandiluxsc
    h1, h2, h3, h4, h5, h6
        text-transform: none
        font-weight: bold

#scandiluxsc
    margin: 0 auto
    overflow: hidden
    background-color: #ffffff
    h1, h2, h3, h4, h5, h6, p
        margin: 0
        padding: 0
        text-align: left

#scandiluxsc p::first-letter
    padding-left: 0

#scandiluxsc img
    opacity: 1
    max-width: 100%
    display: block
    margin: 0 auto

#scandiluxsc img:hover
    opacity: 1

[class*="__container"]
    max-width: 1410px
    margin: 0 auto
    padding: 0 15px

//========================================================================================================================================================
#scandiluxsc .header-scandiluxsc
    &__bg
        background-color: #2A2A2A
        padding: 50px 80px
        position: relative
        z-index: 2
    &__image
    &__box
        position: absolute
        z-index: 5
        top: 65%
        left: 0
        right: 0
        margin: 0 auto
        p
            @include adaptiv-value("font-size", 50, 20, 1)
            line-height: 1.4
            text-align: center
            color: #fff
            opacity: 0.8
    &__row
        max-width: 860px
        margin: 0 auto
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        //justify-content: space-between
        gap: 15px
    &__item
        //flex: 0 1 33.3333%
        max-width: 235px
        width: 100%
    &__text
        //border: 1px solid #ffffff
        //min-height: 102px
        min-height: 113px
        display: flex
        align-items: center
        justify-content: center
        padding: 5px
        position: relative
        z-index: 2
        &::after
            content: ''
            position: absolute
            z-index: 5
            top: 0
            left: 0
            background: url('../img/img14.png') 0 0 no-repeat
            background-size: cover
            width: 235px
            height: 96px
        p
            @include adaptiv-value("font-size", 20, 16, 1)
            line-height: 1.3
            text-align: center
            color: #fff
        &_1
            &::before
                content: ''
                position: absolute
                z-index: 5
                top: -16px
                left: 0
                right: 0
                margin: 0 auto
                background: url('../img/img2.png') 0 0 no-repeat
                background-size: cover
                width: 37px
                height: 34px
        &_2
            &::before
                content: ''
                position: absolute
                z-index: 5
                top: -12px
                left: 0
                right: 0
                margin: 0 auto
                background: url('../img/img3.png') 0 0 no-repeat
                background-size: cover
                width: 37px
                height: 25px
        &_3
            &::before
                content: ''
                position: absolute
                z-index: 5
                top: -10px
                left: 0
                right: 0
                margin: 0 auto
                background: url('../img/img4.png') 0 0 no-repeat
                background-size: cover
                width: 48px
                height: 22px

#scandiluxsc .row-scandiluxsc
    max-width: 1233px
    margin: 0 auto
    &__inner
        display: flex
        align-items: center
        @include adaptiv-value("padding-top", 80, 30, 1)
        &_rev
            flex-direction: row-reverse
    &__item
        flex: 0 1 50%
    &__text
        width: 90%
        margin: 0 auto
        h2
            @include adaptiv-value("font-size", 50, 20, 1)
            line-height: 1.4
            margin-bottom: 10px
        p
            @include adaptiv-value("font-size", 20, 16, 1)
            line-height: 1.4
            span
                color: #37E0FF
                font-weight: bold
            &:not(:last-child)
                margin-bottom: 10px
    &__image
        flex: 0 1 50%

#scandiluxsc .mode-scandiluxsc
    @include adaptiv-value("padding-top", 100, 30, 1)
    &__bg
        position: relative
        z-index: 2
    &__image
    &__box
        position: absolute
        z-index: 5
        top: 15%
        left: 5%
        //width: 33%
        max-width: 447px
    &__text
        h2
            @include adaptiv-value("font-size", 30, 18, 1)
            line-height: 1.3
            color: #fff
            margin-bottom: 10px
        p
            @include adaptiv-value("font-size", 18, 15, 1)
            line-height: 1.3
            color: #fff
        &:not(:last-child)
            margin-bottom: 30px

#scandiluxsc .function-scandiluxsc
    @include adaptiv-value("padding-top", 50, 30, 1)
    padding-bottom: 30px
    &__title
        h2
            @include adaptiv-value("font-size", 50, 20, 1)
            line-height: 1.4
            text-align: center
            margin-bottom: 20px
    &__row
        max-width: 1230px
        margin: 0 auto
        display: flex
        justify-content: space-between
        gap: 15px
    &__item
        display: flex
        flex-direction: column
        align-items: center
        &_ps
            position: relative
            z-index: 2
            &::after, &::before
                content: ''
                background: url('https://cdn.comfy.ua/media/x/img3/1983464/img8.png') 0 0 no-repeat
                background-size: cover
                width: 184px
                height: 4px
                position: absolute
                z-index: 5
                top: 10%
            &::after
                right: -110px
            &::before
                left: -110px
    &__body
        max-width: 357px
        margin: 0 auto
    &__icon
    &__text
        padding-top: 10px
        h2
            @include adaptiv-value("font-size", 30, 18, 1)
            line-height: 1.4
            margin-bottom: 5px
            text-align: center
        p
            @include adaptiv-value("font-size", 18, 16, 1)
            line-height: 25px
            text-align: center

//===========MEDIA=============================================================================================================================================

    //@media screen and (max-width: 1300px)
@media screen and (max-width: 1130px)
    #scandiluxsc .header-scandiluxsc__box
        top: 59%
@media screen and (max-width: 1024.98px)
    #scandiluxsc .function-scandiluxsc__item_ps::before
        left: -60px
    #scandiluxsc .function-scandiluxsc__item_ps::after
        right: -60px
    #scandiluxsc .function-scandiluxsc__item_ps::after, #scandiluxsc .function-scandiluxsc__item_ps::before
        width: 140px
@media screen and (max-width: 991.98px)
    #scandiluxsc .header-scandiluxsc__box
        top: 47%
    #scandiluxsc .header-scandiluxsc__row
        padding-top: 50px
        grid-template-columns: 1fr 1fr
        max-width: 600px
    #scandiluxsc .function-scandiluxsc__item_ps::after, #scandiluxsc .function-scandiluxsc__item_ps::before
        top: 8%
    #scandiluxsc .mode-scandiluxsc__box
        max-width: 400px
        top: 5%
        left: 3%
@media screen and (max-width: 835px)
    #scandiluxsc .function-scandiluxsc__item_ps::after, #scandiluxsc .function-scandiluxsc__item_ps::before
        width: 110px
    #scandiluxsc .function-scandiluxsc__item_ps::after
        right: -66px
    #scandiluxsc .function-scandiluxsc__item_ps::before
        left: -66px
@media screen and (max-width: 767.98px)
    #scandiluxsc .header-scandiluxsc__row
        max-width: 500px
    #scandiluxsc .header-scandiluxsc__bg
        padding: 30px 20px
    #scandiluxsc .function-scandiluxsc__item_ps::after, #scandiluxsc .function-scandiluxsc__item_ps::before
        display: none
    #scandiluxsc .function-scandiluxsc__body
        max-width: 100%
    #scandiluxsc .function-scandiluxsc__row
        flex-direction: column
    #scandiluxsc .row-scandiluxsc__text
        width: auto
        margin-bottom: 15px
        h2,p
            text-align: center
    #scandiluxsc .row-scandiluxsc__inner
        flex-direction: column
    #scandiluxsc .mode-scandiluxsc__box
        position: unset
        max-width: 100%
        margin-bottom: 15px
    #scandiluxsc .mode-scandiluxsc__text
        h2,p
            text-align: center
            color: #000
        &:not(:last-child)
            margin-bottom: 15px
@media screen and (max-width: 600px)
    #scandiluxsc .header-scandiluxsc__box
        top: 39%
    #scandiluxsc .header-scandiluxsc__row
        grid-template-columns: 1fr
        justify-items: center
    #scandiluxsc .header-scandiluxsc__box
        top: 32%
    //@media screen and (max-width: 479.98px)
