//Адаптивное свойство
$maxWidth: 1920
$maxWidthContainer: 1536

@mixin adaptiv-value($property, $startSize, $minSize, $type)
    $addSize: $startSize - $minSize
    @if $type==1
        #{$property}: $startSize + px
        @media (max-width: #{$maxWidthContainer + px})
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}))

    @else if $type==2
        #{$property}: $startSize + px
        @media (min-width: #{$maxWidthContainer + px})
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}))

    @else
        #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}))

// html,
// body
//     height: 100%
//     min-width: 320px

// button
//     cursor: pointer
//     color: inherit
//     background-color: inherit

//========================================================================================================================================================

// [class*="-ibg"]
//     position: relative

// [class*="-ibg"] img
//     position: absolute
//     width: 100%
//     height: 100%
//     top: 0
//     left: 0
//     -o-object-fit: cover
//     object-fit: cover

// [class*="-ibg_contain"] img
//     -o-object-fit: contain
//     object-fit: contain

// #tefalgrill a
//     color: inherit
//     text-decoration: none

// #tefalgrill
//     ul,
//     ol,
//     li
//         list-style: none
//         padding: 0
//         margin: 0

#tefalgrill .bc-description__content p
    margin-bottom: 0

#tefalgrill .bc-description__content h3
    text-align: left

#tefalgrill
    h1, h2, h3, h4, h5, h6
        text-transform: none
        font-weight: bold

#tefalgrill
    // display: flex
    // flex-direction: column
    margin: 0 auto
    overflow: hidden
    background-color: #ffffff
    //box-sizing: border-box
    h1, h2, h3, h4, h5, h6, p
        margin: 0
        padding: 0
        text-align: left

#tefalgrill p::first-letter
    padding-left: 0

#tefalgrill img
    opacity: 1
    max-width: 100%
    display: block
    margin: 0 auto

#tefalgrill img:hover
    opacity: 1

#tefalgrill .tefalgrill__container
    max-width: 1536px
    margin: 0 auto
    // padding: 0 15px

//========================================================================================================================================================
#tefalgrill .tefalgrill__snoska
    padding: 15px
    p
        @include adaptiv-value("font-size", 20, 16, 1)
        &:not(:last-child)
            margin-bottom: 10px

#tefalgrill
    h2
        @include adaptiv-value("font-size", 42, 20, 1)
        line-height: 1.2
        margin-bottom: 15px
    p
        @include adaptiv-value("font-size", 30, 16, 1)
        line-height: 1.2

#tefalgrill .header-tefalgrill
    &__logo
        padding: 35px 35px 35px
        img
            margin: 0
    &__bg
        position: relative
        z-index: 2
    &__image
    &__box
        position: absolute
        z-index: 5
        top: calc(135 / 557 * 100%)
        right: calc(60 / 1536 * 100%)
        left: calc(800 / 1536 * 100%)
        display: flex
        flex-direction: column
        align-items: center
    &__title
        margin-bottom: 30px
        background-color: #dd1620
        display: inline-block
        padding: 20px
        border-radius: 25px 0px 25px 0px
        h2
            @include adaptiv-value("font-size", 41, 10, 1)
            line-height: 1
            text-transform: uppercase
            color: #ffffff
            text-align: center
            margin-bottom: 0
    &__text
        p
            @include adaptiv-value("font-size", 40, 8, 1)
            line-height: 1.2
            text-transform: uppercase
            text-align: center
            color: #ffffff

#tefalgrill .fry-tefalgrill
    &__box
        // max-width: 1330px
        // margin: 0 auto
        padding: 30px 15px
        box-sizing: border-box
        h2
            text-align: center
        p
            text-align: center
    &__bg
        background: url('https://cdn.comfy.ua/media/x/img3/2342919/img6.png') 0 0 no-repeat
        background-size: cover
        min-height: 659px
        display: flex
        align-items: center
        padding: 0 60px
    &__row
        display: flex
        align-items: center
        justify-content: space-between
        gap: 30px
    &__item
        position: relative
        z-index: 2
    &__text
        // width: 70%
        // margin: 0 auto
        p
            @include adaptiv-value("font-size", 45, 12, 1)
            text-align: center
            color: #ffffff
    &__icon
        position: absolute
        z-index: 5
        &_1
            top: -25px
            left: 0%
        &_2
            bottom: -25px
            right: 0%
    &__inner
        display: flex
        gap: 20px
    &__image

#tefalgrill .technology-tefalgrill
    &__text
        padding: 30px 15px
        h2,p
            text-align: center
    &__image

#tefalgrill .function-tefalgrill
    &__box
        padding: 30px 15px
        h2,p
            text-align: center
    &__row
    &__inner
        display: flex
        align-items: center
        &_rev
            flex-direction: row-reverse
    &__item
        flex: 0 1 58%
    &__text
        width: 85%
        margin: 0 auto
    &__image
        flex: 0 1 42%

#tefalgrill .gotovka-tefalgrill
    &__box
        padding: 30px 15px
        h2,p
            text-align: center
    &__bg
        background: url('https://cdn.comfy.ua/media/x/img3/2342919/img12.png') 0 0 no-repeat
        background-size: cover
        min-height: 659px
        padding: 20px 15px
        display: flex
        justify-content: center
        flex-direction: column
    &__col
        display: flex
        justify-content: center
        //flex-wrap: wrap
        gap: 20px
        &:not(:last-child)
            margin-bottom: 20px
    &__media
        position: relative
        z-index: 2
        padding-top: 10px
    &__image
    &__icon
        position: absolute
        z-index: 5
        top: 0
        right: 0
        left: 70%

#tefalgrill .footer-tefalgrill
    &__text
        padding: 30px 15px
        p
            @include adaptiv-value("font-size", 45, 20, 1)
            text-align: center
    &__image

//===========MEDIA=============================================================================================================================================
@media screen and (max-width: 1200px)
    #tefalgrill .fry-tefalgrill__bg
        min-height: 550px

@media screen and (max-width: 1024.98px)
    #tefalgrill .fry-tefalgrill__bg
        min-height: 500px
        padding: 0 30px
    #tefalgrill .gotovka-tefalgrill__col
        flex-wrap: wrap

@media screen and (max-width: 991.98px)
    #tefalgrill .header-tefalgrill__logo img
        width: 50%
    #tefalgrill .fry-tefalgrill__bg
        min-height: 450px
    #tefalgrill .fry-tefalgrill__icon
        img
            width: 70%
        &_1
            img
                margin: 0
        &_2
            img
                margin-right: 0
    #tefalgrill .fry-tefalgrill__inner
        gap: 10px

@media screen and (min-width: 767.98px)
    #tefalgrill .fry-tefalgrill__item
        flex: 0 1 416px
        box-sizing: border-box
    #tefalgrill .fry-tefalgrill__inner
        flex: 0 1 940px
        box-sizing: border-box

@media screen and (max-width: 855px)
    #tefalgrill .gotovka-tefalgrill__image
        img
            width: 200px

@media screen and (max-width: 767.98px)
    #tefalgrill .header-tefalgrill__box
        top: 10%
    #tefalgrill .header-tefalgrill__title
        padding: 15px
        margin-bottom: 20px
    #tefalgrill .header-tefalgrill__logo
        padding: 20px 15px
    #tefalgrill .fry-tefalgrill__row
        flex-direction: column
    #tefalgrill .fry-tefalgrill__bg
        padding: 50px 15px
    #tefalgrill .fry-tefalgrill__item
        padding: 20px 0
        width: 50%
    #tefalgrill .fry-tefalgrill__icon_1
        top: 0
    #tefalgrill .fry-tefalgrill__icon_2
        bottom: 0
    #tefalgrill .fry-tefalgrill__text p
        font-size: 25px
    #tefalgrill .fry-tefalgrill__icon img
        width: 60%
    #tefalgrill .function-tefalgrill__inner
        flex-direction: column
    #tefalgrill .function-tefalgrill__text
        padding: 10px 0 10px
        h2,p
            text-align: center
    #tefalgrill .gotovka-tefalgrill__image
        img
            width: 150px

@media screen and (max-width: 603px)
    #tefalgrill .gotovka-tefalgrill__image
        img
            width: 120px

@media screen and (max-width: 535px)
    #tefalgrill .fry-tefalgrill__bg
        padding: 30px 15px
    #tefalgrill .fry-tefalgrill__item
        width: 80%

@media screen and (max-width: 479.98px)
    #tefalgrill .header-tefalgrill__title
        margin-bottom: 10px
        padding: 12px 10px
        border-radius: 15px 0px 15px 0px
    #tefalgrill .header-tefalgrill__logo
        padding: 10px
    #tefalgrill .fry-tefalgrill__bg
        min-height: 346px
    #tefalgrill .fry-tefalgrill__box,
    #tefalgrill .technology-tefalgrill__text,
    #tefalgrill .function-tefalgrill__box,
    #tefalgrill .gotovka-tefalgrill__box,
    #tefalgrill .footer-tefalgrill__text
        padding: 20px 15px 15px
    #tefalgrill .function-tefalgrill__text
        width: auto
        padding: 10px 15px

@media screen and (max-width: 350px)
    #tefalgrill .header-tefalgrill__title
        padding: 8px
    #tefalgrill .fry-tefalgrill__bg
        padding: 15px
    #tefalgrill .fry-tefalgrill__text p
        font-size: 20px
