#tefalgrill .bc-description__content p {
  margin-bottom: 0;
}

#tefalgrill .bc-description__content h3 {
  text-align: left;
}

#tefalgrill h1, #tefalgrill h2, #tefalgrill h3, #tefalgrill h4, #tefalgrill h5, #tefalgrill h6 {
  text-transform: none;
  font-weight: bold;
}

#tefalgrill {
  margin: 0 auto;
  overflow: hidden;
  background-color: #ffffff;
}
#tefalgrill h1, #tefalgrill h2, #tefalgrill h3, #tefalgrill h4, #tefalgrill h5, #tefalgrill h6, #tefalgrill p {
  margin: 0;
  padding: 0;
  text-align: left;
}

#tefalgrill p::first-letter {
  padding-left: 0;
}

#tefalgrill img {
  opacity: 1;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#tefalgrill img:hover {
  opacity: 1;
}

#tefalgrill .tefalgrill__container {
  max-width: 1536px;
  margin: 0 auto;
}

#tefalgrill .tefalgrill__snoska {
  padding: 15px;
}
#tefalgrill .tefalgrill__snoska p {
  font-size: 20px;
}
@media (max-width: 1536px) {
  #tefalgrill .tefalgrill__snoska p {
    font-size: -webkit-calc(16px + 4 * ((100vw - 320px) / 1216));
    font-size: calc(16px + 4 * ((100vw - 320px) / 1216));
  }
}
#tefalgrill .tefalgrill__snoska p:not(:last-child) {
  margin-bottom: 10px;
}

#tefalgrill h2 {
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 15px;
}
@media (max-width: 1536px) {
  #tefalgrill h2 {
    font-size: -webkit-calc(20px + 22 * ((100vw - 320px) / 1216));
    font-size: calc(20px + 22 * ((100vw - 320px) / 1216));
  }
}
#tefalgrill p {
  font-size: 30px;
  line-height: 1.2;
}
@media (max-width: 1536px) {
  #tefalgrill p {
    font-size: -webkit-calc(16px + 14 * ((100vw - 320px) / 1216));
    font-size: calc(16px + 14 * ((100vw - 320px) / 1216));
  }
}

#tefalgrill .header-tefalgrill__logo {
  padding: 35px 35px 35px;
}
#tefalgrill .header-tefalgrill__logo img {
  margin: 0;
}
#tefalgrill .header-tefalgrill__bg {
  position: relative;
  z-index: 2;
}
#tefalgrill .header-tefalgrill__box {
  position: absolute;
  z-index: 5;
  top: 24.236983842%;
  right: 3.90625%;
  left: 52.0833333333%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#tefalgrill .header-tefalgrill__title {
  margin-bottom: 30px;
  background-color: #dd1620;
  display: inline-block;
  padding: 20px;
  -webkit-border-radius: 25px 0px 25px 0px;
          border-radius: 25px 0px 25px 0px;
}
#tefalgrill .header-tefalgrill__title h2 {
  font-size: 41px;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin-bottom: 0;
}
@media (max-width: 1536px) {
  #tefalgrill .header-tefalgrill__title h2 {
    font-size: -webkit-calc(10px + 31 * ((100vw - 320px) / 1216));
    font-size: calc(10px + 31 * ((100vw - 320px) / 1216));
  }
}
#tefalgrill .header-tefalgrill__text p {
  font-size: 40px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
@media (max-width: 1536px) {
  #tefalgrill .header-tefalgrill__text p {
    font-size: -webkit-calc(8px + 32 * ((100vw - 320px) / 1216));
    font-size: calc(8px + 32 * ((100vw - 320px) / 1216));
  }
}

#tefalgrill .fry-tefalgrill__box {
  padding: 30px 15px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#tefalgrill .fry-tefalgrill__box h2 {
  text-align: center;
}
#tefalgrill .fry-tefalgrill__box p {
  text-align: center;
}
#tefalgrill .fry-tefalgrill__bg {
  background: url("https://cdn.comfy.ua/media/x/img3/2342919/img6.png") 0 0 no-repeat;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  min-height: 659px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 60px;
}
#tefalgrill .fry-tefalgrill__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
#tefalgrill .fry-tefalgrill__item {
  position: relative;
  z-index: 2;
}
#tefalgrill .fry-tefalgrill__text p {
  font-size: 45px;
  text-align: center;
  color: #ffffff;
}
@media (max-width: 1536px) {
  #tefalgrill .fry-tefalgrill__text p {
    font-size: -webkit-calc(12px + 33 * ((100vw - 320px) / 1216));
    font-size: calc(12px + 33 * ((100vw - 320px) / 1216));
  }
}
#tefalgrill .fry-tefalgrill__icon {
  position: absolute;
  z-index: 5;
}
#tefalgrill .fry-tefalgrill__icon_1 {
  top: -25px;
  left: 0%;
}
#tefalgrill .fry-tefalgrill__icon_2 {
  bottom: -25px;
  right: 0%;
}
#tefalgrill .fry-tefalgrill__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
#tefalgrill .technology-tefalgrill__text {
  padding: 30px 15px;
}
#tefalgrill .technology-tefalgrill__text h2, #tefalgrill .technology-tefalgrill__text p {
  text-align: center;
}
#tefalgrill .function-tefalgrill__box {
  padding: 30px 15px;
}
#tefalgrill .function-tefalgrill__box h2, #tefalgrill .function-tefalgrill__box p {
  text-align: center;
}
#tefalgrill .function-tefalgrill__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#tefalgrill .function-tefalgrill__inner_rev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
#tefalgrill .function-tefalgrill__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 58%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 58%;
          flex: 0 1 58%;
}
#tefalgrill .function-tefalgrill__text {
  width: 85%;
  margin: 0 auto;
}
#tefalgrill .function-tefalgrill__image {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 42%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 42%;
          flex: 0 1 42%;
}

#tefalgrill .gotovka-tefalgrill__box {
  padding: 30px 15px;
}
#tefalgrill .gotovka-tefalgrill__box h2, #tefalgrill .gotovka-tefalgrill__box p {
  text-align: center;
}
#tefalgrill .gotovka-tefalgrill__bg {
  background: url("https://cdn.comfy.ua/media/x/img3/2342919/img12.png") 0 0 no-repeat;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  min-height: 659px;
  padding: 20px 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#tefalgrill .gotovka-tefalgrill__col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
#tefalgrill .gotovka-tefalgrill__col:not(:last-child) {
  margin-bottom: 20px;
}
#tefalgrill .gotovka-tefalgrill__media {
  position: relative;
  z-index: 2;
  padding-top: 10px;
}
#tefalgrill .gotovka-tefalgrill__icon {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  left: 70%;
}

#tefalgrill .footer-tefalgrill__text {
  padding: 30px 15px;
}
#tefalgrill .footer-tefalgrill__text p {
  font-size: 45px;
  text-align: center;
}
@media (max-width: 1536px) {
  #tefalgrill .footer-tefalgrill__text p {
    font-size: -webkit-calc(20px + 25 * ((100vw - 320px) / 1216));
    font-size: calc(20px + 25 * ((100vw - 320px) / 1216));
  }
}
@media screen and (max-width: 1200px) {
  #tefalgrill .fry-tefalgrill__bg {
    min-height: 550px;
  }
}
@media screen and (max-width: 1024.98px) {
  #tefalgrill .fry-tefalgrill__bg {
    min-height: 500px;
    padding: 0 30px;
  }
  #tefalgrill .gotovka-tefalgrill__col {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}
@media screen and (max-width: 991.98px) {
  #tefalgrill .header-tefalgrill__logo img {
    width: 50%;
  }
  #tefalgrill .fry-tefalgrill__bg {
    min-height: 450px;
  }
  #tefalgrill .fry-tefalgrill__icon img {
    width: 70%;
  }
  #tefalgrill .fry-tefalgrill__icon_1 img {
    margin: 0;
  }
  #tefalgrill .fry-tefalgrill__icon_2 img {
    margin-right: 0;
  }
  #tefalgrill .fry-tefalgrill__inner {
    gap: 10px;
  }
}
@media screen and (min-width: 767.98px) {
  #tefalgrill .fry-tefalgrill__item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 416px;
       -moz-box-flex: 0;
        -ms-flex: 0 1 416px;
            flex: 0 1 416px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  #tefalgrill .fry-tefalgrill__inner {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 940px;
       -moz-box-flex: 0;
        -ms-flex: 0 1 940px;
            flex: 0 1 940px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
}
@media screen and (max-width: 855px) {
  #tefalgrill .gotovka-tefalgrill__image img {
    width: 200px;
  }
}
@media screen and (max-width: 767.98px) {
  #tefalgrill .header-tefalgrill__box {
    top: 10%;
  }
  #tefalgrill .header-tefalgrill__title {
    padding: 15px;
    margin-bottom: 20px;
  }
  #tefalgrill .header-tefalgrill__logo {
    padding: 20px 15px;
  }
  #tefalgrill .fry-tefalgrill__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #tefalgrill .fry-tefalgrill__bg {
    padding: 50px 15px;
  }
  #tefalgrill .fry-tefalgrill__item {
    padding: 20px 0;
    width: 50%;
  }
  #tefalgrill .fry-tefalgrill__icon_1 {
    top: 0;
  }
  #tefalgrill .fry-tefalgrill__icon_2 {
    bottom: 0;
  }
  #tefalgrill .fry-tefalgrill__text p {
    font-size: 25px;
  }
  #tefalgrill .fry-tefalgrill__icon img {
    width: 60%;
  }
  #tefalgrill .function-tefalgrill__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #tefalgrill .function-tefalgrill__text {
    padding: 10px 0 10px;
  }
  #tefalgrill .function-tefalgrill__text h2, #tefalgrill .function-tefalgrill__text p {
    text-align: center;
  }
  #tefalgrill .gotovka-tefalgrill__image img {
    width: 150px;
  }
}
@media screen and (max-width: 603px) {
  #tefalgrill .gotovka-tefalgrill__image img {
    width: 120px;
  }
}
@media screen and (max-width: 535px) {
  #tefalgrill .fry-tefalgrill__bg {
    padding: 30px 15px;
  }
  #tefalgrill .fry-tefalgrill__item {
    width: 80%;
  }
}
@media screen and (max-width: 479.98px) {
  #tefalgrill .header-tefalgrill__title {
    margin-bottom: 10px;
    padding: 12px 10px;
    -webkit-border-radius: 15px 0px 15px 0px;
            border-radius: 15px 0px 15px 0px;
  }
  #tefalgrill .header-tefalgrill__logo {
    padding: 10px;
  }
  #tefalgrill .fry-tefalgrill__bg {
    min-height: 346px;
  }
  #tefalgrill .fry-tefalgrill__box,
  #tefalgrill .technology-tefalgrill__text,
  #tefalgrill .function-tefalgrill__box,
  #tefalgrill .gotovka-tefalgrill__box,
  #tefalgrill .footer-tefalgrill__text {
    padding: 20px 15px 15px;
  }
  #tefalgrill .function-tefalgrill__text {
    width: auto;
    padding: 10px 15px;
  }
}
@media screen and (max-width: 350px) {
  #tefalgrill .header-tefalgrill__title {
    padding: 8px;
  }
  #tefalgrill .fry-tefalgrill__bg {
    padding: 15px;
  }
  #tefalgrill .fry-tefalgrill__text p {
    font-size: 20px;
  }
}/*# sourceMappingURL=style.css.map */