html,
body {
  height: 100%;
  min-width: 320px;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

#boschmsm a {
  color: inherit;
  text-decoration: none;
}

#boschmsm ul,
#boschmsm ol,
#boschmsm li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#boschmsm .bc-description__content p {
  margin-bottom: 0;
}

#boschmsm .bc-description__content h3 {
  text-align: left;
}

#boschmsm h1, #boschmsm h2, #boschmsm h3, #boschmsm h4, #boschmsm h5, #boschmsm h6 {
  text-transform: none;
  font-weight: bold;
}

#boschmsm {
  margin: 0 auto;
  overflow: hidden;
  background-color: #ffffff;
}
#boschmsm h1, #boschmsm h2, #boschmsm h3, #boschmsm h4, #boschmsm h5, #boschmsm h6, #boschmsm p {
  margin: 0;
  padding: 0;
  text-align: left;
}

#boschmsm p::first-letter {
  padding-left: 0;
}

#boschmsm img {
  opacity: 1;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#boschmsm img:hover {
  opacity: 1;
}

#boschmsm .boschmsm__container {
  max-width: 1000px;
  margin: 0 auto;
}

#boschmsm .header-boschmsm {
  padding-top: 20px;
}
#boschmsm .header-boschmsm__bg {
  position: relative;
  z-index: 2;
}
#boschmsm .header-boschmsm__text {
  position: absolute;
  z-index: 5;
  top: 26%;
  right: 2%;
  left: 50%;
  width: 50%;
}
#boschmsm .header-boschmsm__text h2 {
  font-size: 32px;
  line-height: 1.2;
  text-align: center;
}
@media (max-width: 1000px) {
  #boschmsm .header-boschmsm__text h2 {
    font-size: -webkit-calc(18px + 14 * ((100vw - 320px) / 680));
    font-size: calc(18px + 14 * ((100vw - 320px) / 680));
  }
}
#boschmsm .header-boschmsm__image {
  max-width: 800px;
  padding-right: 100px;
}
#boschmsm .header-boschmsm__image img {
  margin: 0;
}
#boschmsm .header-boschmsm__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
}
#boschmsm .header-boschmsm__snoska span {
  font-size: 13px;
  line-height: 1.2;
}
#boschmsm .header-boschmsm__logo img {
  width: 100px;
}

#boschmsm .power-boschmsm__bg {
  position: relative;
  z-index: 2;
}
#boschmsm .power-boschmsm__text {
  position: absolute;
  z-index: 5;
  top: 2%;
  left: 6%;
  right: 0;
  width: 35%;
  margin: 0 auto;
}
#boschmsm .power-boschmsm__text p {
  font-size: 22px;
  line-height: 1.2;
  text-align: center;
}
@media (max-width: 1000px) {
  #boschmsm .power-boschmsm__text p {
    font-size: -webkit-calc(16px + 6 * ((100vw - 320px) / 680));
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
#boschmsm .frame-boschmsm__bg {
  position: relative;
  z-index: 2;
}
#boschmsm .frame-boschmsm__item {
  position: absolute;
  z-index: 5;
}
#boschmsm .frame-boschmsm__item p {
  font-size: 22px;
  line-height: 1.2;
  font-weight: bold;
}
@media (max-width: 1000px) {
  #boschmsm .frame-boschmsm__item p {
    font-size: -webkit-calc(15px + 7 * ((100vw - 320px) / 680));
    font-size: calc(15px + 7 * ((100vw - 320px) / 680));
  }
}
#boschmsm .frame-boschmsm__item_1 {
  top: 16%;
  left: 1%;
}
#boschmsm .frame-boschmsm__item_2 {
  top: 17%;
  left: 40%;
  right: 20%;
}
#boschmsm .frame-boschmsm__item_3 {
  top: 47%;
  left: 1%;
  width: 30%;
}
#boschmsm .frame-boschmsm__item_4 {
  top: 85%;
  left: 31%;
}
#boschmsm .blade-boschmsm__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 800px;
}
#boschmsm .blade-boschmsm__row_1 {
  margin-left: auto;
  margin-bottom: 15px;
}
#boschmsm .blade-boschmsm__image {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
#boschmsm .blade-boschmsm__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
#boschmsm .blade-boschmsm__text {
  width: 90%;
  margin: 0 auto;
}
#boschmsm .blade-boschmsm__text h2 {
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 10px;
  text-align: center;
}
@media (max-width: 1000px) {
  #boschmsm .blade-boschmsm__text h2 {
    font-size: -webkit-calc(18px + 10 * ((100vw - 320px) / 680));
    font-size: calc(18px + 10 * ((100vw - 320px) / 680));
  }
}
#boschmsm .blade-boschmsm__text p {
  font-size: 22px;
  line-height: 1.2;
  text-align: center;
}
@media (max-width: 1000px) {
  #boschmsm .blade-boschmsm__text p {
    font-size: -webkit-calc(16px + 6 * ((100vw - 320px) / 680));
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
#boschmsm .blade-boschmsm__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 20px;
}
#boschmsm .blade-boschmsm__snoska span {
  font-size: 13px;
  line-height: 1.2;
}
#boschmsm .blade-boschmsm__logo img {
  width: 100px;
}

#boschmsm .ceramic-boschmsm__bg {
  position: relative;
  z-index: 2;
}
#boschmsm .ceramic-boschmsm__icon {
  position: absolute;
  z-index: 5;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 35%;
  right: 45%;
}
#boschmsm .ceramic-boschmsm__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
#boschmsm .ceramic-boschmsm__image {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
#boschmsm .ceramic-boschmsm__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  background: url("https://cdn.comfy.ua/media/x/img3/2620570/img8.jpg") 0 0 no-repeat;
  -webkit-background-size: contain;
       -o-background-size: contain;
          background-size: contain;
}
#boschmsm .ceramic-boschmsm__title h2 {
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}
@media (max-width: 1000px) {
  #boschmsm .ceramic-boschmsm__title h2 {
    font-size: -webkit-calc(18px + 10 * ((100vw - 320px) / 680));
    font-size: calc(18px + 10 * ((100vw - 320px) / 680));
  }
}
#boschmsm .ceramic-boschmsm__text {
  width: 58%;
}
#boschmsm .ceramic-boschmsm__text p {
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}
@media (max-width: 1000px) {
  #boschmsm .ceramic-boschmsm__text p {
    font-size: -webkit-calc(16px + 4 * ((100vw - 320px) / 680));
    font-size: calc(16px + 4 * ((100vw - 320px) / 680));
  }
}
#boschmsm .ceramic-boschmsm__text_1 {
  margin-left: auto;
  padding-right: 15px;
}
#boschmsm .ceramic-boschmsm__text_2 {
  padding-left: 30px;
  padding-top: 10px;
}

#boschmsm .accessories-boschmsm__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 7px;
}
#boschmsm .accessories-boschmsm__image {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
#boschmsm .accessories-boschmsm__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  background: url("https://cdn.comfy.ua/media/x/img3/2620570/img8.jpg") 0 0 no-repeat;
  -webkit-background-size: contain;
       -o-background-size: contain;
          background-size: contain;
}
#boschmsm .accessories-boschmsm__text {
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
}
#boschmsm .accessories-boschmsm__text h2 {
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 10px;
  text-align: center;
}
@media (max-width: 1000px) {
  #boschmsm .accessories-boschmsm__text h2 {
    font-size: -webkit-calc(18px + 10 * ((100vw - 320px) / 680));
    font-size: calc(18px + 10 * ((100vw - 320px) / 680));
  }
}
#boschmsm .accessories-boschmsm__text p {
  font-size: 22px;
  line-height: 1.2;
  text-align: center;
}
@media (max-width: 1000px) {
  #boschmsm .accessories-boschmsm__text p {
    font-size: -webkit-calc(16px + 6 * ((100vw - 320px) / 680));
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}

#boschmsm .speed-boschmsm__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
#boschmsm .speed-boschmsm__image {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
#boschmsm .speed-boschmsm__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  position: relative;
  z-index: 2;
}
#boschmsm .speed-boschmsm__title {
  padding: 15px;
}
#boschmsm .speed-boschmsm__title h2 {
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 10px;
  text-align: center;
}
@media (max-width: 1000px) {
  #boschmsm .speed-boschmsm__title h2 {
    font-size: -webkit-calc(18px + 10 * ((100vw - 320px) / 680));
    font-size: calc(18px + 10 * ((100vw - 320px) / 680));
  }
}
#boschmsm .speed-boschmsm__text {
  width: 55%;
  padding: 0 15px;
}
#boschmsm .speed-boschmsm__text:not(:last-child) {
  margin-bottom: 20px;
}
#boschmsm .speed-boschmsm__text_1 {
  margin-left: auto;
}
#boschmsm .speed-boschmsm__text p {
  font-size: 22px;
  line-height: 1.2;
  text-align: center;
}
@media (max-width: 1000px) {
  #boschmsm .speed-boschmsm__text p {
    font-size: -webkit-calc(16px + 6 * ((100vw - 320px) / 680));
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
#boschmsm .speed-boschmsm__logo {
  position: absolute;
  z-index: 5;
  bottom: 0;
  right: 0;
}
#boschmsm .speed-boschmsm__logo img {
  width: 100px;
}

#boschmsm .acces-boschmsm__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
#boschmsm .acces-boschmsm__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 30%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#boschmsm .acces-boschmsm__text {
  width: 90%;
  margin: 0 auto;
}
#boschmsm .acces-boschmsm__text p {
  font-size: 22px;
  line-height: 1.2;
  font-weight: bold;
}
@media (max-width: 1000px) {
  #boschmsm .acces-boschmsm__text p {
    font-size: -webkit-calc(16px + 6 * ((100vw - 320px) / 680));
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
#boschmsm .acces-boschmsm__image {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 70%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
}
#boschmsm .acces-boschmsm__snoska h2 {
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  padding: 15px;
}
@media (max-width: 1000px) {
  #boschmsm .acces-boschmsm__snoska h2 {
    font-size: -webkit-calc(18px + 10 * ((100vw - 320px) / 680));
    font-size: calc(18px + 10 * ((100vw - 320px) / 680));
  }
}
#boschmsm .acces-boschmsm__logo {
  position: absolute;
  z-index: 5;
  bottom: 0;
  right: 0;
}
#boschmsm .acces-boschmsm__logo img {
  width: 100px;
}

#boschmsm .wash-boschmsm__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}
#boschmsm .wash-boschmsm__image {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
#boschmsm .wash-boschmsm__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#boschmsm .wash-boschmsm__text {
  width: 80%;
  margin: 0 auto;
}
#boschmsm .wash-boschmsm__text h2 {
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 10px;
  text-align: center;
}
@media (max-width: 1000px) {
  #boschmsm .wash-boschmsm__text h2 {
    font-size: -webkit-calc(18px + 10 * ((100vw - 320px) / 680));
    font-size: calc(18px + 10 * ((100vw - 320px) / 680));
  }
}
#boschmsm .wash-boschmsm__text p {
  font-size: 22px;
  line-height: 1.2;
  text-align: center;
}
@media (max-width: 1000px) {
  #boschmsm .wash-boschmsm__text p {
    font-size: -webkit-calc(16px + 6 * ((100vw - 320px) / 680));
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
#boschmsm .wash-boschmsm__text p:not(:last-child) {
  margin-bottom: 10px;
}
#boschmsm .wash-boschmsm__logo {
  position: absolute;
  z-index: 5;
  bottom: 0;
  right: 0;
}
#boschmsm .wash-boschmsm__logo img {
  width: 100px;
}

#boschmsm .footer-boschmsm {
  padding-bottom: 50px;
  position: relative;
  z-index: 2;
}
#boschmsm .footer-boschmsm__image {
  max-width: 700px;
  margin: 0 auto;
}
#boschmsm .footer-boschmsm__text {
  width: 75%;
  margin: 0 auto;
  padding: 20px 15px 0;
}
#boschmsm .footer-boschmsm__text h2 {
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 10px;
  text-align: center;
}
@media (max-width: 1000px) {
  #boschmsm .footer-boschmsm__text h2 {
    font-size: -webkit-calc(18px + 10 * ((100vw - 320px) / 680));
    font-size: calc(18px + 10 * ((100vw - 320px) / 680));
  }
}
#boschmsm .footer-boschmsm__text p {
  font-size: 22px;
  line-height: 1.2;
  text-align: center;
}
@media (max-width: 1000px) {
  #boschmsm .footer-boschmsm__text p {
    font-size: -webkit-calc(16px + 6 * ((100vw - 320px) / 680));
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
#boschmsm .footer-boschmsm__logo {
  position: absolute;
  z-index: 5;
  bottom: 0;
  right: 0;
}
#boschmsm .footer-boschmsm__logo img {
  width: 100px;
}

@media screen and (max-width: 991.98px) {
  #boschmsm .header-boschmsm__text {
    left: 43%;
    width: 56%;
  }
  #boschmsm .ceramic-boschmsm__text {
    width: 70%;
  }
  #boschmsm .speed-boschmsm__text {
    width: 70%;
  }
}
@media screen and (max-width: 841px) {
  #boschmsm .ceramic-boschmsm__text {
    width: 80%;
  }
}
@media screen and (max-width: 767.98px) {
  #boschmsm .frame-boschmsm__item_3 {
    width: 25%;
  }
  #boschmsm .power-boschmsm__text {
    width: 60%;
  }
  #boschmsm .frame-boschmsm__item_4 {
    left: 28%;
  }
  #boschmsm .ceramic-boschmsm__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #boschmsm .ceramic-boschmsm__item {
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    padding: 20px 0;
  }
  #boschmsm .ceramic-boschmsm__text {
    width: auto;
    padding: 0 15px;
  }
  #boschmsm .ceramic-boschmsm__text:not(:last-child) {
    margin-bottom: 15px;
  }
  #boschmsm .ceramic-boschmsm__icon {
    top: 55%;
    left: 63%;
    right: 3%;
  }
  #boschmsm .speed-boschmsm__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #boschmsm .speed-boschmsm__text {
    width: auto;
  }
  #boschmsm .speed-boschmsm__item {
    padding-bottom: 30px;
  }
  #boschmsm .acces-boschmsm__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px;
  }
  #boschmsm .acces-boschmsm__item_1 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
       -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #boschmsm .acces-boschmsm__image_1 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
       -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #boschmsm .acces-boschmsm__text {
    width: auto;
  }
  #boschmsm .acces-boschmsm__text p {
    text-align: center;
  }
  #boschmsm .wash-boschmsm__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 10px;
  }
  #boschmsm .wash-boschmsm__text {
    width: auto;
    padding: -15px;
  }
  #boschmsm .acces-boschmsm {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #boschmsm .acces-boschmsm__snoska {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
       -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #boschmsm .acces-boschmsm__row {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
       -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media screen and (max-width: 626px) {
  #boschmsm .frame-boschmsm__item_2 {
    top: 9%;
  }
  #boschmsm .frame-boschmsm__item_3 {
    top: 42%;
  }
  #boschmsm .frame-boschmsm__item_4 {
    left: 26%;
    top: 87%;
  }
  #boschmsm .ceramic-boschmsm__icon {
    top: 60%;
  }
  #boschmsm .accessories-boschmsm__text {
    width: 90%;
    padding-top: 20px;
  }
}
@media screen and (max-width: 479.98px) {
  #boschmsm .header-boschmsm__text {
    position: unset;
    width: auto;
    padding: 0 15px;
    margin-bottom: 10px;
  }
  #boschmsm .header-boschmsm__image {
    max-width: 100%;
    padding-right: 0;
  }
  #boschmsm .power-boschmsm__text {
    position: unset;
    padding: 15px 10px 10px;
    width: auto;
  }
  #boschmsm .frame-boschmsm__item_2 {
    top: 8%;
    left: 34%;
  }
  #boschmsm .frame-boschmsm__item_3 {
    top: 53%;
  }
  #boschmsm .frame-boschmsm__item_4 {
    left: 22%;
    top: 88%;
  }
  #boschmsm .blade-boschmsm__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #boschmsm .blade-boschmsm__text {
    width: auto;
    padding: 20px 15px 0px;
  }
  #boschmsm .ceramic-boschmsm__icon {
    top: 70%;
  }
  #boschmsm .accessories-boschmsm__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #boschmsm .accessories-boschmsm__item {
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    padding: 20px 0;
  }
  #boschmsm .accessories-boschmsm__text {
    width: auto;
    padding: 0 15px;
  }
  #boschmsm .footer-boschmsm__text {
    width: auto;
  }
}/*# sourceMappingURL=style.css.map */