/* ------------------ */
#xiaomi13lite a {
  color: inherit;
  text-decoration: none;
}

#xiaomi13lite ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#xiaomi13lite .bc-description__content p {
  margin-bottom: 0;
}

#xiaomi13lite .bc-description__content h3 {
  text-align: left;
}

#xiaomi13lite p {
  margin: 0;
  padding: 0;
  text-align: left;
}

#xiaomi13lite h1,
#xiaomi13lite h2,
#xiaomi13lite h3,
#xiaomi13lite h4,
#xiaomi13lite h5,
#xiaomi13lite h6 {
  padding: 0;
  margin: 0;
  text-align: left;
  text-transform: none;
  font-weight: bold;
}

#xiaomi13lite {
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #ffffff;
}

#xiaomi13lite p::first-letter {
  padding-left: 0;
}

[class*=__container] {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

#xiaomi13lite img {
  opacity: 1;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#xiaomi13lite img:hover {
  opacity: 1;
}

#xiaomi13lite .header-xiaomi13lite {
  padding-top: 30px;
}
#xiaomi13lite .header-xiaomi13lite__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
#xiaomi13lite .header-xiaomi13lite__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 30%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  margin-left: -100px;
  position: relative;
  z-index: 5;
}
#xiaomi13lite .header-xiaomi13lite__text h2 {
  font-size: -webkit-calc(20px + 40 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(20px + 40 * ((100vw - 320px) / 1600));
  font-size: calc(20px + 40 * ((100vw - 320px) / 1600));
  line-height: 1.2;
  margin-bottom: 10px;
  text-align: center;
}
#xiaomi13lite .header-xiaomi13lite__text span {
  display: block;
  font-size: -webkit-calc(18px + 27 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(18px + 27 * ((100vw - 320px) / 1600));
  font-size: calc(18px + 27 * ((100vw - 320px) / 1600));
  line-height: 1.2;
  margin-bottom: 10px;
  text-align: center;
}
#xiaomi13lite .header-xiaomi13lite__text p {
  font-size: -webkit-calc(16px + 4 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(16px + 4 * ((100vw - 320px) / 1600));
  font-size: calc(16px + 4 * ((100vw - 320px) / 1600));
  line-height: 1.2;
  text-align: center;
  color: #898989;
}
#xiaomi13lite .header-xiaomi13lite__text p:not(:last-child) {
  margin-bottom: -webkit-calc(5px + 5 * ((100vw - 320px) / 1600));
  margin-bottom: -moz-calc(5px + 5 * ((100vw - 320px) / 1600));
  margin-bottom: calc(5px + 5 * ((100vw - 320px) / 1600));
}
#xiaomi13lite .header-xiaomi13lite__image {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 70%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
  position: relative;
  z-index: 1;
}
#xiaomi13lite .header-xiaomi13lite__image img {
  margin: 0;
}

#xiaomi13lite .ultra-xiaomi13lite__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  z-index: 2;
}
#xiaomi13lite .ultra-xiaomi13lite__item {
  position: absolute;
  z-index: 5;
  top: 8%;
  left: 8%;
}
#xiaomi13lite .ultra-xiaomi13lite__body {
  max-width: 700px;
}
#xiaomi13lite .ultra-xiaomi13lite__text h2 {
  font-size: -webkit-calc(20px + 36 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(20px + 36 * ((100vw - 320px) / 1600));
  font-size: calc(20px + 36 * ((100vw - 320px) / 1600));
  line-height: 1.2;
  margin-bottom: 10px;
}
#xiaomi13lite .ultra-xiaomi13lite__text p {
  font-size: -webkit-calc(16px + 10 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(16px + 10 * ((100vw - 320px) / 1600));
  font-size: calc(16px + 10 * ((100vw - 320px) / 1600));
  line-height: 1.2;
}
#xiaomi13lite .ultra-xiaomi13lite__list {
  padding-top: 100px;
}
#xiaomi13lite .ultra-xiaomi13lite__list-item:not(:last-child) {
  margin-bottom: 30px;
  padding-bottom: 30px;
  position: relative;
  z-index: 2;
}
#xiaomi13lite .ultra-xiaomi13lite__list-item:not(:last-child)::after {
  content: "";
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 0;
  width: 70px;
  height: 2px;
  background-color: #898989;
}
#xiaomi13lite .ultra-xiaomi13lite__list-item h4 {
  font-size: -webkit-calc(13px + 15 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(13px + 15 * ((100vw - 320px) / 1600));
  font-size: calc(13px + 15 * ((100vw - 320px) / 1600));
  line-height: 1.2;
  font-weight: normal;
  margin-bottom: 8px;
}
#xiaomi13lite .ultra-xiaomi13lite__list-item p {
  font-size: -webkit-calc(15px + 35 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(15px + 35 * ((100vw - 320px) / 1600));
  font-size: calc(15px + 35 * ((100vw - 320px) / 1600));
  line-height: 1.2;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  background: -webkit-linear-gradient(115deg, #aed5ee, #81bbe7);
  background: -moz-linear-gradient(115deg, #aed5ee, #81bbe7);
  background: -o-linear-gradient(115deg, #aed5ee, #81bbe7);
  background: linear-gradient(-25deg, #aed5ee, #81bbe7);
  -webkit-background-clip: text;
  background-clip: text;
}
#xiaomi13lite .ultra-xiaomi13lite__image {
  padding-left: 560px;
}

#xiaomi13lite .dual-xiaomi13lite__bg {
  background-color: #000;
  padding: 60px 15px 0;
}
#xiaomi13lite .dual-xiaomi13lite__box h2 {
  font-size: -webkit-calc(20px + 36 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(20px + 36 * ((100vw - 320px) / 1600));
  font-size: calc(20px + 36 * ((100vw - 320px) / 1600));
  line-height: 1.2;
  margin-bottom: 10px;
  color: #fff;
  text-align: center;
}
#xiaomi13lite .dual-xiaomi13lite__box p {
  font-size: -webkit-calc(16px + 10 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(16px + 10 * ((100vw - 320px) / 1600));
  font-size: calc(16px + 10 * ((100vw - 320px) / 1600));
  line-height: 1.2;
  color: #fff;
  text-align: center;
}
#xiaomi13lite .dual-xiaomi13lite__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 80px;
}
#xiaomi13lite .dual-xiaomi13lite__col {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 33.3333%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 33.3333%;
          flex: 0 1 33.3333%;
}
#xiaomi13lite .dual-xiaomi13lite__col_3 {
  -webkit-align-self: start;
      -ms-flex-item-align: start;
          align-self: start;
}
#xiaomi13lite .dual-xiaomi13lite__item {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 40px;
}
#xiaomi13lite .dual-xiaomi13lite__text h2 {
  font-size: -webkit-calc(16px + 14 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(16px + 14 * ((100vw - 320px) / 1600));
  font-size: calc(16px + 14 * ((100vw - 320px) / 1600));
  line-height: 1.2;
  margin-bottom: 10px;
  color: #fff;
}
#xiaomi13lite .dual-xiaomi13lite__text p {
  font-size: -webkit-calc(15px + 9 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(15px + 9 * ((100vw - 320px) / 1600));
  font-size: calc(15px + 9 * ((100vw - 320px) / 1600));
  line-height: 1.2;
  color: #fff;
}
#xiaomi13lite .bright-xiaomi13lite {
  padding-top: -webkit-calc(20px + 30 * ((100vw - 320px) / 1600));
  padding-top: -moz-calc(20px + 30 * ((100vw - 320px) / 1600));
  padding-top: calc(20px + 30 * ((100vw - 320px) / 1600));
}
#xiaomi13lite .bright-xiaomi13lite__body {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 15px;
}
#xiaomi13lite .bright-xiaomi13lite__title {
  width: 80%;
  margin-bottom: 20px;
}
#xiaomi13lite .bright-xiaomi13lite__title h2 {
  font-size: -webkit-calc(20px + 36 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(20px + 36 * ((100vw - 320px) / 1600));
  font-size: calc(20px + 36 * ((100vw - 320px) / 1600));
  line-height: 1.2;
  margin-bottom: 10px;
}
#xiaomi13lite .bright-xiaomi13lite__title p {
  font-size: -webkit-calc(16px + 10 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(16px + 10 * ((100vw - 320px) / 1600));
  font-size: calc(16px + 10 * ((100vw - 320px) / 1600));
  line-height: 1.2;
}
#xiaomi13lite .bright-xiaomi13lite__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
#xiaomi13lite .bright-xiaomi13lite__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  position: relative;
  z-index: 2;
}
#xiaomi13lite .bright-xiaomi13lite__text {
  position: absolute;
  z-index: 5;
  bottom: 4%;
  left: 6%;
}
#xiaomi13lite .bright-xiaomi13lite__text p {
  color: #fff;
  font-size: -webkit-calc(20px + 30 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(20px + 30 * ((100vw - 320px) / 1600));
  font-size: calc(20px + 30 * ((100vw - 320px) / 1600));
  line-height: 1.2;
}

#xiaomi13lite .dynamic-xiaomi13lite__bg {
  background-color: #f2f2f2;
  padding: 100px 15px;
}
#xiaomi13lite .dynamic-xiaomi13lite__row {
  max-width: 1500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
#xiaomi13lite .dynamic-xiaomi13lite__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
#xiaomi13lite .dynamic-xiaomi13lite__text {
  padding-bottom: -webkit-calc(50px + 150 * ((100vw - 320px) / 1600));
  padding-bottom: -moz-calc(50px + 150 * ((100vw - 320px) / 1600));
  padding-bottom: calc(50px + 150 * ((100vw - 320px) / 1600));
}
#xiaomi13lite .dynamic-xiaomi13lite__text h2 {
  font-size: -webkit-calc(20px + 36 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(20px + 36 * ((100vw - 320px) / 1600));
  font-size: calc(20px + 36 * ((100vw - 320px) / 1600));
  line-height: 1.2;
  margin-bottom: 10px;
}
#xiaomi13lite .dynamic-xiaomi13lite__text p {
  font-size: -webkit-calc(16px + 10 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(16px + 10 * ((100vw - 320px) / 1600));
  font-size: calc(16px + 10 * ((100vw - 320px) / 1600));
  line-height: 1.2;
}
#xiaomi13lite .dynamic-xiaomi13lite__image {
  padding-top: 50px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

#xiaomi13lite .portret-xiaomi13lite__body {
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 15px;
}
#xiaomi13lite .portret-xiaomi13lite__text {
  max-width: 1000px;
  margin-bottom: 20px;
}
#xiaomi13lite .portret-xiaomi13lite__text h2 {
  font-size: -webkit-calc(20px + 36 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(20px + 36 * ((100vw - 320px) / 1600));
  font-size: calc(20px + 36 * ((100vw - 320px) / 1600));
  line-height: 1.2;
  margin-bottom: 10px;
}
#xiaomi13lite .portret-xiaomi13lite__text p {
  font-size: -webkit-calc(16px + 10 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(16px + 10 * ((100vw - 320px) / 1600));
  font-size: calc(16px + 10 * ((100vw - 320px) / 1600));
  line-height: 1.2;
}
#xiaomi13lite .portret-xiaomi13lite__image_1 img {
  margin: 0;
  max-width: 1100px;
  width: 100%;
}
#xiaomi13lite .portret-xiaomi13lite__bottom {
  padding-top: 80px;
}
#xiaomi13lite .portret-xiaomi13lite__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
#xiaomi13lite .portret-xiaomi13lite__media {
  position: relative;
  z-index: 2;
}
#xiaomi13lite .portret-xiaomi13lite__snoska {
  position: absolute;
  z-index: 5;
  bottom: 4%;
  left: 6%;
}
#xiaomi13lite .portret-xiaomi13lite__snoska p {
  color: #fff;
  font-size: -webkit-calc(20px + 30 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(20px + 30 * ((100vw - 320px) / 1600));
  font-size: calc(20px + 30 * ((100vw - 320px) / 1600));
  line-height: 1.2;
  font-weight: bold;
}

#xiaomi13lite .mirror-xiaomi13lite__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 20px;
}
#xiaomi13lite .mirror-xiaomi13lite__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  background-color: #f5dbec;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#xiaomi13lite .mirror-xiaomi13lite__text {
  width: 80%;
  margin: 0 auto;
}
#xiaomi13lite .mirror-xiaomi13lite__text h2 {
  font-size: -webkit-calc(20px + 36 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(20px + 36 * ((100vw - 320px) / 1600));
  font-size: calc(20px + 36 * ((100vw - 320px) / 1600));
  line-height: 1.2;
  margin-bottom: 10px;
}
#xiaomi13lite .mirror-xiaomi13lite__text p {
  font-size: -webkit-calc(16px + 10 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(16px + 10 * ((100vw - 320px) / 1600));
  font-size: calc(16px + 10 * ((100vw - 320px) / 1600));
  line-height: 1.2;
}
#xiaomi13lite .mirror-xiaomi13lite__image {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

#xiaomi13lite .upgrade-xiaomi13lite__bg {
  background: url("https://cdn.comfy.ua/media/x/img3/2369860/bg.jpg") 0 0 no-repeat;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  padding: 100px 15px;
}
#xiaomi13lite .upgrade-xiaomi13lite__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  max-width: 1500px;
  margin: 0 auto;
}
#xiaomi13lite .upgrade-xiaomi13lite__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
#xiaomi13lite .upgrade-xiaomi13lite__title {
  width: 90%;
  margin: 0 auto;
}
#xiaomi13lite .upgrade-xiaomi13lite__title h2 {
  font-size: -webkit-calc(20px + 36 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(20px + 36 * ((100vw - 320px) / 1600));
  font-size: calc(20px + 36 * ((100vw - 320px) / 1600));
  line-height: 1.2;
}
#xiaomi13lite .upgrade-xiaomi13lite__text {
  width: 90%;
  margin: 0 auto;
  padding-top: 30px;
}
#xiaomi13lite .upgrade-xiaomi13lite__text h2 {
  font-size: -webkit-calc(18px + 22 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(18px + 22 * ((100vw - 320px) / 1600));
  font-size: calc(18px + 22 * ((100vw - 320px) / 1600));
  line-height: 1.2;
  margin-bottom: 10px;
}
#xiaomi13lite .upgrade-xiaomi13lite__text p {
  font-size: -webkit-calc(16px + 10 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(16px + 10 * ((100vw - 320px) / 1600));
  font-size: calc(16px + 10 * ((100vw - 320px) / 1600));
  line-height: 1.2;
}
#xiaomi13lite .upgrade-xiaomi13lite__image {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

#xiaomi13lite .sensor-xiaomi13lite__bg {
  position: relative;
  z-index: 2;
}
#xiaomi13lite .sensor-xiaomi13lite__box {
  position: absolute;
  z-index: 5;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 7%;
  width: 35%;
}
#xiaomi13lite .sensor-xiaomi13lite__text h2 {
  font-size: -webkit-calc(20px + 36 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(20px + 36 * ((100vw - 320px) / 1600));
  font-size: calc(20px + 36 * ((100vw - 320px) / 1600));
  line-height: 1.2;
  margin-bottom: 20px;
}
#xiaomi13lite .sensor-xiaomi13lite__text p {
  font-size: -webkit-calc(16px + 10 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(16px + 10 * ((100vw - 320px) / 1600));
  font-size: calc(16px + 10 * ((100vw - 320px) / 1600));
  line-height: 1.2;
}
#xiaomi13lite .sensor-xiaomi13lite__text span {
  display: block;
  font-size: -webkit-calc(16px + 10 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(16px + 10 * ((100vw - 320px) / 1600));
  font-size: calc(16px + 10 * ((100vw - 320px) / 1600));
  line-height: 1.2;
  padding-top: 50px;
}
#xiaomi13lite .sensor-xiaomi13lite__image-mob {
  display: none;
}

#xiaomi13lite .camera-xiaomi13lite {
  padding-top: 50px;
}
#xiaomi13lite .camera-xiaomi13lite__box {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 15px;
}
#xiaomi13lite .camera-xiaomi13lite__text {
  width: 80%;
  margin-bottom: 20px;
}
#xiaomi13lite .camera-xiaomi13lite__text h2 {
  font-size: -webkit-calc(20px + 36 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(20px + 36 * ((100vw - 320px) / 1600));
  font-size: calc(20px + 36 * ((100vw - 320px) / 1600));
  line-height: 1.2;
  margin-bottom: 10px;
}
#xiaomi13lite .camera-xiaomi13lite__text p {
  font-size: -webkit-calc(16px + 10 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(16px + 10 * ((100vw - 320px) / 1600));
  font-size: calc(16px + 10 * ((100vw - 320px) / 1600));
  line-height: 1.2;
}
#xiaomi13lite .row-camera-xiaomi13lite {
  padding: 0 15px;
}
#xiaomi13lite .row-camera-xiaomi13lite__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#xiaomi13lite .row-camera-xiaomi13lite__inner_rev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 50px 0;
}
#xiaomi13lite .row-camera-xiaomi13lite__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 40%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}
#xiaomi13lite .row-camera-xiaomi13lite__text {
  width: 80%;
  margin: 0 auto;
}
#xiaomi13lite .row-camera-xiaomi13lite__text h2 {
  font-size: -webkit-calc(20px + 36 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(20px + 36 * ((100vw - 320px) / 1600));
  font-size: calc(20px + 36 * ((100vw - 320px) / 1600));
  line-height: 1.2;
  margin-bottom: 10px;
}
#xiaomi13lite .row-camera-xiaomi13lite__text p {
  font-size: -webkit-calc(16px + 10 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(16px + 10 * ((100vw - 320px) / 1600));
  font-size: calc(16px + 10 * ((100vw - 320px) / 1600));
  line-height: 1.2;
}
#xiaomi13lite .row-camera-xiaomi13lite__image {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 60%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

#xiaomi13lite .experience-xiaomi13lite__bg {
  position: relative;
  z-index: 2;
}
#xiaomi13lite .experience-xiaomi13lite__title {
  position: absolute;
  z-index: 5;
  top: 20%;
  right: 8%;
  width: 40%;
}
#xiaomi13lite .experience-xiaomi13lite__title h2 {
  font-size: -webkit-calc(20px + 36 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(20px + 36 * ((100vw - 320px) / 1600));
  font-size: calc(20px + 36 * ((100vw - 320px) / 1600));
  line-height: 1.2;
  color: #fff;
}
#xiaomi13lite .experience-xiaomi13lite__image-mob {
  display: none;
}
#xiaomi13lite .experience-xiaomi13lite__row {
  width: 80%;
  margin: 0 auto;
  position: absolute;
  z-index: 5;
  top: 55%;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
#xiaomi13lite .experience-xiaomi13lite__inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}
#xiaomi13lite .experience-xiaomi13lite__inner_1 {
  grid-template-columns: 1.2fr 0.8fr 1fr;
  -webkit-box-align: start;
  -webkit-align-items: start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
#xiaomi13lite .experience-xiaomi13lite__col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
#xiaomi13lite .experience-xiaomi13lite__item {
  -webkit-border-radius: 18px;
          border-radius: 18px;
  -webkit-box-shadow: rgb(204, 204, 204) 3.9062px 3.9062px 11.7188px 0px;
          box-shadow: rgb(204, 204, 204) 3.9062px 3.9062px 11.7188px 0px;
  background-color: #fff;
  min-height: 217px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#xiaomi13lite .experience-xiaomi13lite__item_ps {
  position: relative;
  z-index: 2;
}
#xiaomi13lite .experience-xiaomi13lite__item_smn {
  display: none;
}
#xiaomi13lite .experience-xiaomi13lite__text h2 {
  font-size: -webkit-calc(16px + 14 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(16px + 14 * ((100vw - 320px) / 1600));
  font-size: calc(16px + 14 * ((100vw - 320px) / 1600));
  line-height: 1.2;
  margin-bottom: 10px;
  text-align: center;
}
#xiaomi13lite .experience-xiaomi13lite__text p {
  font-size: -webkit-calc(16px + 8 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(16px + 8 * ((100vw - 320px) / 1600));
  font-size: calc(16px + 8 * ((100vw - 320px) / 1600));
  line-height: 1.2;
  text-align: center;
}
#xiaomi13lite .experience-xiaomi13lite__text_ps {
  position: absolute;
  z-index: 5;
  bottom: 8%;
  left: 0;
  right: 0;
}
#xiaomi13lite .experience-xiaomi13lite__text_ps h2 {
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  background: -webkit-linear-gradient(25deg, #0b55bd, #29ade3);
  background: -moz-linear-gradient(25deg, #0b55bd, #29ade3);
  background: -o-linear-gradient(25deg, #0b55bd, #29ade3);
  background: linear-gradient(65deg, #0b55bd, #29ade3);
  -webkit-background-clip: text;
  background-clip: text;
}
#xiaomi13lite .experience-xiaomi13lite__text_1 h2 {
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  background: -webkit-linear-gradient(30deg, #e94b25 34%, #e1871d 38%, #77a753 40%, #257185 50%);
  background: -moz-linear-gradient(30deg, #e94b25 34%, #e1871d 38%, #77a753 40%, #257185 50%);
  background: -o-linear-gradient(30deg, #e94b25 34%, #e1871d 38%, #77a753 40%, #257185 50%);
  background: linear-gradient(60deg, #e94b25 34%, #e1871d 38%, #77a753 40%, #257185 50%);
  -webkit-background-clip: text;
  background-clip: text;
}
#xiaomi13lite .experience-xiaomi13lite__item-image img {
  -webkit-border-radius: 18px;
          border-radius: 18px;
}
#xiaomi13lite .experience-xiaomi13lite__item-image_sm {
  width: 80%;
  margin: 0 auto;
}

#xiaomi13lite .top-snap-xiaomi13lite {
  position: relative;
  z-index: 2;
}
#xiaomi13lite .top-snap-xiaomi13lite__text {
  position: absolute;
  z-index: 5;
  top: 8%;
  left: 10%;
  width: 40%;
}
#xiaomi13lite .top-snap-xiaomi13lite__text h2 {
  font-size: -webkit-calc(20px + 26 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(20px + 26 * ((100vw - 320px) / 1600));
  font-size: calc(20px + 26 * ((100vw - 320px) / 1600));
  line-height: 1.2;
  margin-bottom: 10px;
}
#xiaomi13lite .top-snap-xiaomi13lite__text p {
  font-size: -webkit-calc(16px + 10 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(16px + 10 * ((100vw - 320px) / 1600));
  font-size: calc(16px + 10 * ((100vw - 320px) / 1600));
  line-height: 1.2;
}
#xiaomi13lite .top-snap-xiaomi13lite__mob {
  display: none;
}

#xiaomi13lite .bottom-snap-xiaomi13lite {
  position: relative;
  z-index: 2;
}
#xiaomi13lite .bottom-snap-xiaomi13lite__text {
  position: absolute;
  z-index: 5;
  top: -80px;
  left: 10%;
  width: 40%;
}
#xiaomi13lite .bottom-snap-xiaomi13lite__text h2 {
  font-size: -webkit-calc(20px + 26 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(20px + 26 * ((100vw - 320px) / 1600));
  font-size: calc(20px + 26 * ((100vw - 320px) / 1600));
  line-height: 1.2;
  margin-bottom: 10px;
}
#xiaomi13lite .bottom-snap-xiaomi13lite__text p {
  font-size: -webkit-calc(16px + 10 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(16px + 10 * ((100vw - 320px) / 1600));
  font-size: calc(16px + 10 * ((100vw - 320px) / 1600));
  line-height: 1.2;
}
#xiaomi13lite .bottom-snap-xiaomi13lite__mob {
  display: none;
}

#xiaomi13lite .vacuum-xiaomi13lite__body {
  padding: 30px 15px;
}
#xiaomi13lite .vacuum-xiaomi13lite__text h2 {
  font-size: -webkit-calc(20px + 36 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(20px + 36 * ((100vw - 320px) / 1600));
  font-size: calc(20px + 36 * ((100vw - 320px) / 1600));
  line-height: 1.2;
  margin-bottom: 10px;
  text-align: center;
}
#xiaomi13lite .vacuum-xiaomi13lite__text p {
  font-size: -webkit-calc(16px + 10 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(16px + 10 * ((100vw - 320px) / 1600));
  font-size: calc(16px + 10 * ((100vw - 320px) / 1600));
  line-height: 1.2;
  text-align: center;
}
#xiaomi13lite .vacuum-xiaomi13lite__snoska p {
  font-size: -webkit-calc(16px + 10 * ((100vw - 320px) / 1600));
  font-size: -moz-calc(16px + 10 * ((100vw - 320px) / 1600));
  font-size: calc(16px + 10 * ((100vw - 320px) / 1600));
  line-height: 1.2;
  text-align: center;
}

@media screen and (max-width: 1920px) {
  #xiaomi13lite .experience-xiaomi13lite__item {
    min-height: -webkit-calc(112px + 105 * (100vw - 1024.98px) / 895.02);
    min-height: -moz-calc(112px + 105 * (100vw - 1024.98px) / 895.02);
    min-height: calc(112px + 105 * (100vw - 1024.98px) / 895.02);
  }
}
@media screen and (max-width: 1300px) {
  #xiaomi13lite .header-xiaomi13lite__item {
    margin-left: -50px;
  }
  #xiaomi13lite .ultra-xiaomi13lite__item {
    left: 3%;
    top: 5%;
  }
  #xiaomi13lite .ultra-xiaomi13lite__image {
    padding-left: 490px;
  }
  #xiaomi13lite .ultra-xiaomi13lite__list {
    padding-top: 40px;
  }
}
@media screen and (max-width: 991.98px) {
  #xiaomi13lite .bottom-snap-xiaomi13lite__text {
    position: unset;
    width: auto;
    padding: 30px 15px 20px;
    background-color: #f2f2f2;
  }
  #xiaomi13lite .bottom-snap-xiaomi13lite__text h2, #xiaomi13lite .bottom-snap-xiaomi13lite__text p {
    text-align: center;
  }
  #xiaomi13lite .top-snap-xiaomi13lite__text {
    position: unset;
    padding: 30px 15px 10px;
    width: auto;
  }
  #xiaomi13lite .top-snap-xiaomi13lite__text h2, #xiaomi13lite .top-snap-xiaomi13lite__text p {
    text-align: center;
  }
  #xiaomi13lite .top-snap-xiaomi13lite__image,
  #xiaomi13lite .bottom-snap-xiaomi13lite__image {
    display: none;
  }
  #xiaomi13lite .top-snap-xiaomi13lite__mob,
  #xiaomi13lite .bottom-snap-xiaomi13lite__mob {
    display: block;
  }
  #xiaomi13lite .experience-xiaomi13lite__row {
    position: unset;
    margin-top: -80px;
  }
  #xiaomi13lite .experience-xiaomi13lite__title h2 {
    color: #000;
    text-align: center;
    padding: 30px 15px 10px;
  }
  #xiaomi13lite .experience-xiaomi13lite__title {
    position: unset;
    width: auto;
  }
  #xiaomi13lite .experience-xiaomi13lite__inner_1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  #xiaomi13lite .experience-xiaomi13lite__item_smm {
    display: none;
  }
  #xiaomi13lite .experience-xiaomi13lite__item_smn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  #xiaomi13lite .experience-xiaomi13lite__item_sm,
  #xiaomi13lite .experience-xiaomi13lite__item_smn {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 33.3333%;
       -moz-box-flex: 0;
        -ms-flex: 0 1 33.3333%;
            flex: 0 1 33.3333%;
  }
  #xiaomi13lite .experience-xiaomi13lite__col_sm {
    grid-column: span 2;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #xiaomi13lite .experience-xiaomi13lite__item {
    min-height: -webkit-calc(80px + 85 * (100vw - 479.98px) / 511.02);
    min-height: -moz-calc(80px + 85 * (100vw - 479.98px) / 511.02);
    min-height: calc(80px + 85 * (100vw - 479.98px) / 511.02);
  }
  #xiaomi13lite .experience-xiaomi13lite__inner {
    grid-template-columns: 1fr 1fr;
  }
  #xiaomi13lite .experience-xiaomi13lite__image {
    display: none;
  }
  #xiaomi13lite .experience-xiaomi13lite__image-mob {
    display: block;
  }
  #xiaomi13lite .header-xiaomi13lite__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #xiaomi13lite .header-xiaomi13lite__item {
    margin-left: 0;
  }
  #xiaomi13lite .header-xiaomi13lite__text {
    padding: 0 15px;
  }
  #xiaomi13lite .ultra-xiaomi13lite__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #xiaomi13lite .ultra-xiaomi13lite__item {
    position: unset;
  }
  #xiaomi13lite .ultra-xiaomi13lite__image {
    padding-left: 270px;
  }
  #xiaomi13lite .ultra-xiaomi13lite__body {
    max-width: 100%;
  }
  #xiaomi13lite .ultra-xiaomi13lite__text {
    padding: 10px 15px 20px;
  }
  #xiaomi13lite .ultra-xiaomi13lite__text h2, #xiaomi13lite .ultra-xiaomi13lite__text p {
    text-align: center;
  }
  #xiaomi13lite .ultra-xiaomi13lite__list {
    padding-top: 0;
    position: absolute;
    z-index: 5;
    top: 20%;
    left: 4%;
  }
  #xiaomi13lite .ultra-xiaomi13lite__list-item:not(:last-child) {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  #xiaomi13lite .dual-xiaomi13lite__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
       -moz-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  #xiaomi13lite .dual-xiaomi13lite__col_1 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
       -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    background-color: #161616;
  }
  #xiaomi13lite .dual-xiaomi13lite__col_2 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
       -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #xiaomi13lite .dual-xiaomi13lite__col_3 {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
       -moz-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-align-self: auto;
        -ms-flex-item-align: auto;
            align-self: auto;
    background-color: #161616;
    padding-bottom: 30px;
  }
  #xiaomi13lite .dual-xiaomi13lite__item {
    width: auto;
    padding-bottom: 0;
  }
  #xiaomi13lite .dual-xiaomi13lite__bg {
    padding: 60px 0 0;
  }
  #xiaomi13lite .dual-xiaomi13lite__text {
    margin: 30px 40px 0;
    background-color: #222325;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
    min-height: 80px;
    padding: 10px 40px;
    -webkit-border-radius: 10px;
            border-radius: 10px;
  }
  #xiaomi13lite .dual-xiaomi13lite__text h2, #xiaomi13lite .dual-xiaomi13lite__text p {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 50%;
       -moz-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin-bottom: 0;
  }
  #xiaomi13lite .dynamic-xiaomi13lite__bg {
    padding: 50px 15px;
  }
  #xiaomi13lite .portret-xiaomi13lite__body {
    padding: 50px 15px;
  }
}
@media screen and (max-width: 767.98px) {
  #xiaomi13lite .experience-xiaomi13lite__row,
  #xiaomi13lite .experience-xiaomi13lite__inner,
  #xiaomi13lite .experience-xiaomi13lite__col {
    gap: 10px;
  }
  #xiaomi13lite .camera-xiaomi13lite {
    padding-top: 0;
  }
  #xiaomi13lite .row-camera-xiaomi13lite__inner_rev {
    padding: 0;
  }
  #xiaomi13lite .row-camera-xiaomi13lite__text,
  #xiaomi13lite .camera-xiaomi13lite__text {
    width: auto;
    padding: 20px 0 10px;
    margin-bottom: 0;
  }
  #xiaomi13lite .row-camera-xiaomi13lite__text h2, #xiaomi13lite .row-camera-xiaomi13lite__text p,
  #xiaomi13lite .camera-xiaomi13lite__text h2,
  #xiaomi13lite .camera-xiaomi13lite__text p {
    text-align: center;
  }
  #xiaomi13lite .row-camera-xiaomi13lite__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
       -moz-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  #xiaomi13lite .upgrade-xiaomi13lite__title,
  #xiaomi13lite .upgrade-xiaomi13lite__text {
    width: auto;
  }
  #xiaomi13lite .upgrade-xiaomi13lite__title h2, #xiaomi13lite .upgrade-xiaomi13lite__title p,
  #xiaomi13lite .upgrade-xiaomi13lite__text h2,
  #xiaomi13lite .upgrade-xiaomi13lite__text p {
    text-align: center;
  }
  #xiaomi13lite .upgrade-xiaomi13lite__bg {
    padding: 50px 15px;
  }
  #xiaomi13lite .upgrade-xiaomi13lite__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #xiaomi13lite .sensor-xiaomi13lite__text h2, #xiaomi13lite .sensor-xiaomi13lite__text p, #xiaomi13lite .sensor-xiaomi13lite__text span {
    text-align: center;
  }
  #xiaomi13lite .sensor-xiaomi13lite__box {
    position: unset;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
    width: auto;
    padding: 20px 15px 0;
    background: url("https://cdn.comfy.ua/media/x/img3/2369860/img9-2.jpg") 0 0 no-repeat;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
  }
  #xiaomi13lite .sensor-xiaomi13lite__image-mob {
    display: block;
  }
  #xiaomi13lite .sensor-xiaomi13lite__image {
    display: none;
  }
  #xiaomi13lite .ultra-xiaomi13lite__list-item:not(:last-child) {
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  #xiaomi13lite .ultra-xiaomi13lite__list-item:not(:last-child)::after {
    height: 1px;
    width: 30px;
  }
  #xiaomi13lite .ultra-xiaomi13lite__image {
    padding-left: 160px;
  }
  #xiaomi13lite .ultra-xiaomi13lite__list {
    top: 23%;
  }
  #xiaomi13lite .dual-xiaomi13lite__text {
    padding: 10px 20px;
  }
  #xiaomi13lite .bright-xiaomi13lite__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
  }
  #xiaomi13lite .bright-xiaomi13lite__title {
    width: auto;
  }
  #xiaomi13lite .bright-xiaomi13lite__title h2, #xiaomi13lite .bright-xiaomi13lite__title p {
    text-align: center;
  }
  #xiaomi13lite .dynamic-xiaomi13lite__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  #xiaomi13lite .dynamic-xiaomi13lite__image {
    display: none;
  }
  #xiaomi13lite .dynamic-xiaomi13lite__text {
    padding-bottom: 0;
  }
  #xiaomi13lite .dynamic-xiaomi13lite__text {
    margin-bottom: 20px;
  }
  #xiaomi13lite .dynamic-xiaomi13lite__text h2, #xiaomi13lite .dynamic-xiaomi13lite__text p {
    text-align: center;
  }
  #xiaomi13lite .portret-xiaomi13lite__text h2, #xiaomi13lite .portret-xiaomi13lite__text p {
    text-align: center;
  }
  #xiaomi13lite .portret-xiaomi13lite__bottom {
    padding-top: 20px;
  }
  #xiaomi13lite .mirror-xiaomi13lite__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #f5dbec;
  }
  #xiaomi13lite .mirror-xiaomi13lite__text {
    width: auto;
    padding: 20px 15px;
  }
  #xiaomi13lite .mirror-xiaomi13lite__text h2, #xiaomi13lite .mirror-xiaomi13lite__text p {
    text-align: center;
  }
}
@media screen and (max-width: 601px) {
  #xiaomi13lite .ultra-xiaomi13lite__image {
    padding-left: 124px;
  }
  #xiaomi13lite .ultra-xiaomi13lite__list {
    top: 27%;
  }
}
@media screen and (max-width: 479.98px) {
  #xiaomi13lite .upgrade-xiaomi13lite__bg,
  #xiaomi13lite .portret-xiaomi13lite__body,
  #xiaomi13lite .dynamic-xiaomi13lite__bg {
    padding: 20px 15px;
  }
  #xiaomi13lite .experience-xiaomi13lite__col {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #xiaomi13lite .experience-xiaomi13lite__col:nth-child(1) {
    grid-column: span 2;
  }
  #xiaomi13lite .experience-xiaomi13lite__item_1,
  #xiaomi13lite .experience-xiaomi13lite__item_2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 50%;
       -moz-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  #xiaomi13lite .experience-xiaomi13lite__row {
    width: 90%;
  }
  #xiaomi13lite .experience-xiaomi13lite__inner {
    grid-template-columns: 1fr;
  }
  #xiaomi13lite .experience-xiaomi13lite__item {
    min-height: 86px;
  }
  #xiaomi13lite .experience-xiaomi13lite__text {
    padding: 10px;
  }
  #xiaomi13lite .experience-xiaomi13lite__text_ps h2 {
    font-size: 20px !important;
  }
  #xiaomi13lite .experience-xiaomi13lite__text_ps p {
    font-size: 15px !important;
  }
  #xiaomi13lite .experience-xiaomi13lite__text h2 {
    font-size: 15px;
    margin-bottom: 5px;
  }
  #xiaomi13lite .experience-xiaomi13lite__text p {
    font-size: 12px;
  }
  #xiaomi13lite .sensor-xiaomi13lite__text span {
    padding-top: 20px;
  }
  #xiaomi13lite .sensor-xiaomi13lite__box {
    top: 5%;
  }
  #xiaomi13lite .ultra-xiaomi13lite__list {
    top: 38%;
  }
  #xiaomi13lite .ultra-xiaomi13lite__list-item h4 {
    margin-bottom: 0;
  }
  #xiaomi13lite .ultra-xiaomi13lite__list-item:not(:last-child) {
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  #xiaomi13lite .dual-xiaomi13lite__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
  }
  #xiaomi13lite .dual-xiaomi13lite__text h2, #xiaomi13lite .dual-xiaomi13lite__text p {
    text-align: center;
  }
  #xiaomi13lite .dual-xiaomi13lite__text {
    margin: 15px 20px 0;
  }
  #xiaomi13lite .dual-xiaomi13lite__bg {
    padding-top: 20px;
  }
  #xiaomi13lite .portret-xiaomi13lite__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #xiaomi13lite .portret-xiaomi13lite__text {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 351px) {
  #xiaomi13lite .ultra-xiaomi13lite__list {
    top: 42%;
  }
}/*# sourceMappingURL=style.css.map */