//Адаптивное свойство
$maxWidth: 1920
$maxWidthContainer: 1440

@mixin adaptiv-value($property, $startSize, $minSize, $type)
    $addSize: $startSize - $minSize
    @if $type==1
        #{$property}: $startSize + px
        @media (max-width: #{$maxWidthContainer + px})
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}))

    @else if $type==2
        #{$property}: $startSize + px
        @media (min-width: #{$maxWidthContainer + px})
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}))

    @else
        #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}))

// html,
// body
//     height: 100%
//     min-width: 320px

// button
//     cursor: pointer
//     color: inherit
//     background-color: inherit

//========================================================================================================================================================

// [class*="-ibg"]
//     position: relative

// [class*="-ibg"] img
//     position: absolute
//     width: 100%
//     height: 100%
//     top: 0
//     left: 0
//     -o-object-fit: cover
//     object-fit: cover

// [class*="-ibg_contain"] img
//     -o-object-fit: contain
//     object-fit: contain

// #vestfrostct a
//     color: inherit
//     text-decoration: none

// #vestfrostct
//     ul,
//     ol,
//     li
//         list-style: none
//         padding: 0
//         margin: 0

#vestfrostct .bc-description__content p
    margin-bottom: 0

#vestfrostct .bc-description__content h3
    text-align: left

#vestfrostct
    h1, h2, h3, h4, h5, h6
        text-transform: none
        font-weight: bold

#vestfrostct
    // display: flex
    // flex-direction: column
    margin: 0 auto
    overflow: hidden
    background-color: #ffffff
    //box-sizing: border-box
    h1, h2, h3, h4, h5, h6, p
        margin: 0
        padding: 0
        text-align: left

#vestfrostct p::first-letter
    padding-left: 0

#vestfrostct img
    opacity: 1
    max-width: 100%
    display: block
    margin: 0 auto

#vestfrostct img:hover
    opacity: 1

#vestfrostct .vestfrostct__container
    max-width: 1440px
    margin: 0 auto
    //padding: 0 15px

//========================================================================================================================================================
#vestfrostct
    h2
        @include adaptiv-value("font-size", 32, 20, 1)
        line-height: 1.2
        font-weight: 700
        text-transform: uppercase
        margin-bottom: 15px
    p
        @include adaptiv-value("font-size", 24, 16, 1)
        line-height: 1.2
        font-weight: 400

#vestfrostct .header-vestfrostct
    padding: 20px 15px 0
    &__top
    &__logo
    &__title
        margin-bottom: 40px
        h2
            @include adaptiv-value("font-size", 26, 20, 1)
            color: #002C5C
            text-align: center
            text-transform: none
    &__text
        max-width: 630px
        margin: 0 auto
        box-sizing: border-box
        p
            text-align: center

#vestfrostct .nofrost-vestfrostct
    padding-top: 30px
    &__bg
        background: url('https://cdn.comfy.ua/media/x/img3/1056996/img2.png') center no-repeat
        background-size: cover
        min-height: 500px
        display: flex
        align-items: center
        justify-content: flex-end
    &__row
        display: flex
        align-items: center
        gap: 20px
        max-width: 1000px
        margin-right: 0
        box-sizing: border-box
        padding: 0 20px
    &__text
        flex: 0 1 60%
        h2
            @include adaptiv-value("font-size", 65, 40, 1)
            text-align: center
            color: #ffffff
        span
            @include adaptiv-value("font-size", 32, 20, 1)
            line-height: 1.2
            font-weight: 700
            display: block
            text-align: center
            color: #ffffff
            margin-bottom: 10px
        p
            text-align: center
            color: #ffffff
    &__image
        flex: 0 1 40%

#vestfrostct .spec-vestfrostct
    @include adaptiv-value("padding-top", 80, 20, 1)
    overflow: hidden
    &__title
        margin-bottom: 30px
        padding: 0 15px
        h2
            @include adaptiv-value("font-size", 40, 20, 1)
            text-align: center
            color: #002C5C
    &__row
        @include adaptiv-value("padding-left", 90, 15, 1)
        // width: 50%
        // display: flex
        // flex-direction: column
        // gap: 30px
        position: relative
        z-index: 2
        padding-top: 50px
    &__media
        position: absolute
        z-index: 5
        //top: -50px
        top: 44%
        transform: translateY(-50%)
        right: 0
        left: calc(720 / 1440 * 100%)
    &__inner
    &__items
        display: flex
        gap: 50px
        width: 55%
        &_rev
            flex-direction: row-reverse
            align-items: center
            justify-content: start
        &_blue1
            padding: 48px 48px 27px 0px
            position: relative
            z-index: 2
            &::after
                content: ''
                position: absolute
                z-index: -1
                top: 0
                right: 0
                background-color: #002C5C
                width: 900px
                height: 100%
        &_blue2
            position: relative
            z-index: 2
            padding: 90px 28px
            &::after
                content: ''
                position: absolute
                z-index: -1
                top: 0
                left: 0
                background-color: #002C5C
                width: 1440px
                height: 100%
        &:nth-child(1)
            margin-bottom: 30px
        &:nth-child(3)
            margin: 68px 0 58px
    &__number
        flex: 0 1 212px
    &__text
        width: 45%
        h2
            @include adaptiv-value("font-size", 32, 15, 1)
            color: #002C5C
        img
            margin: 0
        &_wh
            h2,p
                color: #ffffff

#vestfrostct .eco-vestfrostct
    &__bg
        background: url('https://cdn.comfy.ua/media/x/img3/1056996/img11.png') center no-repeat
        background-size: cover
        min-height: 449px
        display: flex
        align-items: center
    &__text
        width: 80%
        margin: 0 auto
        h2,p
            text-align: center
            color: #ffffff
        img
            margin-bottom: 20px

#vestfrostct .freezer-vestfrostct
    @include adaptiv-value("padding-top", 80, 20, 1)
    &__bg
        position: relative
        z-index: 4
        padding-bottom: 220px
        // &::after
        //     content: ''
        //     position: absolute
        //     z-index: 6
        //     bottom: 0
        //     left: 0
        //     background: url('https://cdn.comfy.ua/media/x/img3/1056996/img14.png') center no-repeat
        //     background-size: cover
        //     width: 100%
        //     height: 458px
    &__row
        display: flex
        max-width: 1160px
        margin: 0 auto
        box-sizing: border-box
        padding: 0 15px
        gap: 20px
        position: relative
        z-index: 5
    &__item
        flex: 0 1 60%
        @include adaptiv-value("padding-top", 100, 60, 1)
    &__text
        h2
            color: #002C5C
        p
            &:not(:last-child)
                margin-bottom: 15px
    &__image
        flex: 0 1 40%
        img
            margin-right: 0
    &__media
        position: absolute
        z-index: 5
        top: 50%
        left: 0
        background: url('https://cdn.comfy.ua/media/x/img3/1056996/img14.png') center no-repeat
        background-size: cover
        width: 100%
        height: 458px

#vestfrostct .safe-vestfrostct
    margin-top: -220px
    position: relative
    z-index: 2
    &__bg
        background: url('https://cdn.comfy.ua/media/x/img3/1056996/img15.png') center no-repeat
        background-size: cover
        min-height: 500px
        position: relative
        z-index: 2
    &__text
        position: absolute
        z-index: 3
        top: 30%
        left: 0
        right: 0
        width: 80%
        margin: 0 auto
        h2,p
            text-align: center
            color: #ffffff
        img
            margin-bottom: 15px

//===========MEDIA=============================================================================================================================================

    //@media screen and (max-width: 1300px)

@media screen and (max-width: 1024.98px)
    #vestfrostct .spec-vestfrostct__row
        padding: 0 15px
    #vestfrostct .spec-vestfrostct__inner
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 20px
    #vestfrostct .spec-vestfrostct__media
        position: unset
        transform: translateY(0)
    #vestfrostct .spec-vestfrostct__items
        padding: 15px !important
        width: auto
        align-items: center
        gap: 20px
        box-sizing: border-box
    #vestfrostct .spec-vestfrostct__items_blue1::after,
    #vestfrostct .spec-vestfrostct__items_blue2::after
        width: 100%
    #vestfrostct .spec-vestfrostct__items_blue1
        padding: 0
    #vestfrostct .spec-vestfrostct__items_rev
        flex-direction: row
    #vestfrostct .spec-vestfrostct__number
        flex: 0 0 130px
    #vestfrostct .spec-vestfrostct__text
        width: auto
    #vestfrostct .spec-vestfrostct__items:nth-child(1),
    #vestfrostct .spec-vestfrostct__items:nth-child(3)
        margin: 0

@media screen and (max-width: 991.98px)
    #vestfrostct .spec-vestfrostct__text h2
        font-size: 20px

@media screen and (max-width: 821px)
    #vestfrostct .spec-vestfrostct__items
        flex-direction: column
    #vestfrostct .spec-vestfrostct__number
        flex: 0 1 auto
    #vestfrostct .spec-vestfrostct__text
        h2
            text-align: center

@media screen and (max-width: 767.98px)
    #vestfrostct .nofrost-vestfrostct__row
        flex-direction: column
        padding: 20px 15px
    #vestfrostct .spec-vestfrostct__number img
        width: 50%
    #vestfrostct .spec-vestfrostct__text
        p
            text-align: center
    #vestfrostct .eco-vestfrostct__text,
    #vestfrostct .safe-vestfrostct__text
        width: auto
        padding: 0 15px
    #vestfrostct .freezer-vestfrostct__row
        flex-direction: column
    #vestfrostct .freezer-vestfrostct__item
        padding-top: 0
    #vestfrostct .freezer-vestfrostct__text
        h2,p
            text-align: center
    #vestfrostct .freezer-vestfrostct__media
        top: 58%

@media screen and (max-width: 601px)
    #vestfrostct .spec-vestfrostct__text h2
        font-size: 16px
    #vestfrostct .spec-vestfrostct__inner
        gap: 10px
    #vestfrostct .freezer-vestfrostct__media
        background-position-x: 30%

@media screen and (max-width: 479.98px)
    #vestfrostct .header-vestfrostct__title
        margin-bottom: 20px
    #vestfrostct .spec-vestfrostct__inner
        grid-template-columns: 1fr
    #vestfrostct .eco-vestfrostct__text img,
    #vestfrostct .safe-vestfrostct__text img
        width: 80px
    #vestfrostct .freezer-vestfrostct__media
        background-position-x: 83%
