//@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')
//Адаптивное свойство
$maxWidth: 1920
$maxWidthContainer: 1500

@mixin adaptiv-value($property, $startSize, $minSize, $type)
    $addSize: $startSize - $minSize
    @if $type==1
        #{$property}: $startSize + px
        @media (max-width: #{$maxWidthContainer + px})
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}))

    @else if $type==2
        #{$property}: $startSize + px
        @media (min-width: #{$maxWidthContainer + px})
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}))

    @else
        #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}))
//========================================================================================================================================================

// html
//     box-sizing: border-box
// html,
// body
//     height: 100%
//     min-width: 320px
//     margin: 0
// *,
// *::before,
// *::after
//     box-sizing: inherit

// button
//     cursor: pointer
//     color: inherit
//     background-color: inherit

//========================================================================================================================================================

// [class*="-ibg"]
//     position: relative

// [class*="-ibg"] img
//     position: absolute
//     width: 100%
//     height: 100%
//     top: 0
//     left: 0
//     -o-object-fit: cover
//     object-fit: cover

// [class*="-ibg_contain"] img
//     -o-object-fit: contain
//     object-fit: contain

// #maincontent a
//     color: inherit
//     text-decoration: none

// #maincontent
//     ul,
//     ol,
//     li
//         list-style: none
//         padding: 0
//         margin: 0

#maincontent .bc-description__content p
    margin-bottom: 0

#maincontent .bc-description__content h3
    text-align: left

#maincontent
    h1, h2, h3, h4, h5, h6
        text-transform: none
        // font-weight: bold

#maincontent
    height: auto
    margin: 0 auto
    overflow: hidden
    background-color: #ffffff
    // font-family: 'Roboto', sans-serif
    h1, h2, h3, h4, h5, h6, p
        margin: 0
        padding: 0
        text-align: left

#maincontent p::first-letter
    padding-left: 0

#maincontent img
    opacity: 1
    max-width: 100%
    display: block
    margin: 0 auto

#maincontent img:hover
    opacity: 1

#maincontent .maincontent__container
    max-width: 1500px
    margin: 0 auto
    // padding: 0 15px

//========================================================================================================================================================

#maincontent
    h2
        @include adaptiv-value("font-size", 35, 20, 1)
        line-height: 1.2
        color: #1b3255
        margin-bottom: 10px
    p
        @include adaptiv-value("font-size", 22, 16, 1)
        line-height: 1.2
        color: #505456

#maincontent .column-maincontent
    &__row
        padding: 40px 20px
        display: grid
        grid-template-columns: repeat(auto-fit,minmax(280px, 1fr))
        gap: 40px
    &__item
    &__icon
    &__text
        padding-top: 15px
        h2
            @include adaptiv-value("font-size", 25, 16, 1)
            line-height: 1.2
        p
            @include adaptiv-value("font-size", 22, 16, 1)
            line-height: 1.2
        h2,p
            text-align: center

#maincontent .row-maincontent
    &__inner
        display: flex
        align-items: center
        &_rev
            flex-direction: row-reverse
    &__item
        flex: 0 1 50%
    &__text
        width: 90%
        margin: 0 auto
        padding: 10px 0
        ul
            padding-left: 40px
            li
                list-style-type: disc
                @include adaptiv-value("font-size", 22, 16, 1)
                line-height: 1.2
                color: #505456
                &:not(:last-child)
                    margin-bottom: 8px
    &__image
        flex: 0 1 50%

#maincontent .col-maincontent
    margin-bottom: 10px
    &__title
        padding: 40px 15px
        h2
            text-align: center
    &__inner
        display: flex
        justify-content: space-between
        gap: 20px
    &__image

//===========MEDIA=============================================================================================================================================

//@media screen and (max-width: 1300px)
//@media screen and (max-width: 1024.98px)
@media screen and (max-width: 991.98px)
    #maincontent .row-maincontent__inner
        flex-direction: column
    #maincontent .row-maincontent__text
        width: auto
        padding: 20px 15px 10px
        h2,p
            text-align: center
        ul
            width: 80%
            margin: 20px auto
@media screen and (max-width: 767.98px)
    #maincontent .column-maincontent__row
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
    #maincontent .col-maincontent__inner
        gap: 10px
@media screen and (max-width: 479.98px)
    #maincontent .row-maincontent__text ul
        padding-left: 20px
        margin: 10px auto
        width: auto
    #maincontent .column-maincontent__row
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr))
    #maincontent .col-maincontent__title
        padding: 20px 15px
// @media (max-width: 812px) and (orientation: landscape)
