#samsungtv a {
  color: inherit;
  text-decoration: none;
}

#samsungtv ul,
#samsungtv ol,
#samsungtv li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#samsungtv .bc-description__content p {
  margin-bottom: 0;
}

#samsungtv .bc-description__content h3 {
  text-align: left;
}

#samsungtv h1, #samsungtv h2, #samsungtv h3, #samsungtv h4, #samsungtv h5, #samsungtv h6 {
  text-transform: none;
  font-weight: bold;
}

#samsungtv {
  margin: 0 auto;
  overflow: hidden;
  background-color: #ffffff;
}
#samsungtv h1, #samsungtv h2, #samsungtv h3, #samsungtv h4, #samsungtv h5, #samsungtv h6, #samsungtv p {
  margin: 0;
  padding: 0;
  text-align: left;
}

#samsungtv p::first-letter {
  padding-left: 0;
}

#samsungtv img {
  opacity: 1;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#samsungtv img:hover {
  opacity: 1;
}

#samsungtv .samsungtv__container {
  max-width: 1400px;
  margin: 0 auto;
}

#samsungtv .header-samsungtv__bg {
  position: relative;
  z-index: 2;
}
#samsungtv .header-samsungtv__text {
  position: absolute;
  z-index: 5;
  top: 6%;
  left: 5%;
  width: 50%;
}
#samsungtv .header-samsungtv__text h2 {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
}
@media (max-width: 1400px) {
  #samsungtv .header-samsungtv__text h2 {
    font-size: -webkit-calc(22px + 26 * ((100vw - 320px) / 1080));
    font-size: calc(22px + 26 * ((100vw - 320px) / 1080));
  }
}

#samsungtv .function-samsungtv {
  background-color: #000;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 84px;
  padding-right: 84px;
}
@media (max-width: 1400px) {
  #samsungtv .function-samsungtv {
    padding-left: -webkit-calc(15px + 69 * ((100vw - 320px) / 1080));
    padding-left: calc(15px + 69 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 1400px) {
  #samsungtv .function-samsungtv {
    padding-right: -webkit-calc(15px + 69 * ((100vw - 320px) / 1080));
    padding-right: calc(15px + 69 * ((100vw - 320px) / 1080));
  }
}
#samsungtv .function-samsungtv__title h2 {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}
@media (max-width: 1400px) {
  #samsungtv .function-samsungtv__title h2 {
    font-size: -webkit-calc(22px + 26 * ((100vw - 320px) / 1080));
    font-size: calc(22px + 26 * ((100vw - 320px) / 1080));
  }
}
#samsungtv .function-samsungtv__row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
#samsungtv .function-samsungtv__item {
  border: 1px solid rgba(255, 255, 255, 0.26);
  background: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  min-height: 100px;
}
#samsungtv .function-samsungtv__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
#samsungtv .function-samsungtv__icon {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 56px;
     -moz-box-flex: 0;
      -ms-flex: 0 0 56px;
          flex: 0 0 56px;
}
#samsungtv .function-samsungtv__text h2 {
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 10px;
  color: #fff;
}
#samsungtv .function-samsungtv__text p {
  font-size: 14px;
  line-height: 1.3;
  color: #fff;
}

#samsungtv .column-samsungtv {
  background-color: #000;
}
#samsungtv .column-samsungtv__box {
  padding: 80px 20px 0;
}
#samsungtv .column-samsungtv__text {
  padding-bottom: 15px;
  max-width: 1000px;
  margin: 0 auto;
}
#samsungtv .column-samsungtv__text h2 {
  font-size: 48px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 15px;
  color: #fff;
}
@media (max-width: 1400px) {
  #samsungtv .column-samsungtv__text h2 {
    font-size: -webkit-calc(22px + 26 * ((100vw - 320px) / 1080));
    font-size: calc(22px + 26 * ((100vw - 320px) / 1080));
  }
}
#samsungtv .column-samsungtv__text p {
  font-size: 28px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}
@media (max-width: 1400px) {
  #samsungtv .column-samsungtv__text p {
    font-size: -webkit-calc(16px + 12 * ((100vw - 320px) / 1080));
    font-size: calc(16px + 12 * ((100vw - 320px) / 1080));
  }
}
#samsungtv .column-samsungtv__text span {
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 15px;
  text-align: center;
  display: block;
  font-weight: bold;
  color: #fff;
}
@media (max-width: 1400px) {
  #samsungtv .column-samsungtv__text span {
    font-size: -webkit-calc(16px + 16 * ((100vw - 320px) / 1080));
    font-size: calc(16px + 16 * ((100vw - 320px) / 1080));
  }
}
#samsungtv .quality-samsungtv__title {
  padding: 88px 88px 0;
}
#samsungtv .quality-samsungtv__title h2 {
  font-size: 60px;
  line-height: 1.2;
  margin-bottom: 60px;
}
@media (max-width: 1400px) {
  #samsungtv .quality-samsungtv__title h2 {
    font-size: -webkit-calc(22px + 38 * ((100vw - 320px) / 1080));
    font-size: calc(22px + 38 * ((100vw - 320px) / 1080));
  }
}
#samsungtv .quality-samsungtv__row {
  overflow: hidden;
}
#samsungtv .quality-samsungtv__slider {
  width: 64%;
  margin: 0;
  overflow: visible;
}
#samsungtv .quality-samsungtv__text {
  padding-top: 40px;
}
@media (max-width: 1400px) {
  #samsungtv .quality-samsungtv__text {
    padding-top: -webkit-calc(15px + 25 * ((100vw - 320px) / 1080));
    padding-top: calc(15px + 25 * ((100vw - 320px) / 1080));
  }
}
#samsungtv .quality-samsungtv__text h2 {
  font-size: 38px;
  line-height: 1.2;
  margin-bottom: 10px;
}
@media (max-width: 1400px) {
  #samsungtv .quality-samsungtv__text h2 {
    font-size: -webkit-calc(20px + 18 * ((100vw - 320px) / 1080));
    font-size: calc(20px + 18 * ((100vw - 320px) / 1080));
  }
}
#samsungtv .quality-samsungtv__text span {
  font-size: 22px;
  line-height: 1.2;
  margin-bottom: 10px;
  font-weight: bold;
  display: block;
}
@media (max-width: 1400px) {
  #samsungtv .quality-samsungtv__text span {
    font-size: -webkit-calc(18px + 4 * ((100vw - 320px) / 1080));
    font-size: calc(18px + 4 * ((100vw - 320px) / 1080));
  }
}
#samsungtv .quality-samsungtv__text p {
  font-size: 18px;
  line-height: 1.2;
}
@media (max-width: 1400px) {
  #samsungtv .quality-samsungtv__text p {
    font-size: -webkit-calc(16px + 2 * ((100vw - 320px) / 1080));
    font-size: calc(16px + 2 * ((100vw - 320px) / 1080));
  }
}

#samsungtv .swiper {
  padding-left: 60px;
  padding-bottom: 60px;
}
#samsungtv .swiper-button-prev {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
       -o-transform: rotate(-180deg);
          transform: rotate(-180deg);
  left: 10px;
}
#samsungtv .swiper-button-next {
  right: -50px;
}

#samsungtv .swiper-button-next, #samsungtv .swiper-button-prev {
  top: 30%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 40px;
  height: 40px;
}

#samsungtv .swiper-button-next:after, #samsungtv .swiper-button-prev:after {
  content: "";
  background: url("https://cdn.comfy.ua/media/x/img3/2360418/arrow.png") 0 0 no-repeat;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  width: 20px;
  height: 32px;
}

#samsungtv .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #000;
}

#samsungtv .swiper-pagination {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 15%;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  padding: 3px 5px;
  right: 0;
  margin: 0 auto;
}

#samsungtv .sound-samsungtv__title {
  padding: 88px 88px 0;
}
#samsungtv .sound-samsungtv__title h2 {
  font-size: 60px;
  line-height: 1.2;
  margin-bottom: 60px;
}
@media (max-width: 1400px) {
  #samsungtv .sound-samsungtv__title h2 {
    font-size: -webkit-calc(22px + 38 * ((100vw - 320px) / 1080));
    font-size: calc(22px + 38 * ((100vw - 320px) / 1080));
  }
}
#samsungtv .sound-samsungtv__row {
  overflow: hidden;
}
#samsungtv .sound-samsungtv__slider {
  width: 64%;
  margin: 0;
  overflow: visible;
}
#samsungtv .sound-samsungtv__text {
  padding-top: 40px;
}
@media (max-width: 1400px) {
  #samsungtv .sound-samsungtv__text {
    padding-top: -webkit-calc(15px + 25 * ((100vw - 320px) / 1080));
    padding-top: calc(15px + 25 * ((100vw - 320px) / 1080));
  }
}
#samsungtv .sound-samsungtv__text h2 {
  font-size: 38px;
  line-height: 1.2;
  margin-bottom: 10px;
}
@media (max-width: 1400px) {
  #samsungtv .sound-samsungtv__text h2 {
    font-size: -webkit-calc(20px + 18 * ((100vw - 320px) / 1080));
    font-size: calc(20px + 18 * ((100vw - 320px) / 1080));
  }
}
#samsungtv .sound-samsungtv__text span {
  font-size: 22px;
  line-height: 1.2;
  margin-bottom: 10px;
  font-weight: bold;
  display: block;
}
@media (max-width: 1400px) {
  #samsungtv .sound-samsungtv__text span {
    font-size: -webkit-calc(18px + 4 * ((100vw - 320px) / 1080));
    font-size: calc(18px + 4 * ((100vw - 320px) / 1080));
  }
}
#samsungtv .sound-samsungtv__text p {
  font-size: 18px;
  line-height: 1.2;
}
@media (max-width: 1400px) {
  #samsungtv .sound-samsungtv__text p {
    font-size: -webkit-calc(16px + 2 * ((100vw - 320px) / 1080));
    font-size: calc(16px + 2 * ((100vw - 320px) / 1080));
  }
}

#samsungtv .design-samsungtv__title {
  padding: 88px 88px 0;
}
#samsungtv .design-samsungtv__title h2 {
  font-size: 60px;
  line-height: 1.2;
  margin-bottom: 60px;
}
@media (max-width: 1400px) {
  #samsungtv .design-samsungtv__title h2 {
    font-size: -webkit-calc(22px + 38 * ((100vw - 320px) / 1080));
    font-size: calc(22px + 38 * ((100vw - 320px) / 1080));
  }
}
#samsungtv .design-samsungtv__row {
  overflow: hidden;
}
#samsungtv .design-samsungtv__slider {
  width: 64%;
  margin: 0;
  overflow: visible;
}
#samsungtv .design-samsungtv__text {
  padding-top: 40px;
}
@media (max-width: 1400px) {
  #samsungtv .design-samsungtv__text {
    padding-top: -webkit-calc(15px + 25 * ((100vw - 320px) / 1080));
    padding-top: calc(15px + 25 * ((100vw - 320px) / 1080));
  }
}
#samsungtv .design-samsungtv__text h2 {
  font-size: 38px;
  line-height: 1.2;
  margin-bottom: 10px;
}
@media (max-width: 1400px) {
  #samsungtv .design-samsungtv__text h2 {
    font-size: -webkit-calc(20px + 18 * ((100vw - 320px) / 1080));
    font-size: calc(20px + 18 * ((100vw - 320px) / 1080));
  }
}
#samsungtv .design-samsungtv__text span {
  font-size: 22px;
  line-height: 1.2;
  margin-bottom: 10px;
  font-weight: bold;
  display: block;
}
@media (max-width: 1400px) {
  #samsungtv .design-samsungtv__text span {
    font-size: -webkit-calc(18px + 4 * ((100vw - 320px) / 1080));
    font-size: calc(18px + 4 * ((100vw - 320px) / 1080));
  }
}
#samsungtv .design-samsungtv__text p {
  font-size: 18px;
  line-height: 1.2;
}
@media (max-width: 1400px) {
  #samsungtv .design-samsungtv__text p {
    font-size: -webkit-calc(16px + 2 * ((100vw - 320px) / 1080));
    font-size: calc(16px + 2 * ((100vw - 320px) / 1080));
  }
}

#samsungtv .play-samsungtv {
  padding-left: 60px;
  padding-right: 15px;
}
#samsungtv .play-samsungtv__title {
  padding: 88px 88px 0;
}
#samsungtv .play-samsungtv__title h2 {
  font-size: 60px;
  line-height: 1.2;
  margin-bottom: 60px;
}
@media (max-width: 1400px) {
  #samsungtv .play-samsungtv__title h2 {
    font-size: -webkit-calc(22px + 38 * ((100vw - 320px) / 1080));
    font-size: calc(22px + 38 * ((100vw - 320px) / 1080));
  }
}
#samsungtv .play-samsungtv__item {
  max-width: 900px;
}
#samsungtv .play-samsungtv__text {
  padding-top: 40px;
}
@media (max-width: 1400px) {
  #samsungtv .play-samsungtv__text {
    padding-top: -webkit-calc(15px + 25 * ((100vw - 320px) / 1080));
    padding-top: calc(15px + 25 * ((100vw - 320px) / 1080));
  }
}
#samsungtv .play-samsungtv__text h2 {
  font-size: 38px;
  line-height: 1.2;
  margin-bottom: 10px;
}
@media (max-width: 1400px) {
  #samsungtv .play-samsungtv__text h2 {
    font-size: -webkit-calc(20px + 18 * ((100vw - 320px) / 1080));
    font-size: calc(20px + 18 * ((100vw - 320px) / 1080));
  }
}
#samsungtv .play-samsungtv__text span {
  font-size: 22px;
  line-height: 1.2;
  margin-bottom: 10px;
  font-weight: bold;
  display: block;
}
@media (max-width: 1400px) {
  #samsungtv .play-samsungtv__text span {
    font-size: -webkit-calc(18px + 4 * ((100vw - 320px) / 1080));
    font-size: calc(18px + 4 * ((100vw - 320px) / 1080));
  }
}
#samsungtv .play-samsungtv__text p {
  font-size: 18px;
  line-height: 1.2;
}
@media (max-width: 1400px) {
  #samsungtv .play-samsungtv__text p {
    font-size: -webkit-calc(16px + 2 * ((100vw - 320px) / 1080));
    font-size: calc(16px + 2 * ((100vw - 320px) / 1080));
  }
}

#samsungtv .spec-samsungtv__title {
  padding: 88px 88px 0;
}
#samsungtv .spec-samsungtv__title h2 {
  font-size: 60px;
  line-height: 1.2;
  margin-bottom: 60px;
}
@media (max-width: 1400px) {
  #samsungtv .spec-samsungtv__title h2 {
    font-size: -webkit-calc(22px + 38 * ((100vw - 320px) / 1080));
    font-size: calc(22px + 38 * ((100vw - 320px) / 1080));
  }
}
#samsungtv .spec-samsungtv__row {
  overflow: hidden;
}
#samsungtv .spec-samsungtv__slider {
  width: 64%;
  margin: 0;
  overflow: visible;
}
#samsungtv .spec-samsungtv__text {
  padding-top: 40px;
}
@media (max-width: 1400px) {
  #samsungtv .spec-samsungtv__text {
    padding-top: -webkit-calc(15px + 25 * ((100vw - 320px) / 1080));
    padding-top: calc(15px + 25 * ((100vw - 320px) / 1080));
  }
}
#samsungtv .spec-samsungtv__text h2 {
  font-size: 38px;
  line-height: 1.2;
  margin-bottom: 10px;
}
@media (max-width: 1400px) {
  #samsungtv .spec-samsungtv__text h2 {
    font-size: -webkit-calc(20px + 18 * ((100vw - 320px) / 1080));
    font-size: calc(20px + 18 * ((100vw - 320px) / 1080));
  }
}
#samsungtv .spec-samsungtv__text span {
  font-size: 22px;
  line-height: 1.2;
  margin-bottom: 10px;
  font-weight: bold;
  display: block;
}
@media (max-width: 1400px) {
  #samsungtv .spec-samsungtv__text span {
    font-size: -webkit-calc(18px + 4 * ((100vw - 320px) / 1080));
    font-size: calc(18px + 4 * ((100vw - 320px) / 1080));
  }
}
#samsungtv .spec-samsungtv__text p {
  font-size: 18px;
  line-height: 1.2;
}
@media (max-width: 1400px) {
  #samsungtv .spec-samsungtv__text p {
    font-size: -webkit-calc(16px + 2 * ((100vw - 320px) / 1080));
    font-size: calc(16px + 2 * ((100vw - 320px) / 1080));
  }
}

@media screen and (max-width: 767.98px) {
  #samsungtv .column-samsungtv__box {
    padding: 20px 15px 0;
  }
  #samsungtv .quality-samsungtv__title,
  #samsungtv .sound-samsungtv__title,
  #samsungtv .design-samsungtv__title,
  #samsungtv .play-samsungtv__title,
  #samsungtv .spec-samsungtv__title {
    padding: 40px 15px 0;
  }
  #samsungtv .quality-samsungtv__title h2,
  #samsungtv .sound-samsungtv__title h2,
  #samsungtv .design-samsungtv__title h2,
  #samsungtv .play-samsungtv__title h2,
  #samsungtv .spec-samsungtv__title h2 {
    text-align: center;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 720px) {
  #samsungtv .header-samsungtv__text {
    width: auto;
    top: 10%;
    left: 0;
    padding: 0 15px;
  }
  #samsungtv .header-samsungtv__text h2 {
    text-align: center;
  }
  #samsungtv .swiper-pagination {
    width: 22%;
  }
}
@media screen and (max-width: 601px) {
  #samsungtv .swiper-button-next, #samsungtv .swiper-button-prev {
    display: none;
  }
  #samsungtv .swiper,
  #samsungtv .play-samsungtv {
    padding-left: 15px;
  }
}
@media screen and (max-width: 479.98px) {
  #samsungtv .swiper {
    padding-right: 15px;
  }
  #samsungtv .quality-samsungtv__slider,
  #samsungtv .sound-samsungtv__slider,
  #samsungtv .design-samsungtv__slider,
  #samsungtv .spec-samsungtv__slider {
    width: auto;
  }
  #samsungtv .quality-samsungtv__text h2, #samsungtv .quality-samsungtv__text span, #samsungtv .quality-samsungtv__text p,
  #samsungtv .sound-samsungtv__text h2,
  #samsungtv .sound-samsungtv__text span,
  #samsungtv .sound-samsungtv__text p,
  #samsungtv .design-samsungtv__text h2,
  #samsungtv .design-samsungtv__text span,
  #samsungtv .design-samsungtv__text p,
  #samsungtv .play-samsungtv__text h2,
  #samsungtv .play-samsungtv__text span,
  #samsungtv .play-samsungtv__text p,
  #samsungtv .spec-samsungtv__text h2,
  #samsungtv .spec-samsungtv__text span,
  #samsungtv .spec-samsungtv__text p {
    text-align: center;
  }
  #samsungtv .quality-samsungtv__title h2,
  #samsungtv .sound-samsungtv__title h2,
  #samsungtv .design-samsungtv__title h2,
  #samsungtv .play-samsungtv__title h2,
  #samsungtv .spec-samsungtv__title h2 {
    text-align: center;
    margin-bottom: 18px;
  }
}/*# sourceMappingURL=style.css.map */