// html,
// body
//     height: 100%
//     min-width: 320px

// button
//     cursor: pointer
//     color: inherit
//     background-color: inherit

//========================================================================================================================================================

#maincontent a
    color: inherit
    text-decoration: none

#maincontent ul,
ol,
li
    list-style: none
    padding: 0
    margin: 0

#maincontent .bc-description__content p
    margin-bottom: 0

#maincontent .bc-description__content h3
    text-align: left

#maincontent p
    margin: 0
    padding: 0
    text-align: left

#maincontent h1,
#maincontent h2,
#maincontent h3,
#maincontent h4,
#maincontent h5,
#maincontent h6
    padding: 0
    margin: 0
    text-align: left
    text-transform: none
    font-weight: bold

#maincontent
    margin: 0 auto
    overflow: hidden
    background-color: #ffffff

#maincontent p::first-letter
    padding-left: 0

#maincontent img
    opacity: 1
    max-width: 100%
    display: block
    // margin: 0
    margin: 0 auto

#maincontent img:hover
    opacity: 1

@mixin fonts($fontSize, $lineHeight)
    font:
        size: $fontSize
    line:
        height: $lineHeight

@mixin flex-box($justifyContent, $alignItems)
    display: flex
    justify-content: $justifyContent
    align-items: $alignItems

@mixin bg-image($url)
    background:
        image: $url
    background:
        repeat: no-repeat
    background:
        position: top center
    background:
        size: cover

@mixin position($position, $zIndex)
    position: $position
    z-index: $zIndex

//========================================================================================================================================================
#maincontent .maincontent
    &__container
        max-width: 1600px
        margin: 0 auto
        padding: 0 15px
        h2
            @include fonts($fontSize: 48px, $lineHeight: 1.04)
            font-weight: 600
            margin: 20px 0px
            text-align: center
        p
            @include fonts($fontSize: 20px, $lineHeight: 1.3)
            font-weight: 400
            margin-bottom: 10px
            text-align: center
            color: #333
    &__box
        @include position($position: relative, $zIndex: 5)
    &__text
        @include position($position: absolute, $zIndex: 6)
        max-width: 768px
        padding: 0 15px
        &_w
            h2, p
                color: #fff

#maincontent .lg-6motion
    &__text
        top: 12%
        left: 50%
        margin-right: -50%
        transform: translate(-50%, -50%)

#maincontent .lg-durability
    &__box
        background-color: #000
        // padding: 20px 15px
        padding-top: 20px
    &__text
        position: unset
        margin: 0 auto
        // max-width: 100%
        // top: 87%
        // left: 50%
        // margin-right: -50%
        // transform: translate(-50%, -50%)

#maincontent .lg-silence
    &__text
        top: 30%
        left: 30px
        width: 40%
        h2, p
            text-align: left

#maincontent .lg-warranty
    &__text
        top: 30%
        left: 30px
        width: 50%
        h2, p
            text-align: left

#maincontent .lg-diagnisis
    &__text
        position: unset
        margin: 0 auto
        // max-width: 100%
        // top: 30%
        // left: 48%
        // right: 15px
        // width: 50%
        // h2, p
        //     text-align: left

// #maincontent .row-maincontent
//     &__inner
//         @include flex-box($justifyContent: center, $alignItems: center)
//         &_rev
//             flex-direction: row-reverse
//     &__item
//         flex: 0 1 50%
//     &__text
//         padding: 10px 20px
//     &__image
//         flex: 0 1 50%

//===========MEDIA=============================================================================================================================================
@media screen and (max-width: 1540px)
    #maincontent .maincontent
        &__container
            h2
                font-size: calc( 22px + (48 - 22) * ((100vw - 320px)/(1540 - 320)))
            p
                font-size: calc( 16px + (20 - 16) * ((100vw - 320px)/(1540 - 320)))
@media screen and (max-width: 1360.98px)
    #maincontent .lg-silence
        &__text
            top: 20%
@media screen and (max-width: 1200.98px)
    #maincontent .lg-silence
        &__text
            top: 16%
    #maincontent .lg-warranty
        &__text
            top: 18%
    #maincontent .lg-diagnisis
        &__text
            top: 20%
@media screen and (max-width: 1100.98px)
    #maincontent .lg-silence
        &__text
            top: 10%
    #maincontent .lg-warranty
        &__text
            top: 10%
@media screen and (max-width: 1024.98px)
    // #maincontent .lg-warranty
    //     &__text
    //         top: 25%
@media screen and (max-width: 991.98px)
    #maincontent .lg-silence
        &__text
            top: 0
            left: 15px
            width: 45%
    #maincontent .lg-warranty
        &__text
            top: 5%
            left: 15px
    #maincontent .lg-diagnisis
        &__text
            top: 5%
@media screen and (max-width: 860.98px)
    #maincontent .lg-silence
        &__text
            width: 50%
    #maincontent .lg-diagnisis
        &__text
            top: -10px
@media screen and (max-width: 800.98px)
    #maincontent .lg-silence
        &__text
            top: -10px
            h2
                margin-bottom: 10px
    #maincontent .lg-diagnisis
        &__text
            h2
                margin-bottom: 10px
@media screen and (max-width: 767.98px)
    #maincontent .maincontent
        &__container
            h2
                margin: 10px 0
        &__text
            position: unset
            width: auto
            margin: 0 auto
            transform: translate(0, 0)
    #maincontent .lg-6motion
        &__box
            background-color: #444444
        &__text
            h2
                padding-top: 20px
    #maincontent .lg-durability
        &__box
            background-color: #101010
        &__text
            h2
                margin-top: 0
                padding-top: 20px
    #maincontent .lg-silence, #maincontent .lg-warranty, #maincontent .lg-diagnisis
        &__text
            h2, p
                text-align: center
//@media screen and (max-width: 479.98px)
