// html,
// body
//     height: 100%
//     min-width: 320px

// button
//     cursor: pointer
//     color: inherit
//     background-color: inherit

//========================================================================================================================================================

#maincontent a
    color: inherit
    text-decoration: none

#maincontent ul,
ol,
li
    list-style: none
    padding: 0
    margin: 0

#maincontent .bc-description__content p
    margin-bottom: 0

#maincontent .bc-description__content h3
    text-align: left

#maincontent p
    margin: 0
    padding: 0

#maincontent h1,
#maincontent h2,
#maincontent h3,
#maincontent h4,
#maincontent h5,
#maincontent h6
    padding: 0
    margin: 0
    text-align: left
    text-transform: none
    font-weight: bold

#maincontent
    margin: 0 auto
    overflow: hidden
    background-color: #ffffff

#maincontent p::first-letter
    padding-left: 0

[class*="__container"]
    max-width: 1300px
    margin: 0 auto
    padding: 0 15px

#maincontent img
    opacity: 1
    max-width: 100%
    display: block
    margin: 0

#maincontent img:hover
    opacity: 1

@mixin fonts($fontSize, $lineHeight)
    font:
        size: $fontSize
    line:
        height: $lineHeight

@mixin flex-box($justifyContent, $alignItems)
    display: flex
    justify-content: $justifyContent
    align-items: $alignItems

@mixin bg-image($url)
    background:
        image: $url
    background:
        repeat: no-repeat
    background:
        position: top center
    background:
        size: cover

//========================================================================================================================================================


//===========STYLES=======================================================================================================
#maincontent .esm-content
    display: block
    font-family: 'Roboto', 'Arial', sans-serif
    margin: 0 auto
    padding: 0
    border: 0
    color: black

    *
        box-sizing: border-box
        line-height: 1.5

#maincontent .esm-content

    a, div, h1, h2, h3, h4, h5, h6, img, li, ol, p, span, strong, table, tbody, td, th, thead, tr, ul
        margin: 0
        padding: 0
        border: 0
        display: block

#maincontent .esm-content .esm-row
    display: -webkit-box
    display: -webkit-flex
    display: -ms-flexbox
    display: flex
    -webkit-box-align: stretch
    -webkit-align-items: stretch
    -ms-flex-align: stretch
    align-items: stretch
    -webkit-flex-wrap: wrap
    -ms-flex-wrap: wrap
    flex-wrap: wrap
    margin: 0px

#maincontent .esm-content .esm-col-8
    width: 66.6666%

#maincontent .esm-content .esm-col-9
    width: 75%

#maincontent .esm-content .esm-col-12
    width: 100%

#maincontent .esm-content
    p, span
        display: block
        font-size: 14px
        font-weight: normal
        color: #434343

    img
        display: block
        max-width: 100%
        width: unset
        border: 0
        margin: 0 auto

#maincontent .esm-content .esm-row-reverse
    flex-direction: row-reverse

#maincontent .esm-info-section
    margin: 15px 0
    align-items: center
    background-position: top center
    background-repeat: no-repeat
    background-size: cover

    p
        text-align: center
        color: #5f5a5a

#maincontent .esm-info-section .esm-col-12
    margin-bottom: 15px

#maincontent .esm-content .esm-info-section p.esm-font-16
    font-size: 16px
    padding-bottom: 10px
    color: black

    span
        font-size: 18px
#maincontent .esm-content .esm-info-section
    p
        span
            color: #1495d6
            display: inline-block
            font-weight: bold
            font-size: 15px

#maincontent .esm-content .esm-info-section-2
    position: relative
    top: 0
    z-index: 1
    min-height: 90px

#maincontent .esm-content .esm-image-packshot
    position: absolute
    bottom: 50%
    right: 0%
    z-index: 2
    max-width: 275px
    max-height: 275px
    width: 50%

#maincontent .esm-content .esm-features-section
    min-height: 355px
    background-repeat: no-repeat
    background-size: cover
    background-position-x: right
    max-width: 1200px
    margin: 0 auto

.esm-content .esm-features-section .esm-feature-box
    align-items: center
    padding: 10px auto

#maincontent .esm-content .esm-features-section .esm-feature-box .esm-feature-icon-box
    background-color: white
    margin: 0 0 0 4%
    padding: 10px 0
    height: 100%
    align-items: center

#maincontent .esm-content .esm-features-section .esm-feature-box .esm-feature-description
    padding: 25px

    p
        color: white

#maincontent .esm-content .esm-technologies-section
    max-width: 1200px
    margin: 0 auto

#maincontent .esm-content .esm-technologies-section .esm-technologies-box
    text-align: center
    padding: 25px

#maincontent .esm-content .esm-technologies-section .esm-technologies-box .esm-technologies-name
    font-size: 14px
    font-weight: bold
    display: block
    color: #1495d6
    padding: 15px 0

#maincontent .esm-content .esm-technologies-section .esm-technologies-box .esm-icon
    max-height: 100px
    max-width: 100px
    margin: 0 auto

#maincontent .esm-content .esm-technologies-section .esm-technologies-box.esm-col-12 .esm-icon
    max-height: 150px
    max-width: 150px

#maincontent .esm-content .esm-benefits-section
    max-width: 1200px
    margin: 0 auto
#maincontent .esm-benefits-section .esm-benefit-box
    align-items: center

#maincontent .esm-content .esm-benefits-section .esm-custom-benefit-box
    padding: 25px

#maincontent .esm-content .esm-benefits-section .esm-custom-benefit-box .esm-benefit-description
    text-align: center

#maincontent .esm-content .esm-benefits-section .esm-benefit-box .esm-benefit-description
    padding: 25px

#maincontent .esm-content .esm-benefits-section .esm-benefit-box .esm-benefit-description .esm-benefit-name
    font-size: 18px
    color: #1495d6
    line-height: 1.3
    padding-bottom: 15px

#maincontent .esm-content .esm-benefits-section .esm-benefit-box .esm-image
    max-width: 600px

    img
        border-radius: 0 25px 25px 0

#maincontent .esm-content .esm-benefits-section .esm-benefit-box.esm-row-reverse .esm-image
    img
        border-radius: 25px 0 0 25px

#maincontent .esm-content .esm-benefits-section .esm-benefit-box .esm-benefit-description .esm-benefit-tech-name
    font-size: 22px
    color: #1495d6
    line-height: 1.3
    padding-bottom: 5px

@media only screen and (min-width: 0px)
    #maincontent .esm-content .esm-col-s-1
        width: 8.3333%

    #maincontent .esm-content .esm-col-s-2
        width: 16.6666%

    #maincontent .esm-content .esm-col-s-3
        width: 25%

    #maincontent .esm-content .esm-col-s-4
        width: 33.3333%

    #maincontent .esm-content .esm-col-s-5
        width: 41.6666%

    #maincontent .esm-content .esm-col-s-6
        width: 50%

    #maincontent .esm-content .esm-col-s-7
        width: 58.3333%

    #maincontent .esm-content .esm-col-s-8
        width: 66.6666%

    #maincontent .esm-content .esm-col-s-9
        width: 75%

    #maincontent .esm-content .esm-col-s-10
        width: 83.3333%

    #maincontent .esm-content .esm-col-s-11
        width: 91.6666%

    #maincontent .esm-content .esm-col-s-12
        width: 100%

@media screen and (max-width: 479.98px)
    #maincontent .esm-content .esm-features-section .esm-feature-box .esm-feature-description
        padding: 17px 10px
    #maincontent .esm-content .esm-technologies-section .esm-technologies-box
        padding: 10px
    #maincontent .esm-content .esm-benefits-section .esm-benefit-box
        padding: 15px 10px
    #maincontent .esm-content .esm-benefits-section .esm-benefit-box .esm-benefit-description
        padding: 15px 0

@media screen and (min-width: 600px)    
    #maincontent .esm-content .esm-col-m-1
        width: 8.3333%

    #maincontent .esm-content .esm-col-m-2
        width: 16.6666%

    #maincontent .esm-content .esm-col-m-3
        width: 25%

    #maincontent .esm-content .esm-col-m-4
        width: 33.3333%

    #maincontent .esm-content .esm-col-m-5
        width: 41.6666%

    #maincontent .esm-content .esm-col-m-6
        width: 50%

    #maincontent .esm-content .esm-col-m-7
        width: 58.3333%

    #maincontent .esm-content .esm-col-m-8
        width: 66.6666%

    #maincontent .esm-content .esm-col-m-9
        width: 75%

    #maincontent .esm-content .esm-col-m-10
        width: 83.3333%

    #maincontent .esm-content .esm-col-m-11
        width: 91.6666%

    #maincontent .esm-content .esm-col-m-12
        width: 100%

@media screen and (max-width: 600px)    
    #maincontent .esm-content .esm-benefits-section .esm-benefit-box.esm-row-reverse .esm-image
        img
            border-radius: 0px
    #maincontent .esm-content .esm-benefits-section .esm-benefit-box .esm-image
        img
            border-radius: 0px

@media screen and (max-width: 670.98px)
    #maincontent .esm-content .esm-image-packshot
        right: -15%

@media screen and (min-width: 920px)
    #maincontent .esm-content .esm-col-1
        width: 8.3333%

    #maincontent .esm-content .esm-col-2
        width: 16.6666%

    #maincontent .esm-content .esm-col-3
        width: 25%

    #maincontent .esm-content .esm-col-4
        width: 33.3333%

    #maincontent .esm-content .esm-col-5
        width: 41.6666%

    #maincontent .esm-content .esm-col-6
        width: 50%

    #maincontent .esm-content .esm-col-7
        width: 58.3333%

    #maincontent .esm-content .esm-col-8
        width: 66.6666%

    #maincontent .esm-content .esm-col-9
        width: 75%

    #maincontent .esm-content .esm-col-10
        width: 83.3333%

    #maincontent .esm-content .esm-col-11
        width: 91.6666%

    #maincontent .esm-content .esm-col-12
        width: 100%

@media screen and (max-width: 919px)
    #maincontent .esm-content .esm-benefits-section .esm-benefit-box .esm-benefit-description
        text-align: center

#maincontent .esm-features-section
        background-color: #5aabd6



//===========MEDIA=============================================================================================================================================
// @media screen and (max-width: 1540px)
//     #maincontent .maincontent
//         &__container
//             h2
//                 font-size: calc( 22px + (32 - 22) * ((100vw - 320px)/(1540 - 320)))
//             h3
//                 font-size: calc( 20px + (28 - 20) * ((100vw - 320px)/(1540 - 320)))
//             p
//                 font-size: calc( 16px + (24 - 16) * ((100vw - 320px)/(1540 - 320)))
//@media screen and (max-width: 1300px)
//@media screen and (max-width: 1024.98px)
//@media screen and (max-width: 991.98px)
//@media screen and (max-width: 767.98px)
//@media screen and (max-width: 479.98px)
