html,
body {
  height: 100%;
  min-width: 320px;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

#sonicare a {
  color: inherit;
  text-decoration: none;
}

#sonicare ul,
#sonicare ol,
#sonicare li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#sonicare .bc-description__content p {
  margin-bottom: 0;
}

#sonicare .bc-description__content h3 {
  text-align: left;
}

#sonicare h1, #sonicare h2, #sonicare h3, #sonicare h4, #sonicare h5, #sonicare h6 {
  text-transform: none;
  font-weight: bold;
}

#sonicare {
  margin: 0 auto;
  overflow: hidden;
  background-color: #ffffff;
}
#sonicare h1, #sonicare h2, #sonicare h3, #sonicare h4, #sonicare h5, #sonicare h6, #sonicare p {
  margin: 0;
  padding: 0;
  text-align: left;
}

#sonicare p::first-letter {
  padding-left: 0;
}

#sonicare img {
  opacity: 1;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#sonicare img:hover {
  opacity: 1;
}

#sonicare .sonicare__container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 15px;
}

#sonicare .header-sonicare__box {
  padding: 30px 0;
}
#sonicare .header-sonicare__box h2 {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 8px;
  font-weight: 700;
}
@media (max-width: 1500px) {
  #sonicare .header-sonicare__box h2 {
    font-size: -webkit-calc(16px + 20 * ((100vw - 320px) / 1180));
    font-size: calc(16px + 20 * ((100vw - 320px) / 1180));
  }
}
#sonicare .header-sonicare__box p {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  font-weight: 300;
}
@media (max-width: 1500px) {
  #sonicare .header-sonicare__box p {
    font-size: -webkit-calc(16px + 20 * ((100vw - 320px) / 1180));
    font-size: calc(16px + 20 * ((100vw - 320px) / 1180));
  }
}
#sonicare .header-sonicare__bg {
  position: relative;
  z-index: 2;
}
#sonicare .header-sonicare__icon {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 4%;
  right: 80%;
}
#sonicare .video-sonicare {
  padding: 50px 0;
}
#sonicare .video-sonicare__media {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  padding-bottom: 56%;
}
#sonicare .video-sonicare__media iframe {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#sonicare .column-sonicare__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1420px;
  margin: 0 auto;
}
#sonicare .column-sonicare__inner_rev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
#sonicare .column-sonicare__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
#sonicare .column-sonicare__text {
  width: 80%;
  margin: 0 auto;
}
#sonicare .column-sonicare__text h2 {
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 10px;
  font-weight: 700;
}
@media (max-width: 1500px) {
  #sonicare .column-sonicare__text h2 {
    font-size: -webkit-calc(18px + 18 * ((100vw - 320px) / 1180));
    font-size: calc(18px + 18 * ((100vw - 320px) / 1180));
  }
}
#sonicare .column-sonicare__text p {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
}
@media (max-width: 1500px) {
  #sonicare .column-sonicare__text p {
    font-size: -webkit-calc(16px + 8 * ((100vw - 320px) / 1180));
    font-size: calc(16px + 8 * ((100vw - 320px) / 1180));
  }
}
#sonicare .column-sonicare__text ul {
  padding-left: 20px;
}
#sonicare .column-sonicare__text li {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
  list-style-type: disc;
}
@media (max-width: 1500px) {
  #sonicare .column-sonicare__text li {
    font-size: -webkit-calc(16px + 8 * ((100vw - 320px) / 1180));
    font-size: calc(16px + 8 * ((100vw - 320px) / 1180));
  }
}
#sonicare .column-sonicare__image {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

#sonicare .row-sonicare {
  padding: 50px 0;
}
#sonicare .row-sonicare__title {
  margin-bottom: 50px;
}
#sonicare .row-sonicare__title h2 {
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 10px;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 1500px) {
  #sonicare .row-sonicare__title h2 {
    font-size: -webkit-calc(18px + 18 * ((100vw - 320px) / 1180));
    font-size: calc(18px + 18 * ((100vw - 320px) / 1180));
  }
}
#sonicare .row-sonicare__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
  max-width: 1420px;
  margin: 0 auto;
}
#sonicare .row-sonicare__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
#sonicare .row-sonicare__icon {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 190px;
     -moz-box-flex: 0;
      -ms-flex: 0 0 190px;
          flex: 0 0 190px;
}
#sonicare .row-sonicare__text p {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
}
@media (max-width: 1500px) {
  #sonicare .row-sonicare__text p {
    font-size: -webkit-calc(16px + 20 * ((100vw - 320px) / 1180));
    font-size: calc(16px + 20 * ((100vw - 320px) / 1180));
  }
}

#sonicare .footer-sonicare__title {
  padding: 50px 0 40px;
}
#sonicare .footer-sonicare__title h2 {
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 10px;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 1500px) {
  #sonicare .footer-sonicare__title h2 {
    font-size: -webkit-calc(18px + 18 * ((100vw - 320px) / 1180));
    font-size: calc(18px + 18 * ((100vw - 320px) / 1180));
  }
}
#sonicare .footer-sonicare__text {
  padding: 50px 0px 20px 50px;
}
#sonicare .footer-sonicare__text p {
  font-size: 14px;
  line-height: 1.2;
}

@media screen and (max-width: 767.98px) {
  #sonicare .column-sonicare__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #sonicare .column-sonicare__text {
    width: auto;
    padding: 15px 0 10px;
  }
  #sonicare .column-sonicare__text h2, #sonicare .column-sonicare__text p {
    text-align: center;
  }
  #sonicare .row-sonicare__icon {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 80px;
       -moz-box-flex: 0;
        -ms-flex: 0 0 80px;
            flex: 0 0 80px;
  }
  #sonicare .row-sonicare__item,
  #sonicare .row-sonicare__inner {
    gap: 20px;
  }
  #sonicare .row-sonicare__title {
    margin-bottom: 20px;
  }
  #sonicare .footer-sonicare__text {
    padding: 30px 0px 20px 20px;
  }
  #sonicare .footer-sonicare__title {
    padding: 30px 0 20px;
  }
}
@media screen and (max-width: 479.98px) {
  #sonicare .header-sonicare__box {
    padding: 20px 0 10px;
  }
  #sonicare .video-sonicare {
    padding: 10px 0 10px;
  }
}/*# sourceMappingURL=style.css.map */