@charset "UTF-8";
#oppoa18 ul,
#oppoa18 ol,
#oppoa18 li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#oppoa18 .bc-description__content p {
  margin-bottom: 0;
}

#oppoa18 .bc-description__content h3 {
  text-align: left;
}

#oppoa18 h1, #oppoa18 h2, #oppoa18 h3, #oppoa18 h4, #oppoa18 h5, #oppoa18 h6 {
  text-transform: none;
  font-weight: bold;
}

#oppoa18 {
  margin: 0 auto;
  overflow: hidden;
  background-color: #ffffff;
  max-width: 1920px;
}
#oppoa18 h1, #oppoa18 h2, #oppoa18 h3, #oppoa18 h4, #oppoa18 h5, #oppoa18 h6, #oppoa18 p {
  margin: 0;
  padding: 0;
  text-align: left;
}

#oppoa18 p::first-letter {
  padding-left: 0;
}

#oppoa18 img {
  opacity: 1;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#oppoa18 img:hover {
  opacity: 1;
}

#oppoa18 .oppoa18__container {
  max-width: 1282px;
  margin: 0 auto;
  padding: 0 15px;
}

#oppoa18 .header-oppoa18__bg {
  position: relative;
  z-index: 2;
}
#oppoa18 .header-oppoa18__title {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 1%;
}
#oppoa18 .header-oppoa18__title h2 {
  font-size: 128px;
  line-height: 1;
}
@media (max-width: 1280px) {
  #oppoa18 .header-oppoa18__title h2 {
    font-size: -webkit-calc(60px + 68 * ((100vw - 320px) / 960));
    font-size: calc(60px + 68 * ((100vw - 320px) / 960));
  }
}
#oppoa18 .header-oppoa18__text {
  position: absolute;
  z-index: 5;
  bottom: 1%;
  left: 1%;
}
#oppoa18 .header-oppoa18__text p {
  font-size: 24px;
  line-height: 1.2;
}
@media (max-width: 1280px) {
  #oppoa18 .header-oppoa18__text p {
    font-size: -webkit-calc(16px + 8 * ((100vw - 320px) / 960));
    font-size: calc(16px + 8 * ((100vw - 320px) / 960));
  }
}
#oppoa18 .header-oppoa18__text p:not(:last-child) {
  margin-bottom: 2px;
}

#oppoa18 .osobennosti-oppoa18 {
  padding: 20px 0 40px;
}
#oppoa18 .osobennosti-oppoa18__title h2 {
  font-size: 42px;
  line-height: 1.2;
  text-align: center;
  padding: 30px 0;
}
@media (max-width: 1280px) {
  #oppoa18 .osobennosti-oppoa18__title h2 {
    font-size: -webkit-calc(22px + 20 * ((100vw - 320px) / 960));
    font-size: calc(22px + 20 * ((100vw - 320px) / 960));
  }
}
#oppoa18 .osobennosti-oppoa18__row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: dense;
  gap: 10px;
}
#oppoa18 .osobennosti-oppoa18__item:nth-child(1) {
  grid-row: span 2;
}
#oppoa18 .osobennosti-oppoa18__text {
  padding: 0 10px;
  min-height: 56px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(250, 250, 250);
}
#oppoa18 .osobennosti-oppoa18__text p {
  font-size: 15px;
  line-height: 1.2;
  font-weight: bold;
}

#oppoa18 .oput-oppoa18 {
  background-color: #000000;
}
#oppoa18 .oput-oppoa18__title {
  padding-top: 50px;
  margin-bottom: 50px;
}
#oppoa18 .oput-oppoa18__title h2 {
  font-size: 42px;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
}
@media (max-width: 1280px) {
  #oppoa18 .oput-oppoa18__title h2 {
    font-size: -webkit-calc(22px + 20 * ((100vw - 320px) / 960));
    font-size: calc(22px + 20 * ((100vw - 320px) / 960));
  }
}
#oppoa18 .oput-oppoa18__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}
#oppoa18 .oput-oppoa18__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
#oppoa18 .oput-oppoa18__item h2 {
  font-size: 32px;
  line-height: 1.2;
  color: #ffffff;
  margin-bottom: 5px;
}
@media (max-width: 1280px) {
  #oppoa18 .oput-oppoa18__item h2 {
    font-size: -webkit-calc(18px + 14 * ((100vw - 320px) / 960));
    font-size: calc(18px + 14 * ((100vw - 320px) / 960));
  }
}
#oppoa18 .oput-oppoa18__item span {
  font-size: 32px;
  line-height: 1.2;
  color: #ffffff;
  opacity: 0.6;
  display: block;
}
@media (max-width: 1280px) {
  #oppoa18 .oput-oppoa18__item span {
    font-size: -webkit-calc(18px + 14 * ((100vw - 320px) / 960));
    font-size: calc(18px + 14 * ((100vw - 320px) / 960));
  }
}
#oppoa18 .oput-oppoa18__item p {
  font-size: 20px;
  line-height: 1.2;
  color: #ffffff;
}
@media (max-width: 1280px) {
  #oppoa18 .oput-oppoa18__item p {
    font-size: -webkit-calc(16px + 4 * ((100vw - 320px) / 960));
    font-size: calc(16px + 4 * ((100vw - 320px) / 960));
  }
}
#oppoa18 .oput-oppoa18__image {
  margin-bottom: 10px;
}
#oppoa18 .oput-oppoa18__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}
#oppoa18 .oput-oppoa18__text {
  background-color: rgb(32, 31, 28);
  padding: 40px 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 33.33333%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 33.33333%;
          flex: 0 1 33.33333%;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}
#oppoa18 .oput-oppoa18__text p {
  font-size: 24px;
  line-height: 1.2;
  color: #ffffff;
}
@media (max-width: 1280px) {
  #oppoa18 .oput-oppoa18__text p {
    font-size: -webkit-calc(16px + 8 * ((100vw - 320px) / 960));
    font-size: calc(16px + 8 * ((100vw - 320px) / 960));
  }
}

#oppoa18 .display-oppoa18 {
  background-color: #000000;
  padding-top: 100px;
}
#oppoa18 .display-oppoa18__text {
  width: 90%;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}
#oppoa18 .display-oppoa18__text h2 {
  font-size: 42px;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
}
@media (max-width: 1280px) {
  #oppoa18 .display-oppoa18__text h2 {
    font-size: -webkit-calc(22px + 20 * ((100vw - 320px) / 960));
    font-size: calc(22px + 20 * ((100vw - 320px) / 960));
  }
}
#oppoa18 .display-oppoa18__text span {
  display: block;
  font-size: 42px;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
  opacity: 0.6;
  margin-bottom: 10px;
}
@media (max-width: 1280px) {
  #oppoa18 .display-oppoa18__text span {
    font-size: -webkit-calc(22px + 20 * ((100vw - 320px) / 960));
    font-size: calc(22px + 20 * ((100vw - 320px) / 960));
  }
}
#oppoa18 .display-oppoa18__text p {
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
}
@media (max-width: 1280px) {
  #oppoa18 .display-oppoa18__text p {
    font-size: -webkit-calc(16px + 8 * ((100vw - 320px) / 960));
    font-size: calc(16px + 8 * ((100vw - 320px) / 960));
  }
}
#oppoa18 .display-oppoa18__media {
  position: relative;
  z-index: 2;
  padding-top: 80px;
}
#oppoa18 .display-oppoa18__image_2 {
  position: absolute;
  z-index: 4;
  right: 0;
  left: 0;
  top: -300px;
}
@media (max-width: 1280px) {
  #oppoa18 .display-oppoa18__image_2 {
    top: -webkit-calc(-40px + -260 * ((100vw - 320px) / 960));
    top: calc(-40px + -260 * ((100vw - 320px) / 960));
  }
}

#oppoa18 .ultrasound-oppoa18 {
  background-color: #000000;
  padding: 80px 0 40px;
}
#oppoa18 .ultrasound-oppoa18__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
#oppoa18 .ultrasound-oppoa18__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  background-color: rgb(19, 19, 18);
}
#oppoa18 .ultrasound-oppoa18__text {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}
#oppoa18 .ultrasound-oppoa18__text h2 {
  font-size: 42px;
  line-height: 1.2;
  color: #ffffff;
  margin-bottom: 10px;
}
@media (max-width: 1280px) {
  #oppoa18 .ultrasound-oppoa18__text h2 {
    font-size: -webkit-calc(22px + 20 * ((100vw - 320px) / 960));
    font-size: calc(22px + 20 * ((100vw - 320px) / 960));
  }
}
#oppoa18 .ultrasound-oppoa18__text span {
  display: block;
  font-size: 42px;
  line-height: 1.2;
  color: #ffffff;
  opacity: 0.6;
  margin-bottom: 10px;
}
@media (max-width: 1280px) {
  #oppoa18 .ultrasound-oppoa18__text span {
    font-size: -webkit-calc(22px + 20 * ((100vw - 320px) / 960));
    font-size: calc(22px + 20 * ((100vw - 320px) / 960));
  }
}
#oppoa18 .ultrasound-oppoa18__text p {
  font-size: 24px;
  line-height: 1.2;
  color: #ffffff;
}
@media (max-width: 1280px) {
  #oppoa18 .ultrasound-oppoa18__text p {
    font-size: -webkit-calc(16px + 8 * ((100vw - 320px) / 960));
    font-size: calc(16px + 8 * ((100vw - 320px) / 960));
  }
}
#oppoa18 .ultrasound-oppoa18__image {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  position: relative;
  padding-bottom: 50%;
}
#oppoa18 .ultrasound-oppoa18__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

#oppoa18 .battery-oppoa18 {
  background-color: #000000;
  padding: 40px 0 40px;
}
#oppoa18 .battery-oppoa18__text {
  width: 90%;
  margin: 0 auto;
}
#oppoa18 .battery-oppoa18__text h2 {
  font-size: 42px;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
}
@media (max-width: 1280px) {
  #oppoa18 .battery-oppoa18__text h2 {
    font-size: -webkit-calc(22px + 20 * ((100vw - 320px) / 960));
    font-size: calc(22px + 20 * ((100vw - 320px) / 960));
  }
}
#oppoa18 .battery-oppoa18__text span {
  display: block;
  font-size: 42px;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
  opacity: 0.6;
  margin-bottom: 10px;
}
@media (max-width: 1280px) {
  #oppoa18 .battery-oppoa18__text span {
    font-size: -webkit-calc(22px + 20 * ((100vw - 320px) / 960));
    font-size: calc(22px + 20 * ((100vw - 320px) / 960));
  }
}
#oppoa18 .battery-oppoa18__text p {
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
}
@media (max-width: 1280px) {
  #oppoa18 .battery-oppoa18__text p {
    font-size: -webkit-calc(16px + 8 * ((100vw - 320px) / 960));
    font-size: calc(16px + 8 * ((100vw - 320px) / 960));
  }
}
#oppoa18 .design-oppoa18__title {
  padding: 40px 0;
}
#oppoa18 .design-oppoa18__title h2 {
  font-size: 42px;
  line-height: 1.2;
  text-align: center;
}
@media (max-width: 1280px) {
  #oppoa18 .design-oppoa18__title h2 {
    font-size: -webkit-calc(22px + 20 * ((100vw - 320px) / 960));
    font-size: calc(22px + 20 * ((100vw - 320px) / 960));
  }
}
#oppoa18 .design-oppoa18__bg {
  position: relative;
  z-index: 2;
}
#oppoa18 .design-oppoa18__text {
  position: absolute;
  z-index: 5;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 2%;
  width: 43%;
}
#oppoa18 .design-oppoa18__text h2 {
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 10px;
}
@media (max-width: 1280px) {
  #oppoa18 .design-oppoa18__text h2 {
    font-size: -webkit-calc(22px + 20 * ((100vw - 320px) / 960));
    font-size: calc(22px + 20 * ((100vw - 320px) / 960));
  }
}
#oppoa18 .design-oppoa18__text span {
  display: block;
  font-size: 42px;
  line-height: 1.2;
  opacity: 0.6;
  margin-bottom: 10px;
}
@media (max-width: 1280px) {
  #oppoa18 .design-oppoa18__text span {
    font-size: -webkit-calc(22px + 20 * ((100vw - 320px) / 960));
    font-size: calc(22px + 20 * ((100vw - 320px) / 960));
  }
}
#oppoa18 .design-oppoa18__text p {
  font-size: 24px;
  line-height: 1.2;
}
@media (max-width: 1280px) {
  #oppoa18 .design-oppoa18__text p {
    font-size: -webkit-calc(16px + 8 * ((100vw - 320px) / 960));
    font-size: calc(16px + 8 * ((100vw - 320px) / 960));
  }
}

#oppoa18 .glow-oppoa18 {
  padding: 40px 0;
}
#oppoa18 .glow-oppoa18__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#oppoa18 .glow-oppoa18__item {
  min-width: 0;
}
#oppoa18 .glow-oppoa18__item:nth-child(1) {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 640px;
     -moz-box-flex: 0;
      -ms-flex: 0 1 640px;
          flex: 0 1 640px;
  background-color: rgb(249, 249, 249);
  padding: 50px 64px 0px 64px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#oppoa18 .glow-oppoa18__item:nth-child(2) {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 640px;
     -moz-box-flex: 0;
      -ms-flex: 0 1 640px;
          flex: 0 1 640px;
}

#oppoa18 .glow-oppoa18-left__slider {
  padding-bottom: 20%;
}
#oppoa18 .glow-oppoa18-left__text {
  margin-bottom: 15px;
}
#oppoa18 .glow-oppoa18-left__text h2 {
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 10px;
}
@media (max-width: 1280px) {
  #oppoa18 .glow-oppoa18-left__text h2 {
    font-size: -webkit-calc(20px + 16 * ((100vw - 320px) / 960));
    font-size: calc(20px + 16 * ((100vw - 320px) / 960));
  }
}
#oppoa18 .glow-oppoa18-left__text p {
  font-size: 24px;
  line-height: 1.2;
}
@media (max-width: 1280px) {
  #oppoa18 .glow-oppoa18-left__text p {
    font-size: -webkit-calc(12px + 12 * ((100vw - 320px) / 960));
    font-size: calc(12px + 12 * ((100vw - 320px) / 960));
  }
}
#oppoa18 .glow-oppoa18-left__image {
  width: 100%;
  height: 301px;
  position: relative;
  z-index: 2;
}
#oppoa18 .glow-oppoa18-left__image img {
  width: 100%;
  height: 301px;
  position: absolute;
  z-index: 5;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

#oppoa18 .glow-oppoa18 .swiper-pagination {
  width: auto;
  left: 0;
  right: auto;
  bottom: 40px;
  background: none;
}

#oppoa18 .glow-oppoa18 .swiper-pagination-bullet {
  width: 32px;
  height: 32px;
  margin: 0 50px;
  position: relative;
  z-index: 2;
  opacity: 1;
}
#oppoa18 .glow-oppoa18 .swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  width: 37px;
  height: 37px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
#oppoa18 .glow-oppoa18 .swiper-pagination-bullet::after {
  position: absolute;
  z-index: 5;
  bottom: -35px;
  left: -20px;
  font-size: 13px;
  line-height: 1;
}
#oppoa18 .glow-oppoa18 .swiper-pagination-bullet:nth-child(1) {
  background: -webkit-linear-gradient(131.71deg, #7fcef5 7.54%, #e0faff 108.3%);
  background: -o-linear-gradient(131.71deg, #7fcef5 7.54%, #e0faff 108.3%);
  background: linear-gradient(318.29deg, #7fcef5 7.54%, #e0faff 108.3%);
}
#oppoa18 .glow-oppoa18 .swiper-pagination-bullet:nth-child(1)::before {
  border: 1px solid #7fcef5;
}
#oppoa18 .glow-oppoa18 .swiper-pagination-bullet:nth-child(1)::after {
  content: "Сверкающий Голубой";
}
#oppoa18 .glow-oppoa18 .swiper-pagination-bullet:nth-child(2) {
  background: -webkit-linear-gradient(131.71deg, #212121 7.54%, #a9a9a9 108.3%);
  background: -o-linear-gradient(131.71deg, #212121 7.54%, #a9a9a9 108.3%);
  background: linear-gradient(318.29deg, #212121 7.54%, #a9a9a9 108.3%);
}
#oppoa18 .glow-oppoa18 .swiper-pagination-bullet:nth-child(2)::before {
  border: 1px solid #212121;
}
#oppoa18 .glow-oppoa18 .swiper-pagination-bullet:nth-child(2)::after {
  content: "Сверкающий Черный";
}

#oppoa18 .glow-oppoa18 .swiper-pagination-bullet-active:nth-child(1)::before, #oppoa18 .glow-oppoa18 .swiper-pagination-bullet-active:nth-child(2)::before {
  opacity: 1;
}

#oppoa18 .glow-oppoa18-right__slide:nth-child(1) {
  background: -webkit-linear-gradient(321.69deg, rgba(224, 250, 255, 0.5), rgba(127, 206, 245, 0.5)), -webkit-linear-gradient(bottom, #fff, #fff);
  background: -o-linear-gradient(321.69deg, rgba(224, 250, 255, 0.5), rgba(127, 206, 245, 0.5)), -o-linear-gradient(bottom, #fff, #fff);
  background: linear-gradient(128.31deg, rgba(224, 250, 255, 0.5), rgba(127, 206, 245, 0.5)), linear-gradient(0deg, #fff, #fff);
}
#oppoa18 .glow-oppoa18-right__slide:nth-child(2) {
  background: -webkit-linear-gradient(321.69deg, rgba(186, 208, 239, 0.6), rgba(6, 26, 54, 0.6)), -webkit-linear-gradient(bottom, #fff, #fff);
  background: -o-linear-gradient(321.69deg, rgba(186, 208, 239, 0.6), rgba(6, 26, 54, 0.6)), -o-linear-gradient(bottom, #fff, #fff);
  background: linear-gradient(128.31deg, rgba(186, 208, 239, 0.6), rgba(6, 26, 54, 0.6)), linear-gradient(0deg, #fff, #fff);
}
#oppoa18 .glow-oppoa18-right__image {
  width: 100%;
  height: 640px;
  position: relative;
  z-index: 2;
}
#oppoa18 .glow-oppoa18-right__image img {
  width: 100%;
  height: 640px;
  position: absolute;
  z-index: 5;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

#oppoa18 .foto-oppoa18__title {
  padding: 40px 15px;
}
#oppoa18 .foto-oppoa18__title h2 {
  font-size: 60px;
  line-height: 1.2;
  text-align: center;
}
@media (max-width: 1280px) {
  #oppoa18 .foto-oppoa18__title h2 {
    font-size: -webkit-calc(25px + 35 * ((100vw - 320px) / 960));
    font-size: calc(25px + 35 * ((100vw - 320px) / 960));
  }
}
#oppoa18 .foto-oppoa18__bg {
  background-color: rgb(249, 249, 249);
  padding: 40px 0 40px;
}
#oppoa18 .foto-oppoa18__sub-title {
  padding: 0 0 30px;
}
#oppoa18 .foto-oppoa18__sub-title h2 {
  font-size: 42px;
  line-height: 1.2;
}
@media (max-width: 1280px) {
  #oppoa18 .foto-oppoa18__sub-title h2 {
    font-size: -webkit-calc(22px + 20 * ((100vw - 320px) / 960));
    font-size: calc(22px + 20 * ((100vw - 320px) / 960));
  }
}
#oppoa18 .foto-oppoa18__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
#oppoa18 .foto-oppoa18__item {
  min-width: 0;
}
#oppoa18 .foto-oppoa18__item:nth-child(1) {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 860px;
     -moz-box-flex: 0;
      -ms-flex: 0 1 860px;
          flex: 0 1 860px;
}
#oppoa18 .foto-oppoa18__item:nth-child(2) {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 432px;
     -moz-box-flex: 0;
      -ms-flex: 0 1 432px;
          flex: 0 1 432px;
}

#oppoa18 .foto-oppoa18-left__slider {
  padding-bottom: 35px;
}
#oppoa18 .foto-oppoa18-left__text h2 {
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 10px;
}
@media (max-width: 1280px) {
  #oppoa18 .foto-oppoa18-left__text h2 {
    font-size: -webkit-calc(20px + 16 * ((100vw - 320px) / 960));
    font-size: calc(20px + 16 * ((100vw - 320px) / 960));
  }
}
#oppoa18 .foto-oppoa18-left__text p {
  font-size: 24px;
  line-height: 1.2;
}
@media (max-width: 1280px) {
  #oppoa18 .foto-oppoa18-left__text p {
    font-size: -webkit-calc(12px + 12 * ((100vw - 320px) / 960));
    font-size: calc(12px + 12 * ((100vw - 320px) / 960));
  }
}

#oppoa18 .swiper-button-next, #oppoa18 .swiper-button-prev {
  bottom: 0;
  top: auto;
  background: url("https://cdn.comfy.ua/media/x/img3/2691322/arrow.png") 0 0 no-repeat;
  -webkit-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  width: 28px;
  height: 28px;
}

#oppoa18 .swiper-button-prev {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
       -o-transform: rotate(-180deg);
          transform: rotate(-180deg);
  right: 0;
  margin-right: 50px;
  left: auto;
}

#oppoa18 .swiper-button-prev:after, #oppoa18 .swiper-button-next:after {
  content: "";
}

#oppoa18 .foto-oppoa18 .swiper-horizontal .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 4px;
  top: auto;
  left: auto;
  right: 0;
  width: auto;
  background-color: rgb(217, 217, 217);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  padding: 1px 0;
}

#oppoa18 .foto-oppoa18 .swiper-pagination-bullet {
  background: none;
  opacity: 1;
  width: 42px;
  height: 26px;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  position: relative;
  z-index: 2;
}
#oppoa18 .foto-oppoa18 .swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 13px;
  line-height: 1;
}
#oppoa18 .foto-oppoa18 .swiper-pagination-bullet:nth-child(1)::after {
  content: "ON";
}
#oppoa18 .foto-oppoa18 .swiper-pagination-bullet:nth-child(2)::after {
  content: "OFF";
}

#oppoa18 .foto-oppoa18 .swiper-pagination-bullet-active {
  background-color: #ffffff;
}

#oppoa18 .foto-oppoa18-right__slider {
  padding-bottom: 35px;
}
#oppoa18 .foto-oppoa18-right__text {
  padding-top: 10px;
}
#oppoa18 .foto-oppoa18-right__text h2 {
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 10px;
}
@media (max-width: 1280px) {
  #oppoa18 .foto-oppoa18-right__text h2 {
    font-size: -webkit-calc(20px + 16 * ((100vw - 320px) / 960));
    font-size: calc(20px + 16 * ((100vw - 320px) / 960));
  }
}
#oppoa18 .foto-oppoa18-right__text p {
  font-size: 24px;
  line-height: 1.2;
}
@media (max-width: 1280px) {
  #oppoa18 .foto-oppoa18-right__text p {
    font-size: -webkit-calc(12px + 12 * ((100vw - 320px) / 960));
    font-size: calc(12px + 12 * ((100vw - 320px) / 960));
  }
}

#oppoa18 .quality-oppoa18__title {
  padding: 40px 15px;
}
#oppoa18 .quality-oppoa18__title h2 {
  font-size: 60px;
  line-height: 1.2;
  text-align: center;
}
@media (max-width: 1280px) {
  #oppoa18 .quality-oppoa18__title h2 {
    font-size: -webkit-calc(25px + 35 * ((100vw - 320px) / 960));
    font-size: calc(25px + 35 * ((100vw - 320px) / 960));
  }
}
#oppoa18 .quality-oppoa18__bg {
  background: url("https://cdn.comfy.ua/media/x/img3/2691322/img22.jpg") 20% 0 no-repeat;
  min-height: 800px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#oppoa18 .quality-oppoa18__box {
  width: 50%;
}
#oppoa18 .quality-oppoa18__box h2 {
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 10px;
  color: #ffffff;
}
@media (max-width: 1280px) {
  #oppoa18 .quality-oppoa18__box h2 {
    font-size: -webkit-calc(22px + 20 * ((100vw - 320px) / 960));
    font-size: calc(22px + 20 * ((100vw - 320px) / 960));
  }
}
#oppoa18 .quality-oppoa18__box p {
  font-size: 24px;
  line-height: 1.2;
  color: #ffffff;
}
@media (max-width: 1280px) {
  #oppoa18 .quality-oppoa18__box p {
    font-size: -webkit-calc(16px + 8 * ((100vw - 320px) / 960));
    font-size: calc(16px + 8 * ((100vw - 320px) / 960));
  }
}
#oppoa18 .quality-oppoa18__row {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px 10px;
}
#oppoa18 .quality-oppoa18__item {
  background-color: rgba(27, 27, 27, 0.5019607843);
  padding: 24px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}
#oppoa18 .quality-oppoa18__text h4 {
  font-size: 25px;
  line-height: 1.2;
  color: #ffffff;
  margin-bottom: 40px;
}
@media (max-width: 1280px) {
  #oppoa18 .quality-oppoa18__text h4 {
    font-size: -webkit-calc(18px + 7 * ((100vw - 320px) / 960));
    font-size: calc(18px + 7 * ((100vw - 320px) / 960));
  }
}
#oppoa18 .quality-oppoa18__text p {
  font-size: 20px;
  line-height: 1.2;
  color: #ffffff;
}
@media (max-width: 1280px) {
  #oppoa18 .quality-oppoa18__text p {
    font-size: -webkit-calc(16px + 4 * ((100vw - 320px) / 960));
    font-size: calc(16px + 4 * ((100vw - 320px) / 960));
  }
}

#oppoa18 .column-oppoa18__title {
  padding: 40px 15px;
}
#oppoa18 .column-oppoa18__title h2 {
  font-size: 60px;
  line-height: 1.2;
  text-align: center;
}
@media (max-width: 1280px) {
  #oppoa18 .column-oppoa18__title h2 {
    font-size: -webkit-calc(25px + 35 * ((100vw - 320px) / 960));
    font-size: calc(25px + 35 * ((100vw - 320px) / 960));
  }
}
#oppoa18 .column-oppoa18__row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px 10px;
}
#oppoa18 .column-oppoa18__text {
  padding-top: 20px;
}
#oppoa18 .column-oppoa18__text h2 {
  font-size: 26px;
  line-height: 1.2;
  margin-bottom: 8px;
}
@media (max-width: 1280px) {
  #oppoa18 .column-oppoa18__text h2 {
    font-size: -webkit-calc(18px + 8 * ((100vw - 320px) / 960));
    font-size: calc(18px + 8 * ((100vw - 320px) / 960));
  }
}
#oppoa18 .column-oppoa18__text p {
  font-size: 20px;
  line-height: 1.2;
}
@media (max-width: 1280px) {
  #oppoa18 .column-oppoa18__text p {
    font-size: -webkit-calc(16px + 4 * ((100vw - 320px) / 960));
    font-size: calc(16px + 4 * ((100vw - 320px) / 960));
  }
}
#oppoa18 .column-oppoa18__snoska {
  padding: 40px 0;
}
#oppoa18 .column-oppoa18__snoska p {
  font-size: 25px;
  line-height: 1.2;
  text-align: center;
}
@media (max-width: 1280px) {
  #oppoa18 .column-oppoa18__snoska p {
    font-size: -webkit-calc(16px + 9 * ((100vw - 320px) / 960));
    font-size: calc(16px + 9 * ((100vw - 320px) / 960));
  }
}

@media (min-width: 620px) and (max-width: 767.98px) {
  #oppoa18 .header-oppoa18__title h2 {
    font-size: 120px;
  }
  #oppoa18 .header-oppoa18__text {
    bottom: 5%;
  }
  #oppoa18 .header-oppoa18__text p {
    font-size: 24px;
  }
}
@media screen and (max-width: 1050px) {
  #oppoa18 .design-oppoa18__text {
    width: 55%;
  }
}
@media screen and (max-width: 991.98px) {
  #oppoa18 .design-oppoa18__text {
    width: 60%;
  }
  #oppoa18 .glow-oppoa18__item:nth-child(1) {
    padding: 20px 30px 0px 30px;
  }
  #oppoa18 .glow-oppoa18 .swiper-pagination-bullet {
    width: 22px;
    height: 22px;
  }
  #oppoa18 .glow-oppoa18 .swiper-pagination-bullet::before {
    width: 27px;
    height: 27px;
  }
  #oppoa18 .glow-oppoa18 .swiper-pagination-bullet::after {
    left: -27px;
  }
  #oppoa18 .glow-oppoa18-right__image {
    height: 570px;
  }
  #oppoa18 .glow-oppoa18-right__image img {
    height: 570px;
  }
}
@media screen and (max-width: 767.98px) {
  #oppoa18 .osobennosti-oppoa18__row {
    grid-template-columns: 1fr 1fr;
  }
  #oppoa18 .osobennosti-oppoa18__item:nth-child(1) {
    grid-row: 1;
    grid-column: span 2;
  }
  #oppoa18 .quality-oppoa18__bg {
    background-position-x: 0;
    min-height: auto;
    padding: 100px 0;
  }
  #oppoa18 .quality-oppoa18__row {
    gap: 10px;
  }
  #oppoa18 .quality-oppoa18__text h4 {
    margin-bottom: 20px;
  }
  #oppoa18 .quality-oppoa18__item {
    padding: 15px;
  }
  #oppoa18 .quality-oppoa18__box {
    width: auto;
  }
  #oppoa18 .glow-oppoa18 .swiper-pagination-bullet {
    margin: 0 30px;
  }
  #oppoa18 .glow-oppoa18-right__image,
  #oppoa18 .glow-oppoa18-right__image img {
    height: 464px;
  }
  #oppoa18 .glow-oppoa18-left__image {
    height: 201px;
  }
  #oppoa18 .glow-oppoa18-left__image img {
    height: 201px;
  }
  #oppoa18 .design-oppoa18__text {
    width: 74%;
  }
  #oppoa18 .oput-oppoa18__text {
    padding: 20px 15px;
  }
  #oppoa18 .quality-oppoa18__row {
    padding-top: 30px;
  }
}
@media screen and (max-width: 620px) {
  #oppoa18 .glow-oppoa18 .swiper-pagination-bullet::after {
    left: -21px;
    font-size: 12px;
  }
  #oppoa18 .glow-oppoa18 .swiper-pagination {
    bottom: 66px;
  }
  #oppoa18 .column-oppoa18__title,
  #oppoa18 .quality-oppoa18__title {
    padding: 20px 15px;
  }
  #oppoa18 .design-oppoa18__title {
    padding: 20px 0px;
  }
  #oppoa18 .glow-oppoa18 {
    padding-top: 0;
  }
  #oppoa18 .foto-oppoa18__title {
    padding: 0 15px 20px;
  }
  #oppoa18 .glow-oppoa18__item:nth-child(1) {
    padding: 20px 15px 0;
  }
  #oppoa18 .glow-oppoa18-left__image img,
  #oppoa18 .glow-oppoa18-right__image img {
    position: unset;
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
         -o-transform: translate(0);
            transform: translate(0);
  }
  #oppoa18 .glow-oppoa18-left__image img,
  #oppoa18 .glow-oppoa18-left__image,
  #oppoa18 .glow-oppoa18-right__image,
  #oppoa18 .glow-oppoa18-right__image img {
    height: auto;
  }
  #oppoa18 .foto-oppoa18__item:nth-child(1),
  #oppoa18 .foto-oppoa18__item:nth-child(2) {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
       -moz-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
  #oppoa18 .foto-oppoa18__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #oppoa18 .glow-oppoa18__row {
    display: block;
  }
  #oppoa18 .design-oppoa18__text {
    width: auto;
    position: unset;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
    padding-bottom: 10px;
  }
  #oppoa18 .display-oppoa18__media {
    padding-top: 40px;
  }
  #oppoa18 .display-oppoa18 {
    padding-top: 50px;
  }
  #oppoa18 .header-oppoa18__text {
    bottom: 5%;
  }
  #oppoa18 .osobennosti-oppoa18__row {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
       -moz-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  #oppoa18 .oput-oppoa18__inner {
    display: block;
  }
  #oppoa18 .oput-oppoa18__text:not(:last-child) {
    margin-bottom: 10px;
  }
  #oppoa18 .oput-oppoa18__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
  }
  #oppoa18 .ultrasound-oppoa18__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #oppoa18 .ultrasound-oppoa18__image {
    padding-bottom: 0;
  }
  #oppoa18 .ultrasound-oppoa18__image img {
    position: unset;
  }
  #oppoa18 .ultrasound-oppoa18__text {
    width: auto;
    padding: 20px 15px;
  }
  #oppoa18 .osobennosti-oppoa18__title h2 {
    padding: 20px 0;
  }
  #oppoa18 .osobennosti-oppoa18 {
    padding-top: 0;
  }
}
@media screen and (max-width: 480px) {
  #oppoa18 .glow-oppoa18 .swiper-pagination {
    bottom: 46px;
  }
  #oppoa18 .glow-oppoa18-left__slider {
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 479.98px) {
  #oppoa18 .display-oppoa18__text,
  #oppoa18 .battery-oppoa18__text {
    width: auto;
  }
  #oppoa18 .ultrasound-oppoa18 {
    padding-top: 30px;
  }
  #oppoa18 .battery-oppoa18 {
    padding-top: 10px;
  }
  #oppoa18 .glow-oppoa18-left__text p {
    font-size: 15px;
  }
  #oppoa18 .osobennosti-oppoa18__text p {
    font-size: 13px;
  }
}/*# sourceMappingURL=style.css.map */